<div class="container-body">
    <div class="container-order">
        <mat-tab-group [(selectedIndex)]="tabIndex" (selectedIndexChange)="changeTab()">
            <mat-tab *ngFor="let item of listTab">
                <ng-template mat-tab-label>
                    <span>{{item.name}}</span>
                </ng-template>
                <div class="container-order-tab" *ngIf="loaded | async">
                    <div class="flex-row d-flex align-items-center">
                        <div class="float-start user-select-none" style="width: 30%;">
                            <mat-form-field class="p-0" appearance="outline" style="width: 100%;">
                                <mat-label>Tìm kiếm mã đơn hàng</mat-label>
                                <input matInput [(ngModel)]="params.maDonHang">
                                <mat-icon matSuffix *ngIf="params.maDonHang" (click)="params.maDonHang=''; toHeadPage(); changeTab()">close</mat-icon>
                            </mat-form-field>
                        </div>
                        <div class="float-start user-select-none" style="margin-left: 1rem;">
                            <button mat-raised-button (click)="toHeadPage(); changeTab()" color="primary">
                                <mat-icon>search</mat-icon> Tìm kiếm
                            </button>
                        </div>
                    </div>
                    <table mat-table [dataSource]="listDonHang" class="mat-elevation-z8" matSort matSortDisableClear [matSortDirection]="sortDirection" [matSortActive]="sortActive" (matSortChange)="sortData($event)">
                        <ng-container matColumnDef="stt">
                            <th mat-header-cell *matHeaderCellDef>STT</th>
                            <td mat-cell *matCellDef="let element">{{element.stt}}</td>
                        </ng-container>
                        <ng-container matColumnDef="maDonHang">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Mã đơn hàng</th>
                            <td mat-cell *matCellDef="let element">{{element.maDonHang}}</td>
                        </ng-container>
                        <ng-container matColumnDef="createdAt">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Ngày</th>
                            <td mat-cell *matCellDef="let element">{{element.createdAt | date: "HH:mm:ss dd/MM/yyyy"}}</td>
                        </ng-container>
                        <ng-container matColumnDef="tinhTrangDonHangId">
                            <th mat-header-cell *matHeaderCellDef>Tình trạng đơn hàng</th>
                            <td mat-cell *matCellDef="let element">{{element.tinhTrang}}</td>
                        </ng-container>
                        <ng-container matColumnDef="thanhTien">
                            <th mat-header-cell *matHeaderCellDef>Thành tiền</th>
                            <td mat-cell *matCellDef="let element">{{element.thanhTien | number}}&#8363;</td>
                        </ng-container>
                        <ng-container matColumnDef="thaoTac">
                            <th mat-header-cell *matHeaderCellDef>Thao tác</th>
                            <td mat-cell *matCellDef="let element">
                                <mat-icon matTooltip="Xem đơn hàng" matTooltipPosition="above" matTooltipShowDelay="300"
                                    (click)="viewDonHang(element)">
                                    visibility
                                </mat-icon>
                            </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true" class="user-select-none"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="element-row text-center"></tr>
                        <tr class="mat-row text-center" *matNoDataRow>
                            <td class="mat-cell" colspan="6">Không có dữ liệu</td>
                        </tr>
                    </table>
                    <div class="d-flex flex-row align-items-center" style="margin-top: 1rem;">
                        <div class="float-end user-select-none" style="width: 100%;">
                            <mat-paginator #paginator [length]="totalRecord" [pageSize]="params.pageSize" [pageSizeOptions]="[10,20,50]" (page)="changeTab($event)"></mat-paginator>
                        </div>
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>
