<div class="container-body" *ngIf="loaded | async">
    <div *ngIf="shop.hoatDong && shop.userHoatDong then active else banned"></div>
    <ng-template #banned>
        <div class="user-select-none container-content text-center error-box">
            <div class="content">
                <br><br><br><br>
                <h1>OOPS!</h1>
                <br>
                <h2>Uh Oh! Có vẻ như shop đã bị ban!</h2>
                <br>
                <a routerLink="/home">
                    <button mat-raised-button>Trở về trang chủ</button>
                </a>
                <br><br><br><br>
            </div>
        </div>
    </ng-template>
    <ng-template #active>
        <div class="container-content"></div>
    </ng-template>
</div>
