<div class="container-body">
    <div class="container-content">
        <h2 class="fw-bold user-select-none">QUẢN LÝ MÃ GIẢM GIÁ</h2>
        <div class="flex-row d-flex user-select-none">
            <mat-form-field appearance="outline" style="width: 30%;">
                <mat-label>Trạng thái</mat-label>
                <mat-select [(ngModel)]="params.trangThai" (ngModelChange)="toHeadPage(); getAllMaGiamGia()">
                    <mat-option value="">---Chọn trạng thái---</mat-option>
                    <mat-option value="1">Chưa bắt đầu</mat-option>
                    <mat-option value="2">Đã bắt đầu</mat-option>
                    <mat-option value="3">Đã kết thúc</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline" style="width: 30%; margin-left: 5%;">
                <mat-label>Loại sản phẩm</mat-label>
                <mat-select [(ngModel)]="params.loaiSanPhamId" (ngModelChange)="checkLoaiSanPhamId(); toHeadPage(); getAllMaGiamGia()" multiple #selectLoaiSanPham>
                    <mat-option value="">---Chọn loại sản phẩm---</mat-option>
                    <mat-option *ngFor="let item of listCategory" [value]="item.id">{{item.tenLoaiSanPham}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="d-flex flex-row align-items-center">
            <div class="float-start user-select-none" style="width: 30%;">
                <mat-form-field class="p-0" appearance="outline" style="width: 100%;">
                    <mat-label>Tìm kiếm</mat-label>
                    <input matInput [(ngModel)]="params.searchString">
                    <mat-icon matSuffix *ngIf="params.searchString" (click)="params.searchString=''; toHeadPage(); getAllMaGiamGia()">close</mat-icon>
                </mat-form-field>
            </div>
            <div class="float-start user-select-none" style="margin-left: 1rem;">
                <button mat-raised-button (click)="toHeadPage(); getAllMaGiamGia()" color="primary">
                    <mat-icon>search</mat-icon> Tìm kiếm
                </button>
            </div>
        </div>
        <div class="flex-row d-flex align-items-center">
            <button mat-raised-button class="create-button" (click)="openDialogAddMaGiamGia()" style="min-width: max-content;">Thêm mới</button>
            <div class="float-end user-select-none" style="width: 100%;">
                <mat-paginator #paginator [length]="totalRecord" [pageSize]="params.pageSize" [pageSizeOptions]="[10,20,50]" (page)="getAllMaGiamGia($event)"></mat-paginator>
            </div>
        </div>
        <div *ngIf="loaded | async">
            <table mat-table [dataSource]="listCoupon" class="mat-elevation-z8" matSort matSortDisableClear [matSortDirection]="sortDirection" [matSortActive]="sortActive" (matSortChange)="toHeadPage(); sortData($event)">
                <ng-container matColumnDef="stt">
                    <th mat-header-cell *matHeaderCellDef>STT</th>
                    <td mat-cell *matCellDef="let element">{{element.stt}}</td>
                </ng-container>
                <ng-container matColumnDef="tenMaGiamGia">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Tên mã giảm giá</th>
                    <td mat-cell *matCellDef="let element">{{element.tenMaGiamGia}}</td>
                </ng-container>
                <ng-container matColumnDef="giamGiaTuLuc">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Giảm giá từ lúc</th>
                    <td mat-cell *matCellDef="let element">{{element.giamGiaTuLuc | date: "HH:mm:ss, dd/MM/yyyy"}}</td>
                </ng-container>
                <ng-container matColumnDef="giamGiaDenLuc">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Giảm giá đến lúc</th>
                    <td mat-cell *matCellDef="let element">{{element.giamGiaDenLuc | date: "HH:mm:ss, dd/MM/yyyy"}}</td>
                </ng-container>
                <ng-container matColumnDef="phanTramGiamGia">
                    <th mat-header-cell *matHeaderCellDef>Phần trăm giảm giá</th>
                    <td mat-cell *matCellDef="let element">{{element.phanTramGiamGia}}</td>
                </ng-container>
                <ng-container matColumnDef="soLuong">
                    <th mat-header-cell *matHeaderCellDef>Số lượng</th>
                    <td mat-cell *matCellDef="let element">{{element.soLuong}}</td>
                </ng-container>
                <ng-container matColumnDef="thaoTac">
                    <th mat-header-cell *matHeaderCellDef>Thao tác</th>
                    <td mat-cell *matCellDef="let element">
                        <mat-icon matTooltip="Cập nhật mã giảm giá" matTooltipPosition="above" matTooltipShowDelay="300"
                            (click)="openDialogUpdateMaGiamGia(element)">
                            edit
                        </mat-icon>
                        <mat-icon matTooltip="Xóa mã giảm giá" matTooltipPosition="above" matTooltipShowDelay="300" class="text-danger" style="margin-left: 0.5rem;"
                            (click)="deleteMaGiamGia(element.id)">
                            delete
                        </mat-icon>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true" class="user-select-none"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="element-row"></tr>
                <tr class="mat-row text-center" *matNoDataRow>
                    <td class="mat-cell" colspan="7">Không có dữ liệu</td>
                </tr>
            </table>
        </div>
    </div>
</div>
