<div mat-dialog-content>
    <div *ngFor="let item of data.item.listMaGiamGia">
        <div class="coupon-item" [class.coupon-item-active]="maGiamGia && maGiamGia.id === item.id"
            (click)="chooseMaGiamGia(item)" *ngIf="data.item.giamGia * data.item.soLuong >= item.dieuKienGiamGia">
            <p><strong>{{item.tenMaGiamGia}}</strong></p>
            <p>{{item.moTaMaGiamGia}}</p>
            <p class="fst-italic">Giảm {{item.phanTramGiamGia}}% cho các sản phẩm có giá trị {{item.dieuKienGiamGia | number}}&#8363; trở lên, giảm tối đa {{item.giamGiaToiDa | number}}&#8363;</p>
        </div>
        <div class="coupon-item-disabled" *ngIf="data.item.giamGia * data.item.soLuong < item.dieuKienGiamGia">
            <p><strong>{{item.tenMaGiamGia}}</strong></p>
            <p>{{item.moTaMaGiamGia}}</p>
            <p class="fst-italic">Giảm {{item.phanTramGiamGia}}% cho các sản phẩm có giá trị {{item.dieuKienGiamGia | number}}&#8363; trở lên, giảm tối đa {{item.giamGiaToiDa | number}}&#8363;</p>
        </div>
    </div>
    <div *ngIf="!data.item.listMaGiamGia.length" class="text-center">
        Không có mã giảm giá nào
    </div>
    <span class="text-center user-select-none">
        <mat-error *ngIf="error">{{error}}</mat-error>
    </span>
</div>
<div mat-dialog-actions class="float-end">
    <button mat-raised-button color="primary" (click)="save()">Chọn</button>
    <button mat-raised-button color="warn" (click)="remove()" *ngIf="maGiamGia">Bỏ chọn</button>
    <button mat-raised-button mat-dialog-close>Thoát</button>
</div>
