.coupon-item {
    cursor: pointer;
    padding: 0.5rem;
    border: transparent 2px solid;

    &-active {
        background-color: rgba(0, 140, 255, 0.185);
        border: rgb(30, 117, 247) 2px solid;
    }

    &-disabled {
        cursor: pointer;
        padding: 0.5rem;
        border: transparent 2px solid;
        cursor: not-allowed;
        color: rgb(165, 165, 165);
    }
}

.coupon-item:not(:last-of-type) {
    margin-bottom: 2rem;
}

.coupon-item:hover {
    background-color: rgba(0, 140, 255, 0.342);
    border: rgb(27, 100, 211) 2px solid;
}
