<div>
    <p mat-dialog-title class="fs-5 text-success user-select-none text-center">
        {{data.item.id ? "Cập nhật loại sản phẩm" : "Thêm mới loại sản phẩm"}}
    </p>
</div>
<div mat-dialog-content>
    <div [formGroup]="formControl">
        <div class="flex-row d-flex align-items-center">
            <p class="fw-bold col-3 user-select-none">Tên loại sản phẩm<span style="color: red;">(*)</span></p>
            <mat-form-field appearance="outline" class="col-9">
                <input matInput type="text" [(ngModel)]="data.item.tenLoaiSanPham" formControlName="tenLoaiSanPham">
                <mat-error class="user-select-none" *ngIf="f.tenLoaiSanPham.hasError('required')">Chưa nhập tên loại sản phẩm</mat-error>
            </mat-form-field>
        </div>
        <div class="flex-row d-flex align-items-center">
            <p class="fw-bold col-3 user-select-none">Mô tả loại sản phẩm</p>
            <mat-form-field appearance="outline" class="col-9">
                <textarea matInput [(ngModel)]="data.item.moTaLoaiSanPham" formControlName="moTaLoaiSanPham" cdkTextareaAutosize
                    #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="4" cdkAutosizeMaxRows="4"></textarea>
            </mat-form-field>
        </div>
    </div>
    <!-- <div *ngIf="data.item.id">
        <br><br>
        <p mat-dialog-title class="fs-5 text-success user-select-none text-center">Bảng thuộc tính</p>
        <table mat-table [dataSource]="listNewAttribute" class="mat-elevation-z8" #newTable cdkDropList
            [cdkDropListData]="listNewAttribute" (cdkDropListDropped)="dropNewTable($event)" [cdkDropListDisabled]="dragDisabled">
            <ng-container matColumnDef="stt">
                <th mat-header-cell *matHeaderCellDef>STT</th>
                <td mat-cell *matCellDef="let element">
                    <mat-form-field appearance="outline" style="padding-left: 0.5rem; padding-right: 0.5rem; width: 100%;">
                        <mat-select [value]="element.soThuTu" class="align-items-center" (selectionChange)="changeNewSoThuTu(element, $event)">
                            <mat-option *ngFor="let item of dsNewThuTu" [value]="item">{{item}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </td>
            </ng-container>
            <ng-container matColumnDef="tenThuocTinh">
                <th mat-header-cell *matHeaderCellDef>Tên thuộc tính</th>
                <td mat-cell *matCellDef="let element">
                    <mat-form-field appearance="outline" style="padding-right: 0.5rem; width: 100%;">
                        <input matInput [(ngModel)]="element.tenThuocTinh">
                    </mat-form-field>
                </td>
            </ng-container>
            <ng-container matColumnDef="thuocTinhMacDinh">
                <th mat-header-cell *matHeaderCellDef>Thuộc tính mặc định</th>
                <td mat-cell *matCellDef="let element">
                    <mat-form-field appearance="outline" style="padding-right: 0.5rem; width: 100%;">
                        <input matInput [(ngModel)]="element.thuocTinhMacDinh">
                    </mat-form-field>
                </td>
            </ng-container>
            <ng-container matColumnDef="thaoTac">
                <th mat-header-cell *matHeaderCellDef>Thao tác</th>
                <td mat-cell *matCellDef="let element">
                    <mat-icon matTooltip="Thay đổi vị trí" matTooltipPosition="above" matTooltipShowDelay="300"
                        (mousedown)="dragDisabled = false;">
                        open_with
                    </mat-icon>
                    <mat-icon matTooltip="Xóa thuộc tính" matTooltipPosition="above" matTooltipShowDelay="300" class="text-danger" style="margin-left: 0.5rem;"                        (click)="deleteNewRow(element)">
                        delete
                    </mat-icon>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedNewColumns; sticky: true" class="user-select-none"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedNewColumns;" class="element-row p-0"
                cdkDrag [cdkDragData]="row" cdkDragLockAxis="y">
            </tr>
            <tr class="mat-row text-center" *matNoDataRow>
                <td class="mat-cell" colspan="4">Không có dữ liệu</td>
            </tr>
        </table>
        <br>
        <div class="flex-row d-flex align-items-center">
            <button mat-raised-button class="create-button" (click)="addNewRow()" style="min-width: max-content;">Thêm mới</button>
            <div class="flex-fill"></div>
            <mat-form-field class="p-0 user-select-none" appearance="outline" style="width: 20rem">
                <mat-label>Tìm kiếm</mat-label>
                <input matInput [(ngModel)]="searchString" (input)="filter()">
                <mat-icon matSuffix *ngIf="searchString" (click)="clearFilter()">close</mat-icon>
            </mat-form-field>
        </div>
        <br>
        <div *ngIf="loaded | async">
            <table mat-table [dataSource]="listAttributeFilter" class="mat-elevation-z8" #table cdkDropList
                [cdkDropListData]="listAttributeFilter" (cdkDropListDropped)="dropTable($event)" [cdkDropListDisabled]="dragDisabled">
                <ng-container matColumnDef="stt">
                    <th mat-header-cell *matHeaderCellDef>STT</th>
                    <td mat-cell *matCellDef="let element">
                        <mat-form-field appearance="outline" style="padding-left: 0.5rem; padding-right: 0.5rem; width: 100%;">
                            <mat-select [value]="element.soThuTu" class="align-items-center" (selectionChange)="changeSoThuTu(element, $event)">
                                <mat-option *ngFor="let item of dsThuTu" [value]="item">{{item}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td>
                </ng-container>
                <ng-container matColumnDef="tenThuocTinh">
                    <th mat-header-cell *matHeaderCellDef>Tên thuộc tính</th>
                    <td mat-cell *matCellDef="let element">
                        <mat-form-field appearance="outline" style="padding-right: 0.5rem; width: 100%;">
                            <input matInput [(ngModel)]="element.tenThuocTinh">
                        </mat-form-field>
                    </td>
                </ng-container>
                <ng-container matColumnDef="thuocTinhMacDinh">
                    <th mat-header-cell *matHeaderCellDef>Thuộc tính mặc định</th>
                    <td mat-cell *matCellDef="let element">
                        <mat-form-field appearance="outline" style="padding-right: 0.5rem; width: 100%;">
                            <input matInput [(ngModel)]="element.thuocTinhMacDinh">
                        </mat-form-field>
                    </td>
                </ng-container>
                <ng-container matColumnDef="thaoTac">
                    <th mat-header-cell *matHeaderCellDef>Thao tác</th>
                    <td mat-cell *matCellDef="let element">
                        <mat-icon matTooltip="Thay đổi vị trí" matTooltipPosition="above" matTooltipShowDelay="300"
                            (mousedown)="dragDisabled = false;">
                            open_with
                        </mat-icon>
                        <mat-icon matTooltip="Xóa thuộc tính" matTooltipPosition="above" matTooltipShowDelay="300" class="text-danger" style="margin-left: 0.5rem;"
                            (click)="deleteRow(element)">
                            delete
                        </mat-icon>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true" class="user-select-none"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="element-row p-0"
                    cdkDrag [cdkDragData]="row" cdkDragLockAxis="y">
                </tr>
                <tr class="mat-row text-center" *matNoDataRow>
                    <td class="mat-cell" colspan="4">Không có dữ liệu</td>
                </tr>
            </table>
        </div>
        <br>
    </div> -->
</div>
<div mat-dialog-actions class="float-end">
    <mat-progress-spinner *ngIf="spinner" color="accent" mode="indeterminate" diameter="20" style="margin-right: 0.75rem;"></mat-progress-spinner>
    <!-- <button mat-raised-button class="create-button" (click)="saveAttribute()" *ngIf="data.item.id">Cập nhật thuộc tính</button> -->
    <button mat-raised-button color="primary" (click)="save()">Lưu</button>
    <button mat-raised-button mat-dialog-close>Thoát</button>
</div>
