.mat-table {
    width: 100%;
}

.mat-column-stt {
    width: 5rem;
    text-align: center;
    padding: 0 !important;
}

.mat-column-thaoTac {
    width: 5rem;
    text-align: center;
    padding: 0 !important;
    border-left: 1px solid rgba(131, 131, 131, 0.616);

    mat-icon {
        cursor: pointer;
    }
}

tr.element-row:hover {
    background: whitesmoke;
}

tr.element-row:active {
    background: #efefef;
}

.p-0 {
    ::ng-deep .mat-form-field-wrapper {
        padding: 0 !important;
    }

    ::ng-deep .mat-form-field-infix {
        width: auto !important;
    }
}

.create-button {
    background-color: rgb(33, 161, 97);
    color: white;
}
