button {
    transition: 0.25s ease-in-out;

    &:hover,
    &:active {
        background-color: hsl(240, 100%, 20%);
        border-radius: 0.5rem;
    }
}

.active {
    transition: 0.25s ease-in-out;
    background-color: hsl(240, 100%, 20%, 0.9);
    border-radius: 0.5rem;
    color: rgb(228, 148, 0);
}

.mat-menu-item .mat-icon {
    margin-right: 0;
}

.border-avatar {
    border: 2px solid rgb(99, 151, 248);
    width: 2rem;
    min-width: 2rem;
    height: 2rem;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    display: inline-block;
    margin-right: 0.5rem;
}

.img {
    width: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.auction-background {
    background-color: hsl(10, 90%, 50%) !important;

    button {
        background-color: hsl(10, 90%, 50%) !important;
        color: hsl(60, 80%, 70%) !important;

        &:hover,
        &:active {
            background-color: hsl(10, 90%, 40%) !important;
        }
    }

    .active {
        background-color: hsl(10, 90%, 40%, 0.9) !important;
        color: rgb(141, 255, 118) !important;
    }
}
