<mat-toolbar class="container-header" color="primary" id="header-toolbar">
    <mat-toolbar-row>
        <a routerLink="/home">
            <button mat-flat-button color="primary" routerLinkActive="active" class="align-items-center">
                <mat-icon>home</mat-icon>
                <span> Trang chủ</span>
            </button>
        </a>
        <div class="flex-fill"></div>
        <div *ngIf="loggedUser then hasAccount else noAccount"></div>
        <ng-template #hasAccount>
            <!-- <a routerLink="/deliver" *ngIf="roleId === DELIVER_ROLE_ID">
                <button mat-flat-button color="primary" routerLinkActive="active" class="align-items-center">
                    <mat-icon>local_shipping</mat-icon>
                    <span> Deliver</span>
                </button>
            </a> -->
            <a routerLink="/admin" *ngIf="roleId === ADMIN_ROLE_ID">
                <button mat-flat-button color="primary" routerLinkActive="active" class="align-items-center">
                    <mat-icon>supervisor_account</mat-icon>
                    <span matBadgeOverlap="false" [matBadge]="soBaoCao" [matBadgeHidden]="!soBaoCao" matBadgeSize="small" matBadgeColor="warn"> Admin</span>
                </button>
            </a>
            <a routerLink="/shop/my-shop">
                <button mat-flat-button color="primary" routerLinkActive="active" class="align-items-center">
                    <mat-icon>shop</mat-icon>
                    <span> Shop</span>
                </button>
            </a>
            <a routerLink="/cart">
                <button mat-flat-button color="primary" routerLinkActive="active" class="align-items-center">
                    <i class="pi pi-shopping-cart"></i>
                    <span matBadgeOverlap="false" [matBadge]="soGioHang" [matBadgeHidden]="!soGioHang" matBadgeSize="small" matBadgeColor="warn"> Giỏ hàng</span>
                </button>
            </a>
            <button #menuButton mat-flat-button color="primary" [matMenuTriggerFor]="menu" class="align-items-center"
                #menuTrigger="matMenuTrigger" (mouseenter)="openMenu(menuTrigger, menuButton)" (mouseleave)="closeMenu(menuTrigger, menuButton)">
                <div class="border-avatar" *ngIf="hasAvatar">
                    <img class="img" [src]="avatarImage">
                </div>
                <span>{{userName}} </span>
                <i class="pi pi-angle-down" matBadgeOverlap="false" matBadge="&#8288;" [matBadgeHidden]="!soThongBao" matBadgeSize="small" matBadgeColor="warn"></i>
            </button>
            <mat-menu #menu="matMenu" xPosition="before" direction="down" yPosition="below">
                <span (mouseenter)="holdMenu()" (mouseleave)="throwMenu(menuTrigger, menuButton)">
                    <a routerLink="/information/my-information">
                        <button mat-menu-item class="align-items-center">
                            <i class="pi pi-user"></i>
                            <span> Thông tin cá nhân</span>
                        </button>
                    </a>
                    <a routerLink="/information/order">
                        <button mat-menu-item class="align-items-center">
                            <mat-icon>shopping_cart</mat-icon>
                            <span> Đơn hàng</span>
                        </button>
                    </a>
                    <a routerLink="/information/notification">
                        <button mat-menu-item class="align-items-center">
                            <i class="pi pi-bell" [matBadge]="soThongBao" [matBadgeHidden]="!soThongBao" matBadgeSize="small" matBadgeColor="warn"></i>
                            <span> Thông báo</span>
                        </button>
                    </a>
                    <button mat-menu-item (click)="logout()" class="align-items-center">
                        <i class="pi pi-sign-out"></i>
                        <span> Đăng xuất</span>
                    </button>
                </span>
            </mat-menu>
        </ng-template>
        <ng-template #noAccount>
            <button mat-flat-button color="primary" (click)="openDialogLogin()">
                <i class="pi pi-sign-in"></i>
                <span> Đăng nhập</span>
            </button>
            <button mat-flat-button color="primary" (click)="openDialogSignup()">
                <i class="pi pi-sign-in"></i>
                <span> Đăng ký</span>
            </button>
        </ng-template>
    </mat-toolbar-row>
</mat-toolbar>
