.wrap-box {
    position: relative;
    height: calc(100% - 8rem);

    .content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
}
h1 {
    font-size: 6rem;
}
button {
    background-color: rgb(33, 161, 97);
    color: white;
    height: 3rem;
    font-size: 1.25rem;
}
