<div>
    <p mat-dialog-title class="fs-5 text-success user-select-none text-center">{{title}}</p>
</div>
<div mat-dialog-content>
    <div [formGroup]="formControl">
        <div class="flex-row d-flex align-items-center">
            <p class="fw-bold col-4 user-select-none">Lý do báo cáo<span style="color: red;">(*)</span></p>
            <mat-form-field appearance="outline" class="col-8">
                <textarea matInput [(ngModel)]="data.item.lyDoBaoCao" formControlName="lyDoBaoCao" cdkTextareaAutosize
                    #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="4" cdkAutosizeMaxRows="4"></textarea>
                <mat-error class="user-select-none" *ngIf="f.lyDoBaoCao.hasError('required')">Chưa nhập lý do báo cáo</mat-error>
            </mat-form-field>
        </div>
    </div>
</div>
<div mat-dialog-actions class="float-end">
    <button mat-raised-button color="warn" (click)="save()">Gửi báo cáo</button>
    <button mat-raised-button mat-dialog-close>Đóng</button>
</div>
