<div>
    <p mat-dialog-title class="fs-5 text-success user-select-none text-center">
        {{data.item.id ? "Cập nhật mã giảm giá" : "Thêm mới mã giảm giá"}}
    </p>
</div>
<div mat-dialog-content>
    <div [formGroup]="formControl">
        <div class="flex-row d-flex align-items-center">
            <p class="fw-bold col-3 user-select-none">Tên mã giảm giá<span style="color: red;">(*)</span></p>
            <mat-form-field appearance="outline" class="col-9">
                <input matInput type="text" [(ngModel)]="data.item.tenMaGiamGia" formControlName="tenMaGiamGia">
                <mat-error class="user-select-none" *ngIf="f.tenMaGiamGia.hasError('required')">Chưa nhập tên mã giảm giá</mat-error>
            </mat-form-field>
        </div>
        <div class="flex-row d-flex align-items-center">
            <p class="fw-bold col-3 user-select-none">Mô tả mã giảm giá</p>
            <mat-form-field appearance="outline" class="col-9">
                <textarea matInput [(ngModel)]="data.item.moTaMaGiamGia" formControlName="moTaMaGiamGia" cdkTextareaAutosize
                    #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="4" cdkAutosizeMaxRows="4"></textarea>
            </mat-form-field>
        </div>
        <div class="flex-row d-flex align-items-center">
            <p class="fw-bold col-3 user-select-none">Thời hạn giảm giá<span style="color: red;">(*)</span></p>
            <mat-form-field appearance="outline" class="col-4" (click)="giamGiaTuLuc.opened = true">
                <mat-label>Thời gian bắt đầu</mat-label>
                <input readonly matInput [min]="minDate" [matDatepicker]="giamGiaTuLuc" [(ngModel)]="data.item.giamGiaTuLuc" formControlName="giamGiaTuLuc">
                <mat-datepicker-toggle matSuffix [for]="giamGiaTuLuc"></mat-datepicker-toggle>
                <mat-datepicker #giamGiaTuLuc></mat-datepicker>
                <mat-error class="user-select-none" *ngIf="f.giamGiaTuLuc.hasError('required')">Chưa nhập ngày bắt đầu</mat-error>
            </mat-form-field>
            <div class="col-1"></div>
            <mat-form-field appearance="outline" class="col-4" (click)="giamGiaDenLuc.opened = true">
                <mat-label>Thời gian kết thúc</mat-label>
                <input readonly matInput [min]="data.item.giamGiaTuLuc ? data.item.giamGiaTuLuc : minDate" [matDatepicker]="giamGiaDenLuc" [(ngModel)]="data.item.giamGiaDenLuc" formControlName="giamGiaDenLuc">
                <mat-datepicker-toggle matSuffix [for]="giamGiaDenLuc"></mat-datepicker-toggle>
                <mat-datepicker #giamGiaDenLuc></mat-datepicker>
                <mat-error class="user-select-none" *ngIf="f.giamGiaDenLuc.hasError('required')">Chưa nhập ngày kết thúc</mat-error>
            </mat-form-field>
        </div>
        <div class="flex-row d-flex align-items-center" style="margin-bottom: 1rem;">
            <div class="col-3"></div>
            <div appearance="outline" class="col-4">
                <ngx-timepicker-field [format]="24" defaultTime="00:00" [controlOnly]="true" formControlName="thoiGianBatDau"></ngx-timepicker-field>
            </div>
            <div class="col-1"></div>
            <div appearance="outline" class="col-4">
                <ngx-timepicker-field [format]="24" defaultTime="00:00" [controlOnly]="true" formControlName="thoiGianKetThuc"></ngx-timepicker-field>
            </div>
        </div>
        <div class="flex-row d-flex align-items-center">
            <p class="fw-bold col-3 user-select-none">Thông tin giảm giá<span style="color: red;">(*)</span></p>
            <mat-form-field appearance="outline" class="col-4">
                <mat-label>Phần trăm giảm giá</mat-label>
                <input matInput type="text" [(ngModel)]="data.item.phanTramGiamGia" formControlName="phanTramGiamGia">
                <mat-error class="user-select-none" *ngIf="f.phanTramGiamGia.hasError('required')">Chưa nhập phần trăm giảm giá</mat-error>
                <mat-error class="user-select-none" *ngIf="f.phanTramGiamGia.hasError('pattern')">Phần trăm giảm giá chỉ bao gồm số</mat-error>
                <mat-error class="user-select-none" *ngIf="f.phanTramGiamGia.hasError('max')">Phần trăm giảm giá phải nhỏ hơn 100</mat-error>
            </mat-form-field>
            <div class="col-1"></div>
            <mat-form-field appearance="outline" class="col-4">
                <mat-label>Số lượng</mat-label>
                <input matInput type="text" [(ngModel)]="data.item.soLuong" formControlName="soLuong">
                <mat-error class="user-select-none" *ngIf="f.soLuong.hasError('required')">Chưa nhập số lượng</mat-error>
                <mat-error class="user-select-none" *ngIf="f.soLuong.hasError('pattern')">Số lượng chỉ bao gồm số</mat-error>
            </mat-form-field>
        </div>
        <div class="flex-row d-flex align-items-center">
            <div class="col-3"></div>
            <mat-form-field appearance="outline" class="col-4">
                <mat-label>Điều kiện giảm giá</mat-label>
                <input matInput type="text" [(ngModel)]="data.item.dieuKienGiamGia" formControlName="dieuKienGiamGia">
                <mat-error class="user-select-none" *ngIf="f.dieuKienGiamGia.hasError('required')">Chưa nhập điều kiện giảm giá</mat-error>
                <mat-error class="user-select-none" *ngIf="f.dieuKienGiamGia.hasError('pattern')">Điều kiện giảm giá chi bao gồm số</mat-error>
            </mat-form-field>
            <div class="col-1"></div>
            <mat-form-field appearance="outline" class="col-4">
                <mat-label>Giảm giá tối đa</mat-label>
                <input matInput type="text" [(ngModel)]="data.item.giamGiaToiDa" formControlName="giamGiaToiDa">
                <mat-error class="user-select-none" *ngIf="f.giamGiaToiDa.hasError('required')">Giảm giá tối đa</mat-error>
                <mat-error class="user-select-none" *ngIf="f.giamGiaToiDa.hasError('pattern')">Giảm giá tối đa chi bao gồm số</mat-error>
            </mat-form-field>
        </div>
        <div class="flex-row d-flex align-items-center">
            <div class="fw-bold col-3 user-select-none">Loại sản phẩm<span style="color: red;">(*)</span></div>
            <div class="col-9 user-select-none">
                <mat-checkbox formControlName="moiLoaiSanPham" [(ngModel)]="data.item.moiLoaiSanPham">Mọi loại sản phẩm</mat-checkbox>
            </div>
        </div>
        <div class="flex-row d-flex align-items-center">
            <div class="col-3"></div>
            <div class="col-9 user-select-none">
                <mat-error *ngIf="!data.item.moiLoaiSanPham && !data.item.loaiSanPhamGiamGia.length">Chưa chọn loại sản phẩm</mat-error>
            </div>
        </div>
        <div class="flex-row d-flex align-items-center" *ngIf="!data.item.moiLoaiSanPham">
            <div class="col-3"></div>
            <div class="col-9 user-select-none">
                <mat-form-field class="col-6 user-select-none" appearance="outline" style="margin-top: 1rem;">
                    <mat-label>Tìm kiếm</mat-label>
                    <input matInput [(ngModel)]="searchString" (input)="filter()" formControlName="timKiem">
                    <mat-icon matSuffix *ngIf="searchString" (click)="clearFilter()">close</mat-icon>
                </mat-form-field>
                <mat-checkbox *ngFor="let item of listCategoryFilter" style="display: block;" [value]="item.id" (change)="selectCategory($event)" [checked]="item.checked">{{item.tenLoaiSanPham}}</mat-checkbox>
            </div>
        </div>
    </div>
</div>
<div mat-dialog-actions class="float-end">
    <button mat-raised-button color="primary" (click)="setTime()">Lưu</button>
    <button mat-raised-button mat-dialog-close>Thoát</button>
</div>
