.container-detail {
    &__info {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    &__don-gia {
        color: rgb(158, 158, 158);
        font-size: 0.75rem;
        text-decoration: line-through;
    }

    &__giam-gia {
        cursor: pointer;
        text-decoration: underline;
    }

    &__footer-row {
        border-left: 0.5px solid #ccc !important;
        border-right: 0.5px solid #ccc !important;
    }

    &__footer-row:last-child {
        border-bottom: 0.5px solid #ccc !important;
    }
}

.mat-table {
    width: 100%;
    margin-bottom: 1rem;
}

tr.element-row:hover {
    background: whitesmoke;
}

tr.element-row:active {
    background: #efefef;
}

.mat-column-hinhAnh {
    width: 5rem;
    text-align: center;
    padding: 0 !important;
}
