<div>
    <p mat-dialog-title class="fs-5 text-success user-select-none text-center">
        Chi tiết đơn hàng
    </p>
</div>
<div mat-dialog-content>
    <div class="container-detail">
        <h3><strong>MÃ ĐƠN HÀNG:</strong> {{data.item.maDonHang}}</h3>
        <h3>
            <strong>TÌNH TRẠNG ĐƠN HÀNG:&nbsp;</strong>
            <span>{{data.item.tinhTrang}}</span>
        </h3>
        <h3><strong>NGÀY TẠO ĐƠN HÀNG:</strong> {{data.item.createdAt | date: "HH:mm:ss dd/MM/yyyy"}}</h3>
        <h3><strong>SẢN PHẨM</strong></h3>
        <table mat-table [dataSource]="data.item.donHangSanPham">
            <ng-container matColumnDef="hinhAnh">
                <th mat-header-cell *matHeaderCellDef>Hình ảnh</th>
                <td mat-cell *matCellDef="let element" class="text-center">
                    <a mat-dialog-close routerLink="/shop/item" [queryParams]="{shopName: element.shopName, itemName: element.tenSanPham}">
                        <img [src]="element.avatar" style="width: 100%;">
                    </a>
                </td>
            </ng-container>
            <ng-container matColumnDef="tenSanPham">
                <th mat-header-cell *matHeaderCellDef>Tên sản phẩm</th>
                <td mat-cell *matCellDef="let element">
                    <a mat-dialog-close routerLink="/shop/item" [queryParams]="{shopName: element.shopName, itemName: element.tenSanPham}"
                        [@successColor]="element.linkAnimation ? 'enter' : 'leave'" (mouseenter)="element.linkAnimation = !element.linkAnimation" (mouseleave)="element.linkAnimation = !element.linkAnimation">
                        {{element.tenSanPham}}
                    </a>
                </td>
            </ng-container>
            <ng-container matColumnDef="donGia">
                <th mat-header-cell *matHeaderCellDef>Đơn giá</th>
                <td mat-cell *matCellDef="let element" class="text-center">
                    <div *ngIf="element.donGia !== element.giamGia" class="container-detail__don-gia">{{element.donGia | number}}&#8363;</div>
                    <div>{{element.giamGia | number}}&#8363;</div>
                </td>
            </ng-container>
            <ng-container matColumnDef="soLuong">
                <th mat-header-cell *matHeaderCellDef>Số lượng</th>
                <td mat-cell *matCellDef="let element" class="text-center">{{element.soLuong}}</td>
            </ng-container>
            <ng-container matColumnDef="maGiamGia">
                <th mat-header-cell *matHeaderCellDef>Mã giảm giá</th>
                <td mat-cell *matCellDef="let element" class="text-center">
                    <div class="container-detail__giam-gia" *ngIf="element.coMaGiamGia" (click)="viewMaGiamGia(element)"
                        [@successColor]="element.giamGiaAnimation ? 'enter' : 'leave'" (mouseenter)="element.giamGiaAnimation = !element.giamGiaAnimation" (mouseleave)="element.giamGiaAnimation = !element.giamGiaAnimation">
                        Xem
                    </div>
                    <div *ngIf="element.coMaGiamGia">-{{element.giaGiam | number}}&#8363;</div>
                </td>
            </ng-container>
            <ng-container matColumnDef="tongTien">
                <th mat-header-cell *matHeaderCellDef>Tổng tiền</th>
                <td mat-cell *matCellDef="let element" class="text-center">{{element.giamGia * element.soLuong - element.giaGiam | number}}&#8363;</td>
            </ng-container>
            <ng-container matColumnDef="phiShip">
                <th mat-footer-cell *matFooterCellDef colspan="5" style="border-right: 0.5px solid #ccc;">Phí vận chuyển</th>
            </ng-container>
            <ng-container matColumnDef="phiShipNumber">
                <th mat-footer-cell *matFooterCellDef colspan="1" style="border-left: 0.5px solid #ccc;">{{data.item.phiVanChuyen | number}}&#8363;</th>
            </ng-container>
            <ng-container matColumnDef="thanhTien">
                <th mat-footer-cell *matFooterCellDef colspan="5" style="border-right: 0.5px solid #ccc;">Thành tiền</th>
            </ng-container>
            <ng-container matColumnDef="thanhTienNumber">
                <th mat-footer-cell *matFooterCellDef colspan="1" style="border-left: 0.5px solid #ccc;">{{data.item.thanhTien | number}}&#8363;</th>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true" class="user-select-none"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="element-row"></tr>
            <tr mat-footer-row *matFooterRowDef="['phiShip', 'phiShipNumber']" class="container-detail__footer-row"></tr>
            <tr mat-footer-row *matFooterRowDef="['thanhTien', 'thanhTienNumber']" class="container-detail__footer-row"></tr>
        </table>
        <h3><strong>THÔNG TIN ĐƠN HÀNG</strong></h3>
        <div class="container-detail__info">
            <h3>Họ và tên: {{data.item.tenDayDu}}</h3>
            <h3>Địa chỉ: {{data.item.diaChi}}</h3>
            <h3>Số điện thoại: {{data.item.soDienThoai}}</h3>
            <h3>
                Đặt hàng hộ:&nbsp;
                <span *ngIf="data.item.datHo">Có</span>
                <span *ngIf="!data.item.datHo">Không</span>
            </h3>
            <h3>
                Xuất hóa đơn:&nbsp;
                <span *ngIf="data.item.xuatHoaDon">Có</span>
                <span *ngIf="!data.item.xuatHoaDon">Không</span>
            </h3>
            <h3>Ghi chú: {{data.item.ghiChu}}</h3>
        </div>
    </div>
</div>
<div mat-dialog-actions class="float-end">
    <button mat-raised-button color="primary" (click)="giaoHang()"
        *ngIf="data.item.tinhTrangDonHangId === acceptedStatus">
        Giao hàng
    </button>
    <button mat-raised-button color="primary" (click)="daGiaoHang()"
        *ngIf="data.item.tinhTrangDonHangId === deliveringStatus">
        Đã giao hàng
    </button>
    <button mat-raised-button color="warn" (click)="huyDonHang()"
        *ngIf="data.item.tinhTrangDonHangId === deliveringStatus">
        Hủy giao hàng
    </button>
    <button mat-raised-button mat-dialog-close>Thoát</button>
</div>
