<div *ngIf="logged" class="chat d-flex flex-column">
    <div class="chat__button user-select-none" (click)="openChat()"
        [matBadge]="totalChuaXemCount" matBadgePosition="before" matBadgeColor="warn" [matBadgeHidden]="!totalChuaXemCount">
        <mat-icon class="align-middle" [@rotate180Degree]="animation ? 'enter' : 'leave'">keyboard_arrow_up</mat-icon>
        &nbsp;Chat
    </div>
    <div class="chat__popup" [@heightSlide]="animation ? {value: 'enter', params: {height: heightPopup}} : {value: 'leave', params: {height: heightDownPopup}}"
        [@widthSlide]="animation ? {value: 'enter', params: {width: widthPopup}} : {value: 'leave', params: {width: widthDownPopup}}"
        directiveResizable="all" directiveResizableBorderWidth="left" directiveResizableBorderHeight="top"
        [directiveResizableMinWidth]="480" [directiveResizableMinHeight]="320"
        [directiveResizableMaxWidth]="850" [directiveResizableMaxHeight]="500"
        [directiveResizableGrabWidth]="4" [directiveResizableGrabHeight]="4"
        (directiveResizableNewWidth)="setNewWidth($event)" (directiveResizableNewHeight)="setNewHeight($event)"
        [style.marginBottom]="animation ? '0px' : '-4px'" id="chatPopup">
        <mat-tab-group mat-align-tabs="start" class="chat__popup-tab" [(selectedIndex)]="tabIndex" (selectedIndexChange)="changeTab(1)" [disablePagination]="true">
            <mat-tab>
                <ng-template mat-tab-label>
                    <span [matBadge]="userChuaXemCount" [matBadgeHidden]="!userChuaXemCount" matBadgeColor="warn" matBadgeOverlap="false">
                        Phía người dùng
                    </span>
                </ng-template>
                <div class="d-flex flex-row" style="height: 100%;">
                    <div class="chat__popup-partner d-flex flex-column">
                        <div class="d-flex flex-column chat__popup-partner__container">
                            <div class="chat__popup-partner__container-header" #userShopPartnerHeader (click)="changeCollapseTab()">
                                <div [matBadge]="userShopChuaXemCount" [matBadgeHidden]="!userShopChuaXemCount" matBadgeColor="warn" matBadgeOverlap="false">
                                    Shop
                                </div>
                            </div>
                            <ng-container *ngIf="userShopLoaded | async">
                                <div class="d-flex-flex-column chat__popup-partner__container-content" #userShopPartnerField (scroll)="getMoreShopId()" name="collapseContent">
                                    <div class="d-flex flex-column chat__popup-partner-item user-select-none"
                                        [class.chat__popup-partner-item-active]="activeShopIdUser === item.shopId" *ngFor="let item of listShopUser"
                                        (click)="userShopOpenChatField(item)" name="userShopPartnerElement">
                                        <div class="d-flex flex-row align-items-center">
                                            <div class="chat__popup-partner-item__border-avatar">
                                                <img [src]="item.info.anhDaiDien" style="width: 100%;">
                                            </div>
                                            <div [matBadge]="item.chuaXemCount" [matBadgeHidden]="!item.chuaXemCount" matBadgeColor="warn" matBadgeSize="small" matBadgePosition="before">
                                                <div class="chat__popup-partner-item__name">
                                                    {{item.info.tenShop}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                        <div class="d-flex flex-column chat__popup-partner-container">
                            <div class="chat__popup-partner__container-header" #userUserPartnerHeader (click)="changeCollapseTab()">
                                <div [matBadge]="userUserChuaXemCount" [matBadgeHidden]="!userUserChuaXemCount" matBadgeColor="warn" matBadgeOverlap="false">
                                    User
                                </div>
                            </div>
                            <ng-container *ngIf="userUserLoaded | async">
                                <div class="d-flex-flex-column chat__popup-partner__container-content" #userUserPartnerField (scroll)="getMoreUserNhanId()" name="collapseContent">
                                    <div class="d-flex flex-column chat__popup-partner-item user-select-none"
                                        [class.chat__popup-partner-item-active]="activeUserIdUser === item.userNhanId" *ngFor="let item of listUserUser"
                                        (click)="userUserOpenChatField(item)" name="userUserPartnerElement">
                                        <div class="d-flex flex-row align-items-center">
                                            <div class="chat__popup-partner-item__border-avatar">
                                                <img [src]="item.info.anhDaiDien" style="width: 100%;">
                                            </div>
                                            <div [matBadge]="item.chuaXemCount" [matBadgeHidden]="!item.chuaXemCount" matBadgeColor="warn" matBadgeSize="small" matBadgePosition="before">
                                                <div class="chat__popup-partner-item__name"
                                                    [class.chat__popup-partner-item__name-admin]="item.info.roleName === 'Admin'"
                                                    [class.chat__popup-partner-item__name-expert]="item.info.roleName === 'Expert'">
                                                    {{item.info.name}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                    <ng-container *ngIf="(userShopLoaded | async) && (collapseTabIndex === 0)">
                        <div class="chat__popup-field d-flex flex-column" *ngIf="userShopChatField">
                            <div class="chat__popup-field-new user-select-none" (click)="returnNewestMessage()"
                                [@newMessageButton]="userShopNewMessageAnimation ? 'enter' : 'leave'">
                                Có tin nhắn mới
                            </div>
                            <div class="chat__popup-field-name d-flex flex-row align-items-center">
                                <div class="chat__popup-field__chip-shop user-select-none">
                                    <div>Shop</div>
                                </div>
                                <span>{{userShopChatField.info.tenShop}}</span>
                                <div class="flex-fill"></div>
                                <span>
                                    <button mat-stroke-button [matMenuTriggerFor]="menu">
                                        <mat-icon>more_horiz</mat-icon>
                                    </button>
                                    <mat-menu #menu="matMenu" xPosition="before">
                                        <button mat-menu-item routerLink="/shop" [queryParams]="{name: userShopChatField.info.tenShop}">
                                            <mat-icon>shop</mat-icon>
                                            <span>Xem shop</span>
                                        </button>
                                        <button mat-menu-item *ngIf="userShopChatField.info.userId !== loggedUser.userId"
                                            (click)="openDialogBaoCao(null, userShopChatField.info.id, userShopChatField.info.tenShop)">
                                            <mat-icon>report</mat-icon>
                                            <span>Báo cáo shop</span>
                                        </button>
                                    </mat-menu>
                                </span>
                            </div>
                            <div class="chat__popup-field-message" #userShopMessageField (scroll)="userGetMoreNhanTinShop(userShopChatField)">
                                <div *ngFor="let item of userShopListNhanTin" name="userShopMessageElement">
                                    <div class="chat__popup-field-message__receiver d-flex flex-row" *ngIf="item.nguoiGuiId === item.shopId">
                                        <div class="chat__popup-field-message__receiver-text" *ngIf="!item.isFile && !item.isImage">
                                            {{item.noiDung}}
                                        </div>
                                        <div class="chat__popup-field-message__receiver-text chat__popup-field-message__receiver-text-link" *ngIf="item.isFile"
                                            (click)="downloadFile(item.noiDung, item.fileName)">
                                            {{item.fileName}}
                                        </div>
                                        <div class="chat__popup-field-message__receiver-media" *ngIf="item.isImage" (click)="viewImage(item.noiDungHienThi)">
                                            <img style="width: 100%;" [src]="item.noiDungHienThi" (load)="changeTab(2)">
                                        </div>
                                        <div class="chat__popup-field-message__receiver-date">
                                            {{item.createdAt | date: "HH:mm dd/MM/yy"}}
                                            <i class="pi pi-download chat__popup-field-message__receiver-text-icon" *ngIf="item.isFile" (click)="downloadFile(item.noiDung, item.fileName)"></i>
                                        </div>
                                    </div>
                                    <div class="chat__popup-field-message__sender d-flex flex-row" *ngIf="item.nguoiGuiId === item.userId">
                                        <div class="chat__popup-field-message__sender-date">
                                            <i class="pi pi-download chat__popup-field-message__sender-text-icon" *ngIf="item.isFile && (!item.progress || item.progress <= 0 || item.progress >= 100)"
                                            (click)="downloadFile(item.noiDung, item.fileName)"></i>
                                            {{item.createdAt | date: "HH:mm dd/MM/yy"}}
                                        </div>
                                        <div class="chat__popup-field-message__sender-text"
                                            [class.chat__popup-field-message__sender-text-error]="item.sendError" *ngIf="!item.isFile && !item.isImage">
                                            {{item.noiDung}}
                                        </div>
                                        <div class="chat__popup-field-message__sender-text chat__popup-field-message__sender-text-link"
                                            [class.chat__popup-field-message__sender-text-error]="item.sendError" *ngIf="item.isFile"
                                            (click)="downloadFile(item.noiDung, item.fileName)">
                                            {{item.fileName}}
                                            <mat-progress-bar [value]="item.progress" mode="determinate" *ngIf="item.progress && item.progress > 0 && item.progress < 100"></mat-progress-bar>
                                        </div>
                                        <div class="chat__popup-field-message__sender-media"
                                            [class.chat__popup-field-message__sender-text-error]="item.sendError" *ngIf="item.isImage"
                                            (click)="viewImage(item.noiDungHienThi)">
                                            <img style="width: 100%;" [src]="item.noiDungHienThi" (load)="changeTab(2)">
                                            <mat-progress-bar [value]="item.progress" mode="determinate" *ngIf="item.progress && item.progress > 0 && item.progress < 100"></mat-progress-bar>
                                        </div>
                                    </div>
                                </div>
                                <div id="userShopCheck">
                                    <div *ngIf="userShopListNhanTin.length && userShopListNhanTin[userShopListNhanTin.length - 1].nguoiGuiId === userShopListNhanTin[userShopListNhanTin.length - 1].userId"
                                        class="d-flex flex-row chat__popup-field-check align-items-center">
                                        <div *ngIf="!userShopSending && !userShopSendError && userShopViewed">Đã xem</div>
                                        <div *ngIf="!userShopSending && !userShopSendError && !userShopViewed">Đã gửi</div>
                                        <div *ngIf="userShopSending && !userShopSendError && !userShopViewed">Đang gửi</div>
                                        <div *ngIf="userShopSendError" style="color: red;">Không gửi được</div>
                                        <mat-icon *ngIf="!userShopSending && !userShopSendError && userShopViewed">check_circle</mat-icon>
                                        <mat-icon *ngIf="!userShopSending && !userShopSendError && !userShopViewed">check_circle_outline</mat-icon>
                                        <mat-icon *ngIf="userShopSending && !userShopSendError && !userShopViewed">radio_button_unchecked</mat-icon>
                                        <mat-icon *ngIf="userShopSendError" style="color: red;">error_outline</mat-icon>
                                    </div>
                                </div>
                            </div>
                            <div class="chat__popup-field-send d-flex flex-column">
                                <div class="chat__popup-field-send-close" [class.chat__popup-field-send-close-up]="userShopChatField.imagePreUpload.closed"
                                    (click)="userShopChatField.imagePreUpload.closed = !userShopChatField.imagePreUpload.closed;"
                                    *ngIf="userShopChatField.imagePreUpload.files.length">
                                    <mat-icon>keyboard_arrow_down</mat-icon>
                                </div>
                                <div class="d-flex flex-row chat__popup-field-send__image user-select-none"
                                    [class.chat__popup-field-send__image-hidden]="userShopChatField.imagePreUpload.closed || !userShopChatField.imagePreUpload.files.length">
                                    <div class="chat__popup-field-send__image-arrow chat__popup-field-send__image-arrow-left"
                                        (mousedown)="mouse = true; scrollToLeft()" (mouseup)="mouse = false;" (mouseleave)="mouse = false;"
                                        *ngIf="userShopChatField.imagePreUpload.scrollableLeft">
                                        <mat-icon>keyboard_arrow_left</mat-icon>
                                    </div>
                                    <div class="d-flex flex-row chat__popup-field-send__image-content" #userShopImageField>
                                        <div *ngFor="let item of userShopChatField.imagePreUpload.files; let i = index">
                                            <img [src]="item.noiDungHienThi">
                                            <div (click)="removeImagePreUpload(i)"><mat-icon>delete</mat-icon></div>
                                        </div>
                                    </div>
                                    <div class="chat__popup-field-send__image-arrow chat__popup-field-send__image-arrow-right"
                                        (mousedown)="mouse = true; scrollToRight()" (mouseup)="mouse = false;" (mouseleave)="mouse = false;"
                                        *ngIf="userShopChatField.imagePreUpload.scrollableRight">
                                        <mat-icon>keyboard_arrow_right</mat-icon>
                                    </div>
                                </div>
                                <div class="d-flex flex-row align-items-center">
                                    <input type="text" placeholder="Gửi tin nhắn..." (keydown)="keyCapture($event, userShopChatField.userId)" #userShopMessage (paste)="pasteImage($event)">
                                    <input type="file" multiple hidden #userShopFile (change)="checkFileType(userShopFile)" id="userShopFile">
                                    <mat-icon class="user-select-none" (click)="userShopFile.click()">attach_file</mat-icon>
                                    <mat-icon class="user-select-none" (click)="userCreateNhanTinShop(userShopChatField.userId)">send</mat-icon>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="(userUserLoaded | async) && (collapseTabIndex === 1)">
                        <div class="chat__popup-field d-flex flex-column" *ngIf="userUserChatField">
                            <div class="chat__popup-field-new user-select-none" (click)="returnNewestMessage()"
                                [@newMessageButton]="userUserNewMessageAnimation ? 'enter' : 'leave'">
                                Có tin nhắn mới
                            </div>
                            <div class="chat__popup-field-name d-flex flex-row align-items-center">
                                <div class="chat__popup-field__chip-user user-select-none"
                                    [class.chat__popup-field__chip-user-admin]="userUserChatField.info.roleName === 'Admin'"
                                    [class.chat__popup-field__chip-user-expert]="userUserChatField.info.roleName === 'Expert'">
                                    <div>{{userUserChatField.info.roleName}}</div>
                                </div>
                                <span>{{userUserChatField.info.name}}</span>
                                <div class="flex-fill"></div>
                                <span *ngIf="userUserChatField.info.userId !== loggedUser.userId">
                                    <button mat-stroke-button [matMenuTriggerFor]="menu">
                                        <mat-icon>more_horiz</mat-icon>
                                    </button>
                                    <mat-menu #menu="matMenu" xPosition="before">
                                        <button mat-menu-item *ngIf="userUserChatField.info.userId !== loggedUser.userId"
                                            (click)="openDialogBaoCao(userUserChatField.info.userId, null, userUserChatField.info.name)">
                                            <mat-icon>report</mat-icon>
                                            <span>Báo cáo người dùng</span>
                                        </button>
                                    </mat-menu>
                                </span>
                            </div>
                            <div class="chat__popup-field-message" #userUserMessageField (scroll)="userGetMoreNhanTinUser(userUserChatField)">
                                <div *ngFor="let item of userUserListNhanTin" name="userUserMessageElement">
                                    <div class="chat__popup-field-message__receiver d-flex flex-row" *ngIf="item.userNhanId === loggedUser.userId">
                                        <div class="chat__popup-field-message__receiver-text" *ngIf="!item.isFile && !item.isImage">
                                            {{item.noiDung}}
                                        </div>
                                        <div class="chat__popup-field-message__receiver-text chat__popup-field-message__receiver-text-link" *ngIf="item.isFile"
                                            (click)="downloadFile(item.noiDung, item.fileName)">
                                            {{item.fileName}}
                                        </div>
                                        <div class="chat__popup-field-message__receiver-media" *ngIf="item.isImage" (click)="viewImage(item.noiDungHienThi)">
                                            <img style="width: 100%;" [src]="item.noiDungHienThi" (load)="changeTab(2)">
                                        </div>
                                        <div class="chat__popup-field-message__receiver-date">
                                            {{item.createdAt | date: "HH:mm dd/MM/yy"}}
                                            <i class="pi pi-download chat__popup-field-message__receiver-text-icon" *ngIf="item.isFile" (click)="downloadFile(item.noiDung, item.fileName)"></i>
                                        </div>
                                    </div>
                                    <div class="chat__popup-field-message__sender d-flex flex-row" *ngIf="item.userGuiId === loggedUser.userId">
                                        <div class="chat__popup-field-message__sender-date">
                                            <i class="pi pi-download chat__popup-field-message__sender-text-icon" *ngIf="item.isFile && (!item.progress || item.progress <= 0 || item.progress >= 100)"
                                            (click)="downloadFile(item.noiDung, item.fileName)"></i>
                                            {{item.createdAt | date: "HH:mm dd/MM/yy"}}
                                        </div>
                                        <div class="chat__popup-field-message__sender-text"
                                            [class.chat__popup-field-message__sender-text-error]="item.sendError" *ngIf="!item.isFile && !item.isImage">
                                            {{item.noiDung}}
                                        </div>
                                        <div class="chat__popup-field-message__sender-text chat__popup-field-message__sender-text-link"
                                            [class.chat__popup-field-message__sender-text-error]="item.sendError" *ngIf="item.isFile"
                                            (click)="downloadFile(item.noiDung, item.fileName)">
                                            {{item.fileName}}
                                            <mat-progress-bar [value]="item.progress" mode="determinate" *ngIf="item.progress && item.progress > 0 && item.progress < 100"></mat-progress-bar>
                                        </div>
                                        <div class="chat__popup-field-message__sender-media"
                                            [class.chat__popup-field-message__sender-text-error]="item.sendError" *ngIf="item.isImage"
                                            (click)="viewImage(item.noiDungHienThi)">
                                            <img style="width: 100%;" [src]="item.noiDungHienThi" (load)="changeTab(2)">
                                            <mat-progress-bar [value]="item.progress" mode="determinate" *ngIf="item.progress && item.progress > 0 && item.progress < 100"></mat-progress-bar>
                                        </div>
                                    </div>
                                </div>
                                <div id="userUserCheck">
                                    <div *ngIf="userUserListNhanTin.length && userUserListNhanTin[userUserListNhanTin.length - 1].userGuiId === loggedUser.userId"
                                        class="d-flex flex-row chat__popup-field-check align-items-center">
                                        <div *ngIf="!userUserSending && !userUserSendError && userUserViewed">Đã xem</div>
                                        <div *ngIf="!userUserSending && !userUserSendError && !userUserViewed">Đã gửi</div>
                                        <div *ngIf="userUserSending && !userUserSendError && !userUserViewed">Đang gửi</div>
                                        <div *ngIf="userUserSendError" style="color: red;">Không gửi được</div>
                                        <mat-icon *ngIf="!userUserSending && !userUserSendError && userUserViewed">check_circle</mat-icon>
                                        <mat-icon *ngIf="!userUserSending && !userUserSendError && !userUserViewed">check_circle_outline</mat-icon>
                                        <mat-icon *ngIf="userUserSending && !userUserSendError && !userUserViewed">radio_button_unchecked</mat-icon>
                                        <mat-icon *ngIf="userUserSendError" style="color: red;">error_outline</mat-icon>
                                    </div>
                                </div>
                            </div>
                            <div class="chat__popup-field-send d-flex flex-column">
                                <div class="chat__popup-field-send-close" [class.chat__popup-field-send-close-up]="userUserChatField.imagePreUpload.closed"
                                    (click)="userUserChatField.imagePreUpload.closed = !userUserChatField.imagePreUpload.closed;"
                                    *ngIf="userUserChatField.imagePreUpload.files.length">
                                    <mat-icon>keyboard_arrow_down</mat-icon>
                                </div>
                                <div class="d-flex flex-row chat__popup-field-send__image user-select-none"
                                    [class.chat__popup-field-send__image-hidden]="userUserChatField.imagePreUpload.closed || !userUserChatField.imagePreUpload.files.length">
                                    <div class="chat__popup-field-send__image-arrow chat__popup-field-send__image-arrow-left"
                                        (mousedown)="mouse = true; scrollToLeft()" (mouseup)="mouse = false;" (mouseleave)="mouse = false;"
                                        *ngIf="userUserChatField.imagePreUpload.scrollableLeft">
                                        <mat-icon>keyboard_arrow_left</mat-icon>
                                    </div>
                                    <div class="d-flex flex-row chat__popup-field-send__image-content" #userUserImageField>
                                        <div *ngFor="let item of userUserChatField.imagePreUpload.files; let i = index">
                                            <img [src]="item.noiDungHienThi">
                                            <div (click)="removeImagePreUpload(i)"><mat-icon>delete</mat-icon></div>
                                        </div>
                                    </div>
                                    <div class="chat__popup-field-send__image-arrow chat__popup-field-send__image-arrow-right"
                                        (mousedown)="mouse = true; scrollToRight()" (mouseup)="mouse = false;" (mouseleave)="mouse = false;"
                                        *ngIf="userUserChatField.imagePreUpload.scrollableRight">
                                        <mat-icon>keyboard_arrow_right</mat-icon>
                                    </div>
                                </div>
                                <div class="d-flex flex-row align-items-center">
                                    <input type="text" placeholder="Gửi tin nhắn..." (keydown)="keyCapture($event, loggedUser.userId)" #userUserMessage (paste)="pasteImage($event)">
                                    <input type="file" multiple hidden #userUserFile (change)="checkFileType(userUserFile)" id="userUserFile">
                                    <mat-icon class="user-select-none" (click)="userUserFile.click()">attach_file</mat-icon>
                                    <mat-icon class="user-select-none" (click)="userCreateNhanTinUser(loggedUser.userId)">send</mat-icon>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </mat-tab>
            <mat-tab *ngIf="userInfo && userInfo.coShop">
                <ng-template mat-tab-label>
                    <span [matBadge]="shopChuaXemCount" [matBadgeHidden]="!shopChuaXemCount" matBadgeColor="warn" matBadgeOverlap="false">
                        Phía chủ shop
                    </span>
                </ng-template>
                <div class="d-flex flex-row" style="height: 100%;" *ngIf="shopLoaded | async">
                    <div class="chat__popup-partner d-flex flex-column" #shopPartnerField (scroll)="getMoreUserId()">
                        <div class="d-flex flex-column chat__popup-partner-item user-select-none"
                            [class.chat__popup-partner-item-active]="activeUserId === item.userId" *ngFor="let item of listUser"
                            (click)="shopOpenChatField(item)" name="shopPartnerElement">
                            <div class="d-flex flex-row align-items-center">
                                <div class="chat__popup-partner-item__border-avatar">
                                    <img [src]="item.info.anhDaiDien" style="width: 100%;">
                                </div>
                                <div [matBadge]="item.chuaXemCount" [matBadgeHidden]="!item.chuaXemCount" matBadgeColor="warn" matBadgeSize="small" matBadgePosition="before">
                                    <div class="chat__popup-partner-item__name"
                                        [class.chat__popup-partner-item__name-admin]="item.info.roleName === 'Admin'"
                                        [class.chat__popup-partner-item__name-expert]="item.info.roleName === 'Expert'">
                                        {{item.info.name}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="chat__popup-field d-flex flex-column" *ngIf="shopChatField">
                        <div class="chat__popup-field-new user-select-none" (click)="returnNewestMessage()"
                            [@newMessageButton]="shopNewMessageAnimation ? 'enter' : 'leave'">
                            Có tin nhắn mới
                        </div>
                        <div class="chat__popup-field-name d-flex flex-row align-items-center">
                            <div class="chat__popup-field__chip-user user-select-none"
                                [class.chat__popup-field__chip-user-admin]="shopChatField.info.roleName === 'Admin'"
                                [class.chat__popup-field__chip-user-expert]="shopChatField.info.roleName === 'Expert'">
                                <div>{{shopChatField.info.roleName}}</div>
                            </div>
                            <span>{{shopChatField.info.name}}</span>
                            <div class="flex-fill"></div>
                            <span *ngIf="shopChatField.info.userId !== loggedUser.userId">
                                <button mat-stroke-button [matMenuTriggerFor]="menu">
                                    <mat-icon>more_horiz</mat-icon>
                                </button>
                                <mat-menu #menu="matMenu" xPosition="before">
                                    <button mat-menu-item *ngIf="shopChatField.info.userId !== loggedUser.userId"
                                        (click)="openDialogBaoCao(shopChatField.info.userId, null, shopChatField.info.name)">
                                        <mat-icon>report</mat-icon>
                                        <span>Báo cáo người dùng</span>
                                    </button>
                                </mat-menu>
                            </span>
                        </div>
                        <div class="chat__popup-field-message" #shopMessageField (scroll)="shopGetMoreNhanTinShop(shopChatField)">
                            <div *ngFor="let item of shopListNhanTin" name="shopMessageElement">
                                <div class="chat__popup-field-message__receiver d-flex flex-row" *ngIf="item.nguoiGuiId === item.userId">
                                    <div class="chat__popup-field-message__receiver-text" *ngIf="!item.isFile && !item.isImage">
                                        {{item.noiDung}}
                                    </div>
                                    <div class="chat__popup-field-message__receiver-text chat__popup-field-message__receiver-text-link" *ngIf="item.isFile"
                                        (click)="downloadFile(item.noiDung, item.fileName)">
                                        {{item.fileName}}
                                    </div>
                                    <div class="chat__popup-field-message__receiver-media" *ngIf="item.isImage" (click)="viewImage(item.noiDungHienThi)">
                                        <img style="width: 100%;" [src]="item.noiDungHienThi" (load)="changeTab(2)">
                                    </div>
                                    <div class="chat__popup-field-message__receiver-date">
                                        {{item.createdAt | date: "HH:mm dd/MM/yy"}}
                                        <i class="pi pi-download chat__popup-field-message__receiver-text-icon" *ngIf="item.isFile" (click)="downloadFile(item.noiDung, item.fileName)"></i>
                                    </div>
                                </div>
                                <div class="chat__popup-field-message__sender d-flex flex-row" *ngIf="item.nguoiGuiId === item.shopId">
                                    <div class="chat__popup-field-message__sender-date">
                                        <i class="pi pi-download chat__popup-field-message__sender-text-icon" *ngIf="item.isFile && (!item.progress || item.progress <= 0 || item.progress >= 100)"
                                        (click)="downloadFile(item.noiDung, item.fileName)"></i>
                                        {{item.createdAt | date: "HH:mm dd/MM/yy"}}
                                    </div>
                                    <div class="chat__popup-field-message__sender-text"
                                        [class.chat__popup-field-message__sender-text-error]="item.sendError" *ngIf="!item.isFile && !item.isImage">
                                        {{item.noiDung}}
                                    </div>
                                    <div class="chat__popup-field-message__sender-text chat__popup-field-message__sender-text-link"
                                        [class.chat__popup-field-message__sender-text-error]="item.sendError" *ngIf="item.isFile"
                                        (click)="downloadFile(item.noiDung, item.fileName)">
                                        {{item.fileName}}
                                        <mat-progress-bar [value]="item.progress" mode="determinate" *ngIf="item.progress && item.progress > 0 && item.progress < 100"></mat-progress-bar>
                                    </div>
                                    <div class="chat__popup-field-message__sender-media"
                                        [class.chat__popup-field-message__sender-text-error]="item.sendError" *ngIf="item.isImage"
                                        (click)="viewImage(item.noiDungHienThi)">
                                        <img style="width: 100%;" [src]="item.noiDungHienThi" (load)="changeTab(2)">
                                        <mat-progress-bar [value]="item.progress" mode="determinate" *ngIf="item.progress && item.progress > 0 && item.progress < 100"></mat-progress-bar>
                                    </div>
                                </div>
                            </div>
                            <div id="shopCheck">
                                <div *ngIf="shopListNhanTin.length && shopListNhanTin[shopListNhanTin.length - 1].nguoiGuiId === shopListNhanTin[shopListNhanTin.length - 1].shopId"
                                    class="d-flex flex-row chat__popup-field-check align-items-center">
                                    <div *ngIf="!shopSending && !shopSendError && shopViewed">Đã xem</div>
                                    <div *ngIf="!shopSending && !shopSendError && !shopViewed">Đã gửi</div>
                                    <div *ngIf="shopSending && !shopSendError && !shopViewed">Đang gửi</div>
                                    <div *ngIf="shopSendError" style="color: red;">Không gửi được</div>
                                    <mat-icon *ngIf="!shopSending && !shopSendError && shopViewed">check_circle</mat-icon>
                                    <mat-icon *ngIf="!shopSending && !shopSendError && !shopViewed">check_circle_outline</mat-icon>
                                    <mat-icon *ngIf="shopSending && !shopSendError && !shopViewed">radio_button_unchecked</mat-icon>
                                    <mat-icon *ngIf="shopSendError" style="color: red;">error_outline</mat-icon>
                                </div>
                            </div>
                        </div>
                        <div class="chat__popup-field-send d-flex flex-column">
                            <div class="chat__popup-field-send-close" [class.chat__popup-field-send-close-up]="shopChatField.imagePreUpload.closed"
                                (click)="shopChatField.imagePreUpload.closed = !shopChatField.imagePreUpload.closed;"
                                *ngIf="shopChatField.imagePreUpload.files.length">
                                <mat-icon>keyboard_arrow_down</mat-icon>
                            </div>
                            <div class="d-flex flex-row chat__popup-field-send__image user-select-none"
                                [class.chat__popup-field-send__image-hidden]="shopChatField.imagePreUpload.closed || !shopChatField.imagePreUpload.files.length">
                                <div class="chat__popup-field-send__image-arrow chat__popup-field-send__image-arrow-left"
                                    (mousedown)="mouse = true; scrollToLeft()" (mouseup)="mouse = false;" (mouseleave)="mouse = false;"
                                    *ngIf="shopChatField.imagePreUpload.scrollableLeft">
                                    <mat-icon>keyboard_arrow_left</mat-icon>
                                </div>
                                <div class="d-flex flex-row chat__popup-field-send__image-content" #shopImageField>
                                    <div *ngFor="let item of shopChatField.imagePreUpload.files; let i = index">
                                        <img [src]="item.noiDungHienThi">
                                        <div (click)="removeImagePreUpload(i)"><mat-icon>delete</mat-icon></div>
                                    </div>
                                </div>
                                <div class="chat__popup-field-send__image-arrow chat__popup-field-send__image-arrow-right"
                                    (mousedown)="mouse = true; scrollToRight()" (mouseup)="mouse = false;" (mouseleave)="mouse = false;"
                                    *ngIf="shopChatField.imagePreUpload.scrollableRight">
                                    <mat-icon>keyboard_arrow_right</mat-icon>
                                </div>
                            </div>
                            <div class="d-flex flex-row align-items-center">
                                <input type="text" placeholder="Gửi tin nhắn..." (keydown)="keyCapture($event, shopChatField.shopId)" #shopMessage (paste)="pasteImage($event)">
                                <input type="file" multiple hidden #shopFile (change)="checkFileType(shopFile)" id="shopFile">
                                <mat-icon class="user-select-none" (click)="shopFile.click()">attach_file</mat-icon>
                                <mat-icon class="user-select-none" (click)="shopCreateNhanTinShop(shopChatField.shopId)">send</mat-icon>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>
