.chat {
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 1;

    &__button {
        background-color: rgb(0, 69, 219);
        color: white;
        cursor: pointer;
        width: 7rem;
        height: 2.5rem;
        text-align: center;
        font-size: 1.1rem;
        line-height: 2.5rem;
        margin-left: auto;
    }

    &__button:hover {
        background-color: rgb(0, 60, 190);
    }

    &__popup {
        background-color: white;
        color: black;
        width: 0rem;
        height: 0rem;
        border-top: 4px solid rgb(0, 60, 190);
        border-left: 4px solid rgb(0, 60, 190);

        &-tab {
            height: 100%;

            ::ng-deep .mat-tab-body-wrapper,
            ::ng-deep .mat-tab-body {
                height: 100%;
            }
        }

        &-partner {
            border-right: 2px solid rgb(0, 60, 190);
            width: 10rem;
            min-width: 10rem;
            overflow: hidden;

            &__container {
                overflow: hidden;

                &:first-of-type {
                    overflow: auto;
                }

                &-header {
                    height: 3rem;
                    min-height: 3rem;
                    cursor: pointer;
                    display: grid;
                    place-items: center;
                    width: 100%;
                    border-top: 1px solid black;
                    border-bottom: 1px solid black;
                    box-shadow: 0.15rem 0.15rem 0.25rem black;
                    z-index: 1;
                }

                &-content {
                    overflow: auto;
                    height: 0;
                }
            }

            &-item {
                margin-top: 0.5rem;
                padding: 0.5rem;
                cursor: pointer;

                &__border-avatar {
                    border: 1px solid rgb(99, 151, 248);
                    width: 2rem;
                    min-width: 2rem;
                    height: 2rem;
                    border-radius: 50%;
                    overflow: hidden;
                    margin-right: 0.5rem;
                }

                &__name {
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    display: -webkit-box;
                    font-size: 0.75rem;

                    &-expert {
                        color: #36a104;
                    }

                    &-admin {
                        color: #d801c6;
                    }
                }
            }

            &-item:hover,
            &-item:focus {
                background-color: rgba(0, 0, 0, 0.15);
            }

            &-item-active {
                background-color: rgba(0, 0, 0, 0.1);
            }
        }

        &-field {
            width: calc(100% - 10rem);
            position: relative;

            &__chip-shop {
                color: white;
                background-color: #ff4081;
                display: grid;
                place-items: center;
                padding: 0.25rem;
                width: 3.5rem;
                margin-right: 0.5rem;
                border-radius: 99rem;
                font-size: 0.75rem;
            }

            &__chip-user {
                color: white;
                background-color: #3f51b5;
                display: grid;
                place-items: center;
                padding: 0.25rem;
                width: 3.5rem;
                margin-right: 0.5rem;
                border-radius: 99rem;
                font-size: 0.75rem;

                &-expert {
                    background-color: #36a104;
                }

                &-admin {
                    background-color: #d801c6;
                }
            }

            &-new {
                position: absolute;
                top: 3rem;
                left: 50%;
                transform: translateX(-50%);
                background-color: #ff4081;
                color: white;
                padding: 0.5rem;
                border-radius: 0.5rem;
                z-index: 1;
                cursor: pointer;
                font-size: 0.75rem;
                margin-bottom: 0.75rem;
                opacity: 0;
                visibility: hidden;
            }

            &-new:hover,
            &-new:focus {
                background-color: #e6316d;
            }

            &-new::after {
                position: absolute;
                width: 0;
                height: 0;
                content: "";
                top: 100%;
                left: 50%;
                transform: translateX(-50%);
                border-left: 0.35rem solid transparent;
                border-right: 0.35rem solid transparent;
                border-top: 0.5rem solid #ff4081;
            }

            &-new:hover::after,
            &-new:focus::after {
                border-top-color: #e6316d;
            }

            &-name {
                width: 100%;
                border-bottom: 1px solid black;
                box-shadow: 0.15rem 0.15rem 0.25rem black;
                padding: 0.5rem;
                z-index: 1;

                &>span:first-of-type {
                    -webkit-line-clamp: 1;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    display: -webkit-box;
                }

                &>span:last-of-type {
                    margin-left: 0.5rem;

                    button {
                        border: none;
                        padding: 0;
                        background-color: transparent;
                    }
                }
            }

            &-message {
                height: 100%;
                width: 100%;
                overflow: auto;
                padding: 0.5rem;
                position: relative;

                &>div:not(:last-of-type) {
                    margin-bottom: 0.5rem;
                }

                &__receiver {
                    width: 100%;

                    &-date {
                        width: max-content;
                        min-width: max-content;
                        margin-right: auto;
                        margin-top: auto;
                        color: rgb(94, 94, 94);
                        font-size: 0.6rem;
                        margin-left: 0.5rem;
                        font-style: italic;
                    }

                    &-media {
                        max-width: 65%;
                        border-radius: 0.5rem;
                        overflow: hidden;
                        cursor: pointer;
                    }

                    &-text {
                        max-width: 65%;
                        overflow-wrap: break-word;
                        word-wrap: break-word;
                        word-break: break-word;
                        padding: 0.5rem;
                        border-radius: 0.5rem;
                        border-bottom-left-radius: 0;
                        background-color: #ff4081;
                        color: white;
                        position: relative;

                        &-icon {
                            cursor: pointer;
                            opacity: 0.7;
                            margin-left: 0.25rem;

                            &:hover {
                                opacity: 1;
                            }
                        }

                        &-link {
                            cursor: pointer;

                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }

                    &-text::after {
                        content: "";
                        position: absolute;
                        right: 100%;
                        bottom: 0;
                        width: 0;
                        height: 0;
                        border-left: 0.2rem solid transparent;
                        border-bottom: 0.2rem solid #ff4081;
                    }
                }

                &__sender {
                    width: 100%;

                    &-date {
                        width: max-content;
                        min-width: max-content;
                        margin-left: auto;
                        margin-top: auto;
                        color: rgb(94, 94, 94);
                        font-size: 0.6rem;
                        margin-right: 0.5rem;
                        font-style: italic;
                    }

                    &-media {
                        max-width: 65%;
                        border-radius: 0.5rem;
                        overflow: hidden;
                        cursor: pointer;
                        position: relative;

                        & ::ng-deep mat-progress-bar {
                            position: absolute;
                            bottom: 0.5rem;
                            left: 0.5rem;
                            width: calc(100% - 1rem);
                        }
                    }

                    &-text {
                        max-width: 65%;
                        overflow-wrap: break-word;
                        word-wrap: break-word;
                        word-break: break-word;
                        padding: 0.5rem;
                        border-radius: 0.5rem;
                        border-bottom-right-radius: 0;
                        background-color: rgb(0, 60, 190);
                        color: white;
                        position: relative;

                        &-icon {
                            cursor: pointer;
                            opacity: 0.7;
                            margin-right: 0.25rem;

                            &:hover {
                                opacity: 1;
                            }
                        }

                        &-link {
                            cursor: pointer;

                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }

                    &-text::after {
                        content: "";
                        position: absolute;
                        left: 100%;
                        bottom: 0;
                        width: 0;
                        height: 0;
                        border-right: 0.2rem solid transparent;
                        border-bottom: 0.2rem solid rgb(0, 60, 190);
                    }

                    &-text-error {
                        border: 3px red solid;
                    }

                    &-text-error::after {
                        bottom: -3px;
                        border-right: 0.4rem solid transparent;
                        border-bottom: 0.4rem solid red;
                    }
                }
            }

            &-check {
                font-style: italic;
                color: rgb(94, 94, 94);

                div {
                    font-size: 0.6rem;
                    margin-left: auto;
                }

                .mat-icon {
                    margin-left: 0.5rem;
                    width: 0.6rem;
                    height: 0.6rem;
                    font-size: 0.6rem;
                }
            }

            &-send {
                margin-top: auto;
                width: 100%;
                border-top: 1px solid black;
                padding: 0.5rem;
                position: relative;

                &-close {
                    position: absolute;
                    background-color: red;
                    top: -0.5rem;
                    left: 50%;
                    transform: translate(-50%, -100%);
                    display: grid;
                    place-items: center;
                    background-color: rgba(0, 0, 0, 0.4);
                    width: 3rem;
                    height: 1.5rem;
                    cursor: pointer;

                    .mat-icon {
                        color: white !important;
                        margin: 0 !important;
                        transition: 0.25s ease-in-out;
                    }

                    &-up {
                        .mat-icon {
                            transform: rotate(180deg);
                        }
                    }

                    &:hover {
                        background-color: rgba(0, 0, 0, 0.6);
                    }
                }

                &__image {
                    max-height: 4rem;
                    margin-bottom: 0.5rem;
                    width: 100%;
                    position: relative;
                    transition: 0.25s ease-in-out;

                    &-content {
                        overflow: hidden;
                        width: 100%;

                        div {
                            width: max-content;
                            height: 100%;
                            position: relative;

                            &:not(:first-of-type) {
                                margin-left: 1rem;
                            }

                            div {
                                z-index: 1;
                                position: absolute;
                                top: 0;
                                right: 0;
                                background-color: white;
                                width: 1.2rem;
                                height: 1.2rem;
                                transform: translateX(50%);
                                display: grid;
                                place-items: center;
                                cursor: pointer;
                                visibility: hidden;

                                .mat-icon {
                                    color: red !important;
                                    margin: 0 !important;
                                }
                            }

                            img {
                                max-height: 4rem;
                                width: max-content;
                                object-fit: contain;
                            }

                            &:hover {
                                div {
                                    visibility: visible;
                                }
                            }
                        }
                    }

                    &-arrow {
                        display: grid;
                        place-items: center;
                        position: absolute;
                        background-color: rgba(0, 0, 255, 0.4);
                        cursor: pointer;
                        padding: 0 0.35rem;
                        z-index: 2;

                        .mat-icon {
                            margin: 0 !important;
                            color: white !important;
                        }

                        &:hover {
                            background-color: rgba(0, 0, 255, 0.6);
                        }

                        &-left {
                            inset: 0 auto 0 0;
                        }

                        &-right {
                            inset: 0 0 0 auto;
                        }
                    }

                    &-hidden {
                        max-height: 0;
                        margin-bottom: 0;
                    }
                }

                input {
                    width: 100%;
                    border-radius: 2.5rem;
                    padding-left: 0.5rem;
                    padding-right: 0.5rem;
                    font-size: 0.8rem;
                }

                .mat-icon {
                    color: rgb(28, 28, 211);
                    width: 1rem;
                    height: 1rem;
                    font-size: 1rem;
                    margin-left: 0.5rem;
                    cursor: pointer;
                }

                .mat-icon:hover {
                    color: rgb(32, 32, 165);
                }
            }
        }
    }
}

::ng-deep .mat-progress-bar-fill::after {
    background-color: white;
}

::ng-deep .mat-progress-bar-buffer {
    background: transparent;
}

::ng-deep .mat-progress-bar-background {
    fill: transparent;
}
