::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
    stroke: white;
}

.small-text {
    font-size: 0.75rem;
    color: rgb(71, 134, 145);

    &:hover,
    &:active {
        text-decoration: underline;
        color: blue;
        cursor: pointer;
    }
}
