<div>
    <p mat-dialog-title class="fs-5 text-success user-select-none text-center">Lấy lại mật khẩu</p>
</div>
<div mat-dialog-content>
    <div [formGroup]="formControl">
        <div class="flex-row d-flex align-items-center">
            <p class="fw-bold col-4 user-select-none">Email<span style="color: red;">(*)</span></p>
            <mat-form-field appearance="outline" class="col-8">
                <input matInput type="text" [(ngModel)]="data.item.email" formControlName="email" (keydown)="keyCapture($event)">
                <mat-error class="user-select-none" *ngIf="f.email.hasError('required')">Chưa nhập email</mat-error>
                <mat-error class="user-select-none" *ngIf="f.email.hasError('pattern')">Email không đúng cú pháp</mat-error>
            </mat-form-field>
        </div>
        <div class="text-center user-select-none">
            <div *ngIf="sent">{{sent}}</div>
            <mat-error *ngIf="error">{{error}}</mat-error>
        </div>
        <div class="text-end">
            <span class="small-text" (click)="openDialogLogin()"><em>Trở về đăng nhập</em></span>
        </div>
    </div>
</div>
<div mat-dialog-actions class="float-end">
    <mat-progress-spinner *ngIf="spinner" color="accent" mode="indeterminate" diameter="20" style="margin-right: 0.75rem;"></mat-progress-spinner>
    <button mat-raised-button color="primary" (click)="getRecoverPassword()">Gửi email</button>
    <button mat-raised-button mat-dialog-close>Thoát</button>
</div>
