<div>
    <p mat-dialog-title class="fs-5 text-success user-select-none text-center">
        Nhập mật khẩu để xác nhận
    </p>
</div>
<div mat-dialog-content>
    <div [formGroup]="formControl">
        <div class="flex-row d-flex align-items-center">
            <p class="fw-bold col-4 user-select-none">Mật khẩu<span style="color: red;">(*)</span></p>
            <mat-form-field appearance="outline" class="col-8">
                <input matInput [type]="passwordType" [(ngModel)]="data.item.password" formControlName="password">
                <mat-icon matSuffix *ngIf="data.item.password" (mouseenter)="passwordToggle()" (mouseleave)="passwordToggle()">remove_red_eye</mat-icon>
                <mat-error class="user-select-none" *ngIf="f.password.hasError('required')">Chưa nhập mật khẩu</mat-error>
                <mat-error class="user-select-none" *ngIf="f.password.hasError('pattern')">Mật khẩu không đúng cú pháp</mat-error>
                <mat-error class="user-select-none" *ngIf="f.password.hasError('minlength')">Mật khẩu quá ngắn</mat-error>
            </mat-form-field>
        </div>
        <div class="text-center user-select-none">
            <mat-error *ngIf="error">{{error}}</mat-error>
        </div>
    </div>
</div>
<div mat-dialog-actions class="float-end">
    <mat-progress-spinner *ngIf="spinner" color="accent" mode="indeterminate" diameter="20" style="margin-right: 0.75rem;"></mat-progress-spinner>
    <button mat-raised-button color="warn" (click)="checkPassword()">Xác nhận</button>
    <button mat-raised-button mat-dialog-close>Thoát</button>
</div>
