<div class="user-select-none wrap-box">
    <div class="content">
        <h1>404</h1>
        <br>
        <h2>Uh Oh! Không tìm thấy trang này!</h2>
        <br>
        <a routerLink="/home">
            <button mat-raised-button>Trở về trang chủ</button>
        </a>
    </div>
</div>
