<div>
    <p mat-dialog-title class="fs-5 text-success user-select-none text-center">
        Trình sửa ảnh
    </p>
</div>
<div mat-dialog-content style="height: 100%;">
    <div class="d-flex flex-row align-items-center">
        <div class="flex-fill"></div>
        <button mat-stroked-button color="primary"
            (click)="resetImage()" style="min-width: fit-content;">
            Reset Image
        </button>
        <button mat-stroked-button color="primary"
            (click)="moveTop()" style="min-width: fit-content;" matTooltip="Di chuyển lên" matTooltipPosition="above" matTooltipShowDelay="300">
            <mat-icon>keyboard_arrow_up</mat-icon>
        </button>
        <button mat-stroked-button color="primary"
            (click)="moveBottom()" style="min-width: fit-content;" matTooltip="Di chuyển xuống" matTooltipPosition="above" matTooltipShowDelay="300">
            <mat-icon>keyboard_arrow_down</mat-icon>
        </button>
        <button mat-stroked-button color="primary"
            (click)="moveLeft()" style="min-width: fit-content;" matTooltip="Di chuyển sang trái" matTooltipPosition="above" matTooltipShowDelay="300">
            <mat-icon>keyboard_arrow_left</mat-icon>
        </button>
        <button mat-stroked-button color="primary"
            (click)="moveRight()" style="min-width: fit-content;" matTooltip="Di chuyển sang phải" matTooltipPosition="above" matTooltipShowDelay="300">
            <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
        <button mat-stroked-button color="primary"
            (click)="zoomOut()" style="min-width: fit-content;" matTooltip="Thu nhỏ" matTooltipPosition="above" matTooltipShowDelay="300">
            <mat-icon>zoom_out</mat-icon>
        </button>
        <button mat-stroked-button color="primary"
            (click)="zoomIn()" style="min-width: fit-content;" matTooltip="Phóng to" matTooltipPosition="above" matTooltipShowDelay="300">
            <mat-icon>zoom_in</mat-icon>
        </button>
        <button mat-stroked-button color="primary"
            (click)="flipHorizontal()" style="min-width: fit-content;" matTooltip="Lật ngang" matTooltipPosition="above" matTooltipShowDelay="300">
            <mat-icon>flip</mat-icon>
        </button>
        <button mat-stroked-button color="primary"
            (click)="flipVertical()" style="min-width: fit-content;" matTooltip="Lật dọc" matTooltipPosition="above" matTooltipShowDelay="300">
            <mat-icon style="transform: rotate(90deg)">flip</mat-icon>
        </button>
        <button mat-stroked-button color="primary"
            (click)="rotateLeft()" style="min-width: fit-content;" matTooltip="Quay trái" matTooltipPosition="above" matTooltipShowDelay="300">
            <mat-icon>rotate_left</mat-icon>
        </button>
        <mat-form-field appearance="outline" class="form-field-image-rotate">
            <input #input type="number" min="0" max="359" [(ngModel)]="rotation[index]" (input)="updateRotation()" matInput>
        </mat-form-field>
        <button mat-stroked-button color="primary"
            (click)="rotateRight()" style="min-width: fit-content;" matTooltip="Quay phải" matTooltipPosition="above" matTooltipShowDelay="300">
            <mat-icon>rotate_right</mat-icon>
        </button>
        <div class="flex-fill"></div>
    </div>
    <div class="d-flex flex-row align-items-center" style="margin: 0.5rem 0;">
        <div class="flex-fill"></div>
        <mat-slide-toggle color="primary" checked #toggle (toggleChange)="toggleCropper()">Dịch chuyển cropper</mat-slide-toggle>
        <div class="flex-fill"></div>
    </div>
    <div class="d-flex flex-row">
        <div class="d-flex flex-row align-items-center user-select-none">
            <mat-icon [class.active-color]="index > 0" [class.disable-color]="index === 0"
                (click)="toLeft()" matTooltip="Ảnh trái" matTooltipPosition="above" matTooltipShowDelay="300">
                arrow_left
            </mat-icon>
        </div>
        <image-cropper style="max-height: 25rem; justify-content: center;" id="crop"
            [imageBase64]="data.imageBase64String[index]"
            [maintainAspectRatio]="true"
            [containWithinAspectRatio]="true"
            [aspectRatio]="data.ratioWidth / data.ratioHeight"
            [resizeToWidth]="data.resizeWidth"
            [roundCropper]="false"
            [transform]="transform"
            [style.display]="showCropper ? null : 'none'"
            [cropper]="cropper"
            [hideResizeSquares]="hideResizeSquares[index]"
            [disabled]="disabledCropper[index]"
            format="png"
            (imageCropped)="imageCropped($event)"
            (imageLoaded)="imageLoaded()"
            (loadImageFailed)="loadImageFailed()"
            (cropperReady)="cropperReady()">
        </image-cropper>
        <div class="d-flex flex-row align-items-center user-select-none">
            <mat-icon [class.active-color]="index < data.imageCount - 1" [class.disable-color]="index === data.imageCount - 1"
                (click)="toRight()" matTooltip="Ảnh phải" matTooltipPosition="above" matTooltipShowDelay="300">
                arrow_right
            </mat-icon>
        </div>
    </div>
    <div class="text-center user-select-none">
        <span *ngFor="let item of data.imageBase64String; let i = index">
            <mat-icon *ngIf="i === index && check[i] === 1" class="view-check">check_circle</mat-icon>
            <mat-icon *ngIf="i !== index && check[i] === 1" class="not-view-check" (click)="toIndex(i)">check_circle</mat-icon>
            <mat-icon *ngIf="check[i] === 0" class="not-view-check" (click)="toIndex(i)">check_circle_outline</mat-icon>
        </span>
    </div>
</div>
<div mat-dialog-actions class="float-end">
    <button mat-raised-button color="primary" (click)="save()" [disabled]="disabled">Lưu</button>
    <button mat-raised-button mat-dialog-close>Thoát</button>
</div>
