.form-field-image-rotate {
    ::ng-deep .mat-form-field-wrapper {
        margin: 0;
        padding: 0;
        width: 4rem;
    }
}

.active-color {
    color: #3f51b5;
    cursor: pointer;
    transform: scale(4);
}

.disable-color {
    color: #3f51b5;
    cursor: not-allowed;
    transform: scale(4);
    filter: opacity(0.3);
}

.view-check {
    color: #3f51b5;
    cursor: pointer;
}

.not-view-check {
    color: #3f51b5;
    filter: opacity(0.4);
    cursor: pointer;
}

::ng-deep image-cropper > div {
    width: max-content !important;
    background-color: rgba(0, 0, 0, 0.1) !important;
}
