<div class="container-body" *ngIf="loaded | async">
    <div *ngIf="listGioHang.length || listGioHangDauGia.length then coGioHang else khongCoGioHang"></div>
    <ng-template #khongCoGioHang>
        <div class="container-content d-flex flex-row justify-content-center" style="padding-top: 5rem; padding-bottom: 5rem;">
            <h1>KHÔNG CÓ SẢN PHẨM NÀO TRONG GIỎ HÀNG</h1>
        </div>
    </ng-template>
    <ng-template #coGioHang>
        <div class="d-flex flex-row flex-wrap content-cart">
            <div class="d-flex flex-column content-cart__list">
                <div *ngFor="let item of listGioHang" class="content-cart__list-item">
                    <div class="d-flex flex-row align-items-center">
                        <a routerLink="/shop" [queryParams]="{name: item.tenShop}" class="content-cart__list-item__border-avatar">
                            <img style="width: 100%;" [src]="item.anhDaiDienShop">
                        </a>
                        <span>
                            <a routerLink="/shop" [queryParams]="{name: item.tenShop}" [@successColor]="linkAnimation ? 'enter' : 'leave'"
                                (mouseenter)="linkAnimation = !linkAnimation" (mouseleave)="linkAnimation = !linkAnimation">
                                {{item.tenShop}}
                            </a>
                        </span>
                    </div>
                    <div *ngFor="let item2 of item.listSanPhamInGioHang">
                        <hr>
                        <div class="d-flex flex-row">
                            <a routerLink="/shop/item" [queryParams]="{shopName: item.tenShop, itemName: item2.sanPham.tenSanPham}"
                                class="content-cart__list-item-image">
                                <img style="width: 100%;" [src]="item2.sanPham.avatar">
                            </a>
                            <div class="d-flex flex-column content-cart__list-item__info">
                                <div>
                                    <a routerLink="/shop/item" [queryParams]="{shopName: item.tenShop, itemName: item2.sanPham.tenSanPham}"
                                        [@successColor]="item2.linkAnimation ? 'enter' : 'leave'"
                                        (mouseenter)="item2.linkAnimation = !item2.linkAnimation" (mouseleave)="item2.linkAnimation = !item2.linkAnimation">
                                        <p class="content-cart__list-item__info-name">{{item2.sanPham.tenSanPham}}</p>
                                    </a>
                                </div>
                                <div class="flex-fill"></div>
                                <div class="d-flex flex-row align-items-center">
                                    <!-- <input  type="text" readonly class="content-cart__list-item__info-coupon" placeholder="---Chọn mã giảm giá---"
                                        [(ngModel)]="item2.maGiamGia" (click)="viewMaGiamGia(item2)"> -->
                                    <p *ngIf="!item2.editable" style="width: max-content; min-width: max-content;">Số lượng: {{item2.initSoLuong}}</p>
                                    <p *ngIf="item2.editable" style="width: max-content; min-width: max-content;">Số lượng: </p>
                                    <mat-form-field appearance="outline" *ngIf="item2.editable" class="content-cart__list-item__info-form-field">
                                        <input type="text" matInput [min]="1" [max]="item2.sanPham.soLuong" [(ngModel)]="item2.soLuong"
                                            [directiveOnlyNumber]="true" (input)="checkCount(item2)" #countInput style="text-align: center;">
                                    </mat-form-field>
                                    <mat-icon class="content-cart__list-item__info-icon user-select-none" color="primary"
                                        (click)="item2.editable = true" *ngIf="!item2.editable" matTooltip="Sửa số lượng" matTooltipPosition="above" matTooltipShowDelay="300">
                                        edit
                                    </mat-icon>
                                    <mat-icon class="content-cart__list-item__info-icon user-select-none" style="color: rgb(33, 161, 97);"
                                        (click)="updateGioHang(item2)" *ngIf="item2.editable" matTooltip="Lưu" matTooltipPosition="above" matTooltipShowDelay="300">
                                        done
                                    </mat-icon>
                                    <mat-icon class="content-cart__list-item__info-icon user-select-none" color="warn"
                                        (click)="item2.editable = false; item2.soLuong = item2.initSoLuong" *ngIf="item2.editable" matTooltip="Hủy" matTooltipPosition="above" matTooltipShowDelay="300">
                                        close
                                    </mat-icon>
                                </div>
                            </div>
                            <div class="content-cart__list-item-money d-flex flex-column">
                                <div class="flex-fill"></div>
                                <div class="d-flex flex-row align-items-center">
                                    <div>Đơn giá</div>
                                    <div class="flex-fill"></div>
                                    <div style="color: red;">{{item2.giamGia | number}}&nbsp;&#8363;</div>
                                </div>
                                <div class="flex-fill" *ngIf="item2.giaGiam"></div>
                                <div class="d-flex flex-row align-items-center" *ngIf="item2.giaGiam">
                                    <div>Giảm giá</div>
                                    <div class="flex-fill"></div>
                                    <div style="color: red;">-{{item2.giaGiam | number}}&nbsp;&#8363;</div>
                                </div>
                                <div class="flex-fill"></div>
                                <div class="d-flex flex-row align-items-center">
                                    <div>Tổng</div>
                                    <div class="flex-fill"></div>
                                    <div style="color: red;">{{item2.giamGia * item2.initSoLuong - item2.giaGiam | number}}&nbsp;&#8363;</div>
                                </div>
                                <div class="flex-fill"></div>
                            </div>
                            <div class="content-cart__list-item-remove d-flex flex-column user-select-none">
                                <div class="flex-fill"></div>
                                <mat-icon color="warn" matTooltip="Xóa sản phẩm" matTooltipPosition="above" matTooltipShowDelay="300"
                                    (click)="deleteGioHang(item2)" style="cursor: pointer;">
                                    delete
                                </mat-icon>
                                <div class="flex-fill"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngFor="let item of listGioHangDauGia" class="content-cart__list-item">
                    <h2 class="user-select-none">Sản phẩm bạn đã đấu giá được</h2>
                    <div class="d-flex flex-row align-items-center">
                        <a routerLink="/shop" [queryParams]="{name: item.tenShop}" class="content-cart__list-item__border-avatar">
                            <img style="width: 100%;" [src]="item.anhDaiDienShop">
                        </a>
                        <span>
                            <a routerLink="/shop" [queryParams]="{name: item.tenShop}" [@successColor]="linkAnimation ? 'enter' : 'leave'"
                                (mouseenter)="linkAnimation = !linkAnimation" (mouseleave)="linkAnimation = !linkAnimation">
                                {{item.tenShop}}
                            </a>
                        </span>
                    </div>
                    <div *ngFor="let item2 of item.listSanPhamInGioHang">
                        <hr>
                        <div class="d-flex flex-row">
                            <a routerLink="/shop/auction" [queryParams]="{shopName: item.tenShop, itemName: item2.sanPhamDauGia.tenSanPham}"
                                class="content-cart__list-item-image">
                                <img style="width: 100%;" [src]="item2.sanPhamDauGia.avatar">
                            </a>
                            <div class="d-flex flex-column content-cart__list-item__info">
                                <div>
                                    <a routerLink="/shop/auction" [queryParams]="{shopName: item.tenShop, itemName: item2.sanPhamDauGia.tenSanPham}"
                                        [@successColor]="item2.linkAnimation ? 'enter' : 'leave'"
                                        (mouseenter)="item2.linkAnimation = !item2.linkAnimation" (mouseleave)="item2.linkAnimation = !item2.linkAnimation">
                                        <p class="content-cart__list-item__info-name">{{item2.sanPhamDauGia.tenSanPham}}</p>
                                    </a>
                                </div>
                                <div class="flex-fill"></div>
                                <div class="d-flex flex-row align-items-center">
                                    <p style="width: max-content; min-width: max-content;">Thời gian thanh toán còn lại: <span style="color: red;">{{item2.timeLeft}}</span></p>
                                </div>
                            </div>
                            <div class="content-cart__list-item-money d-flex flex-column">
                                <div class="flex-fill"></div>
                                <div class="d-flex flex-row align-items-center">
                                    <div>Tổng</div>
                                    <div class="flex-fill"></div>
                                    <div style="color: red;">{{item2.giamGia | number}}&nbsp;&#8363;</div>
                                </div>
                                <div class="flex-fill"></div>
                            </div>
                            <div class="content-cart__list-item-remove d-flex flex-column user-select-none">
                                <div class="flex-fill"></div>
                                <mat-icon color="warn" matTooltip="Xóa sản phẩm" matTooltipPosition="above" matTooltipShowDelay="300"
                                    (click)="deleteGioHang(item2)" style="cursor: pointer;">
                                    delete
                                </mat-icon>
                                <div class="flex-fill"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content-cart__list-item">
                    <div class="d-flex flex-row">
                        <div class="content-cart__list-item-money d-flex flex-column" style="height: 5rem;">
                            <div class="flex-fill"></div>
                            <!-- <div class="d-flex flex-row align-items-center">
                                <div>Phí ship</div>
                                <div class="flex-fill"></div>
                                <div style="color: red;">{{phiShip | number}}&nbsp;&#8363;</div>
                            </div>
                            <div class="flex-fill"></div> -->
                            <div class="d-flex flex-row align-items-center">
                                <div>Thành tiền</div>
                                <div class="flex-fill"></div>
                                <div style="color: red;">{{thanhTien | number}}&nbsp;&#8363;</div>
                            </div>
                            <div class="flex-fill"></div>
                        </div>
                        <div class="content-cart__list-item-remove d-flex flex-column user-select-none">
                            <div class="flex-fill"></div>
                            <mat-icon color="warn" style="visibility: hidden;">
                                delete
                            </mat-icon>
                            <div class="flex-fill"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-cart__pay" [formGroup]="formControl" *ngIf="userLoaded | async">
                <h3 class="user-select-none" style="margin-bottom: 1rem;">THÔNG TIN THANH TOÁN</h3>
                <h3 class="user-select-none" style="margin-bottom: 1rem;" *ngIf="datHangHo">THÔNG TIN NGƯỜI ĐẶT HÀNG</h3>
                <mat-form-field appearance="outline" style="width: 100%;" *ngIf="datHangHo">
                    <mat-label>Họ</mat-label>
                    <input matInput type="text" formControlName="hoDat" [(ngModel)]="init.ho">
                </mat-form-field>
                <mat-form-field appearance="outline" style="width: 100%;" *ngIf="datHangHo">
                    <mat-label>Tên đệm</mat-label>
                    <input matInput type="text" formControlName="tenDemDat" [(ngModel)]="init.tenDem">
                </mat-form-field>
                <mat-form-field appearance="outline" style="width: 100%;" *ngIf="datHangHo">
                    <mat-label>Tên</mat-label>
                    <input matInput type="text" formControlName="tenDat" [(ngModel)]="init.ten">
                    <mat-error *ngIf="f.tenDat.hasError('required')">Chưa nhập tên</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" style="width: 100%;" *ngIf="datHangHo">
                    <mat-label>Số điện thoại</mat-label>
                    <input matInput type="text" formControlName="sdtDat" [(ngModel)]="init.sdt" [directiveOnlyNumber]="true">
                    <mat-error *ngIf="f.sdtDat.hasError('required')">Chưa nhập số điện thoại</mat-error>
                </mat-form-field>
                <mat-checkbox style="margin-bottom: 1rem;" [checked]="datHangHo" (change)="changeDatHangHo()">Đặt hàng hộ</mat-checkbox>
                <h3 class="user-select-none" style="margin-bottom: 1rem;" *ngIf="datHangHo">THÔNG TIN NGƯỜI NHẬN HÀNG</h3>
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Họ</mat-label>
                    <input matInput type="text" formControlName="ho" [(ngModel)]="userInfo.ho" (input)="setInitValue()">
                </mat-form-field>
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Tên đệm</mat-label>
                    <input matInput type="text" formControlName="tenDem" [(ngModel)]="userInfo.tenDem" (input)="setInitValue()">
                </mat-form-field>
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Tên</mat-label>
                    <input matInput type="text" formControlName="ten" [(ngModel)]="userInfo.ten" (input)="setInitValue()">
                    <mat-error *ngIf="f.ten.hasError('required')">Chưa nhập tên</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Số điện thoại</mat-label>
                    <input matInput type="text" formControlName="sdt" [(ngModel)]="userInfo.sdt" (input)="setInitValue()" [directiveOnlyNumber]="true">
                    <mat-error *ngIf="f.sdt.hasError('required')">Chưa nhập số điện thoại</mat-error>
                </mat-form-field>
                <mat-checkbox style="margin-bottom: 1rem;" *ngIf="!datHangHo" [checked]="chonDiaChiKhac" (change)="changeDiaChiKhac()">
                    Chọn địa chỉ khác
                </mat-checkbox>
                <mat-checkbox style="margin-bottom: 1rem;" *ngIf="chonDiaChiKhac && !datHangHo" [checked]="themDiaChi" (change)="themDiaChi = !themDiaChi">
                    Thêm mới sổ địa chỉ
                </mat-checkbox>
                <mat-form-field appearance="outline" style="width: 100%;" *ngIf="!datHangHo && !chonDiaChiKhac">
                    <mat-label>Địa chỉ</mat-label>
                    <mat-select [(ngModel)]="diaChi" formControlName="diaChi" (ngModelChange)="setInitValue()">
                        <mat-option>
                            <ngx-mat-select-search placeholderLabel="Tìm kiếm" [formControl]="diaChiSearch"></ngx-mat-select-search>
                        </mat-option>
                        <mat-option value="">---Chọn địa chỉ---</mat-option>
                        <mat-option [value]="item.diaChi" *ngFor="let item of listDiaChiFilter">{{item.diaChi}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="f.diaChi.hasError('required')">Chưa chọn địa chỉ</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" style="width: 100%;" *ngIf="datHangHo || chonDiaChiKhac">
                    <mat-label>Địa chỉ</mat-label>
                    <input matInput type="text" formControlName="diaChiKhac" [(ngModel)]="diaChiKhac">
                    <mat-error *ngIf="f.diaChiKhac.hasError('required')">Chưa nhập địa chỉ</mat-error>
                </mat-form-field>
                <!-- <h3 class="user-select-none" style="margin-bottom: 1rem;">ĐƠN VỊ VẬN CHUYỂN</h3>
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Đơn vị vận chuyển</mat-label>
                    <mat-select [(ngModel)]="donVi" formControlName="donVi" (ngModelChange)="changeDonVi(donVi)">
                        <mat-option>
                            <ngx-mat-select-search placeholderLabel="Tìm kiếm" [formControl]="donViSearch"></ngx-mat-select-search>
                        </mat-option>
                        <mat-option value="">---Chọn đơn vị vận chuyển---</mat-option>
                        <mat-option [value]="item" *ngFor="let item of listDonViFilter">{{item.tenDonVi}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="f.donVi.hasError('required')">Chưa chọn đơn vị vận chuyển</mat-error>
                </mat-form-field>
                <div class="d-flex flex-row fst-italic" *ngIf="donVi">
                    <p>Phí ship:</p>
                    <p style="color: red;">&nbsp;{{phiShipTruocDieuKien | number}}&nbsp;&#8363;</p>
                </div>
                <div class="d-flex flex-row fst-italic" *ngIf="donVi">
                    <p>Miễn phí ship khi tổng giá trị đơn hàng đạt {{dieuKienMienPhi | number}} &#8363;</p>
                </div>
                <h3 class="user-select-none" style="margin-bottom: 1rem;">PHƯƠNG THỨC THANH TOÁN</h3>
                <mat-radio-group class="d-flex flex-column" [(ngModel)]="phuongThucType" formControlName="phuongThucType">
                    <mat-radio-button [value]="0">Thanh toán khi nhận hàng</mat-radio-button>
                </mat-radio-group> -->
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Ghi chú</mat-label>
                    <textarea matInput cdkTextareaAutosize formControlName="ghiChu"
                        #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="7" cdkAutosizeMaxRows="7"></textarea>
                </mat-form-field>
                <mat-checkbox style="margin-bottom: 1rem;" [checked]="xuatHoaDon" (change)="xuatHoaDon = !xuatHoaDon"
                    style="margin-top: 0.5rem;">
                    Xuất hóa đơn
                </mat-checkbox>
                <div class="d-flex flex-row justify-content-center">
                    <button mat-raised-button color="accent" class="content-cart__pay-button" [disabled]="blockButton"
                        (click)="pay()"
                        [@slideButton]="payButtonAnimation ? 'enter' : 'leave'"
                        (mouseenter)="payButtonAnimation = !payButtonAnimation" (mouseleave)="payButtonAnimation = !payButtonAnimation">
                        Thanh toán <mat-icon [@slideNestedIcon]="payButtonAnimation ? 'enter' : 'leave'">arrow_forward</mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </ng-template>
</div>
