.content-cart {
    &__list {
        flex: 1 1 30rem;
        margin-left: 1rem;
        margin-right: 1rem;

        &-item {
            background-color: white;
            padding: 1rem;
            margin-bottom: 2rem;

            &__border-avatar {
                border: 1px solid rgb(99, 151, 248);
                width: 2.5rem;
                min-width: 2.5rem;
                height: 2.5rem;
                border-radius: 50%;
                overflow: hidden;
                margin-right: 1rem;
            }

            &-image {
                width: 5rem;
                min-width: 5rem;
                border: 1px solid black;
                margin-right: 1rem;
                height: max-content;
            }

            &__info {
                margin-right: 1rem;
                width: 100%;

                &-name {
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    display: -webkit-box;
                }

                &-coupon {
                    width: 100%;
                    margin-right: 0.5rem;
                    min-width: 3rem;
                    margin-bottom: 0.75rem;
                    cursor: pointer;
                    padding-left: 0.5rem;
                    padding-right: 0.5rem;
                }

                &-form-field {
                    margin-left: 0.5rem;

                    ::ng-deep .mat-form-field-wrapper {
                        margin: 0;
                        padding: 0;
                        margin-bottom: 0.75rem;
                        width: 4.5rem;
                    }
                }

                &-icon {
                    margin-bottom: 0.75rem;
                    margin-left: 0.5rem;
                    cursor: pointer;
                }
            }

            &-money {
                margin-left: auto;
                border-left: 1px solid rgba(0, 0, 0, 0.25);
                width: 10rem;
                min-width: 10rem;
                padding-left: 1rem;
            }

            &-remove {
                margin-left: 1rem;
                padding-left: 1rem;
                border-left: 1px solid rgba(0, 0, 0, 0.25);
            }
        }
    }

    &__pay {
        background-color: white;
        padding: 1rem;
        flex: 1 1 10rem;
        margin-left: 1rem;
        margin-right: 1rem;
        margin-bottom: 2rem;
        height: max-content;

        &>*:not(&>div:last-of-type, &>h3) {
            margin-bottom: 0.5rem;
            padding-left: 1rem;
            padding-right: 1rem;
        }

        &-button {
            border-radius: 2.5rem;
        }
    }
}
