<div>
    <p mat-dialog-title class="fs-5 text-success user-select-none text-center">
        Chi tiết shop
    </p>
</div>
<div mat-dialog-content>
    <div class="flex-row d-flex" style="margin-bottom: 1rem;">
        <p class="fw-bold col-3 user-select-none">Tên shop</p>
        <p>{{data.item.tenShop}}</p>
    </div>
    <div class="flex-row d-flex" style="margin-bottom: 1rem;">
        <p class="fw-bold col-3 user-select-none">Mô tả shop</p>
        <p>{{data.item.moTaShop}}</p>
    </div>
    <div class="flex-row d-flex" style="margin-bottom: 1rem;">
        <p class="fw-bold col-3 user-select-none">Ảnh đại diện shop</p>
        <div class="border-avatar">
            <img [class.img-landscape]="orient === 'landscape'" [class.img-portrait]="orient === 'portrait'" [src]="avatarImage" style="width: 100%;">
        </div>
    </div>
    <div class="flex-row d-flex" style="margin-bottom: 1rem;">
        <p class="fw-bold col-3 user-select-none">Chủ shop</p>
        <p>{{data.item.taiKhoanChuShop}}</p>
        <span class="fst-italic" *ngIf="!data.item.userHoatDong">&nbsp;(Tài khoản này đã bị ban)</span>
    </div>
    <div class="flex-row d-flex" style="margin-bottom: 1rem;">
        <p class="fw-bold col-3 user-select-none">Tổng số sản phẩm</p>
        <p>{{data.item.tongSoSanPham}}</p>
    </div>
    <div class="flex-row d-flex" style="margin-bottom: 1rem;">
        <p class="fw-bold col-3 user-select-none">Số người theo dõi</p>
        <p>{{data.item.soNguoiTheoDoi}}</p>
    </div>
    <div class="flex-row d-flex" style="margin-bottom: 1rem;">
        <p class="fw-bold col-3 user-select-none">Số người đánh giá</p>
        <p>{{data.item.soNguoiDanhGia}}</p>
    </div>
    <div class="flex-row d-flex" style="margin-bottom: 1rem;">
        <p class="fw-bold col-3 user-select-none">Đánh giá chung</p>
        <p>{{data.item.danhGiaChung}}</p>
    </div>
    <div class="flex-row d-flex" style="margin-bottom: 1rem;">
        <p class="fw-bold col-3 user-select-none">Ngày tạo</p>
        <p>{{data.item.createdAt | date:"dd/MM/yyyy"}}</p>
    </div>
    <div class="flex-row d-flex">
        <p class="fw-bold col-3 user-select-none">Trạng thái</p>
        <p *ngIf="data.item.hoatDong">Hoạt động</p>
        <p *ngIf="!data.item.hoatDong">Ban</p>
    </div>
</div>
<div mat-dialog-actions class="float-end">
    <button mat-raised-button mat-dialog-close color="primary">
        <a routerLink="/shop" [queryParams]="{name: data.item.tenShop}" style="color: white;">Xem shop</a>
    </button>
    <button mat-raised-button mat-dialog-close>Thoát</button>
</div>
