<mat-drawer-container class="container-sidenav">
    <mat-drawer [mode]="mode" [opened]="opened" fixedInViewport="false" class="sidenav" #sideNav>
        <div class="sidenav-item">
            <a routerLink="/information/my-information">
                <button mat-button routerLinkActive="active" (click)="opened ? null : sideNav.toggle()">Thông tin cá nhân</button>
            </a>
        </div>
        <div class="sidenav-item">
            <a routerLink="/information/order">
                <button mat-button routerLinkActive="active" (click)="opened ? null : sideNav.toggle()">Đơn hàng</button>
            </a>
        </div>
        <div class="sidenav-item">
            <a routerLink="/information/notification">
                <button mat-button routerLinkActive="active" (click)="opened ? null : sideNav.toggle()">Thông báo</button>
            </a>
        </div>
        <div class="sidenav-item">
            <a routerLink="/information/address">
                <button mat-button routerLinkActive="active" (click)="opened ? null : sideNav.toggle()">Sổ địa chỉ</button>
            </a>
        </div>
        <div class="sidenav-item">
            <a routerLink="/information/follow">
                <button mat-button routerLinkActive="active" (click)="opened ? null : sideNav.toggle()">Sổ theo dõi</button>
            </a>
        </div>
        <div class="sidenav-item">
            <a routerLink="/information/setting">
                <button mat-button routerLinkActive="active" (click)="opened ? null : sideNav.toggle()">Cài đặt tài khoản</button>
            </a>
        </div>
    </mat-drawer>
    <mat-drawer-content>
        <button class="sideNavToggle" (click)="sideNav.toggle()" [class.d-none]="toggleButton">
            <mat-icon>menu</mat-icon>
        </button>
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>
