<mat-drawer-container *ngIf="loaded | async" class="container-sidenav">
    <mat-drawer [mode]="mode" [opened]="opened" fixedInViewport="false" class="sidenav" #sideNav>
        <div *ngIf="userInfo.coShop then coShop else khongCoShop"></div>
        <ng-template #khongCoShop>
            <div class="sidenav-item">
                <a routerLink="/shop/my-shop/create-shop">
                    <button mat-button routerLinkActive="active" (click)="opened ? null : sideNav.toggle()">Tạo shop mới</button>
                </a>
            </div>
        </ng-template>
        <ng-template #coShop>
            <!-- <div class="sidenav-item">
                <a routerLink="/shop/my-shop/dashboard">
                    <button mat-button routerLinkActive="active" (click)="opened ? null : sideNav.toggle()">Dashboard</button>
                </a>
            </div> -->
            <div class="sidenav-item">
                <a routerLink="/shop" [queryParams]="{name: shop.tenShop}">
                    <button mat-button routerLinkActive="active" (click)="opened ? null : sideNav.toggle()">Xem shop</button>
                </a>
            </div>
            <div class="sidenav-item">
                <a routerLink="/shop/my-shop/item-management">
                    <button mat-button routerLinkActive="active" (click)="opened ? null : sideNav.toggle()">Quản lý sản phẩm</button>
                </a>
            </div>
            <div class="sidenav-item">
                <a routerLink="/shop/my-shop/auction-item-management">
                    <button mat-button routerLinkActive="active" (click)="opened ? null : sideNav.toggle()">Quản lý sản phẩm đấu giá</button>
                </a>
            </div>
            <div class="sidenav-item">
                <a routerLink="/shop/my-shop/order-management">
                    <button mat-button routerLinkActive="active" (click)="opened ? null : sideNav.toggle()">Quản lý đơn hàng</button>
                </a>
            </div>
            <div class="sidenav-item">
                <a routerLink="/shop/my-shop/setting">
                    <button mat-button routerLinkActive="active" (click)="opened ? null : sideNav.toggle()">Cài đặt shop</button>
                </a>
            </div>
        </ng-template>
    </mat-drawer>
    <mat-drawer-content>
        <button class="sideNavToggle" (click)="sideNav.toggle()" [class.d-none]="toggleButton">
            <mat-icon>menu</mat-icon>
        </button>
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>
