<div class="container-body">
    <div *ngIf="loaded | async" class="container-content">
        <button mat-raised-button color="accent" (click)="back()">Back</button>
        <div *ngIf="donHang then active else banned"></div>
        <ng-template #banned>
            <div class="user-select-none text-center error-box">
                <div class="content">
                    <br><br><br><br>
                    <h1>OOPS!</h1>
                    <br>
                    <h2>Không tìm thấy đơn hàng này!</h2>
                    <br><br><br><br>
                </div>
            </div>
        </ng-template>
        <ng-template #active>
            <div class="container-detail" [formGroup]="formControl">
                <h3><strong>MÃ ĐƠN HÀNG:</strong> {{donHang.maDonHang}}</h3>
                <h3>
                    <strong>TÌNH TRẠNG ĐƠN HÀNG:&nbsp;</strong>
                    <span>{{donHang.tinhTrang}}</span>
                    <span style="font-style: italic;" *ngIf="donHang.lyDoHuy">&nbsp;(Lý do: {{donHang.lyDoHuy}})</span>
                </h3>
                <h3><strong>NGÀY TẠO ĐƠN HÀNG:</strong> {{donHang.createdAt | date: "HH:mm:ss dd/MM/yyyy"}}</h3>
                <h3><strong>SẢN PHẨM</strong></h3>
                <table mat-table [dataSource]="donHang.donHangSanPham">
                    <ng-container matColumnDef="hinhAnh">
                        <th mat-header-cell *matHeaderCellDef>Hình ảnh</th>
                        <td mat-cell *matCellDef="let element" class="text-center">
                            <a [routerLink]="'/shop/' + (element.sanPhamDauGia ? 'auction' : 'item')" [queryParams]="{shopName: donHang.shopName, itemName: element.tenSanPham}">
                                <img [src]="element.hinhAnhSanPham" style="width: 100%;">
                            </a>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="tenSanPham">
                        <th mat-header-cell *matHeaderCellDef>Tên sản phẩm</th>
                        <td mat-cell *matCellDef="let element">
                            <a [routerLink]="'/shop/' + (element.sanPhamDauGia ? 'auction' : 'item')" [queryParams]="{shopName: donHang.shopName, itemName: element.tenSanPham}"
                                [@successColor]="element.linkAnimation ? 'enter' : 'leave'" (mouseenter)="element.linkAnimation = !element.linkAnimation" (mouseleave)="element.linkAnimation = !element.linkAnimation">
                                {{element.tenSanPham}}
                            </a>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="donGia">
                        <th mat-header-cell *matHeaderCellDef>Đơn giá</th>
                        <td mat-cell *matCellDef="let element" class="text-center">
                            <div *ngIf="element.donGia !== element.giamGia" class="container-detail__don-gia">{{element.donGia | number}}&#8363;</div>
                            <div>{{element.giamGia | number}}&nbsp;&#8363;</div>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="soLuong">
                        <th mat-header-cell *matHeaderCellDef>Số lượng</th>
                        <td mat-cell *matCellDef="let element" class="text-center">{{element.soLuong}}</td>
                    </ng-container>
                    <!-- <ng-container matColumnDef="maGiamGia">
                        <th mat-header-cell *matHeaderCellDef>Mã giảm giá</th>
                        <td mat-cell *matCellDef="let element" class="text-center">
                            <div class="container-detail__giam-gia" *ngIf="element.coMaGiamGia" (click)="viewMaGiamGia(element)"
                                [@successColor]="element.giamGiaAnimation ? 'enter' : 'leave'" (mouseenter)="element.giamGiaAnimation = !element.giamGiaAnimation" (mouseleave)="element.giamGiaAnimation = !element.giamGiaAnimation">
                                Xem
                            </div>
                            <div *ngIf="element.coMaGiamGia">-{{element.giaGiam | number}}&#8363;</div>
                        </td>
                    </ng-container> -->
                    <ng-container matColumnDef="tongTien">
                        <th mat-header-cell *matHeaderCellDef>Tổng tiền</th>
                        <td mat-cell *matCellDef="let element" class="text-center">{{element.giamGia * element.soLuong - element.giaGiam | number}}&nbsp;&#8363;</td>
                    </ng-container>
                    <!-- <ng-container matColumnDef="phiShip">
                        <th mat-footer-cell *matFooterCellDef colspan="4" style="border-right: 0.5px solid #ccc;">Phí vận chuyển</th>
                    </ng-container>
                    <ng-container matColumnDef="phiShipNumber">
                        <th mat-footer-cell *matFooterCellDef colspan="1" style="border-left: 0.5px solid #ccc;">{{donHang.phiVanChuyen | number}}&nbsp;&#8363;</th>
                    </ng-container> -->
                    <ng-container matColumnDef="thanhTien">
                        <th mat-footer-cell *matFooterCellDef colspan="4" style="border-right: 0.5px solid #ccc;">Thành tiền</th>
                    </ng-container>
                    <ng-container matColumnDef="thanhTienNumber">
                        <th mat-footer-cell *matFooterCellDef colspan="1" style="border-left: 0.5px solid #ccc;">{{donHang.thanhTien | number}}&nbsp;&#8363;</th>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true" class="user-select-none"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="element-row"></tr>
                    <!-- <tr mat-footer-row *matFooterRowDef="['phiShip', 'phiShipNumber']" class="container-detail__footer-row"></tr> -->
                    <tr mat-footer-row *matFooterRowDef="['thanhTien', 'thanhTienNumber']" class="container-detail__footer-row"></tr>
                </table>
                <h3><strong>THÔNG TIN NGƯỜI ĐẶT HÀNG</strong></h3>
                <div class="container-detail__info" *ngIf="!editable">
                    <h3>Họ và tên: {{info.tenDayDuNguoiDat}}</h3>
                    <h3>Số điện thoại: {{info.soDienThoaiNguoiDat}}</h3>
                </div>
                <div class="container-detail__info" *ngIf="editable">
                    <div class="d-flex flex-row align-items-baseline">
                        <h3>Họ và tên:&emsp;</h3>
                        <mat-form-field appearance="outline">
                            <input matInput type="text" formControlName="hoVaTenDat" [(ngModel)]="donHang.tenDayDuNguoiDat">
                            <mat-error *ngIf="f.hoVaTenDat.hasError('required')">Chưa nhập họ và tên</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="d-flex flex-row align-items-baseline">
                        <h3>Số điện thoại:&emsp;</h3>
                        <mat-form-field appearance="outline">
                            <input matInput type="text" formControlName="sdtDat" [(ngModel)]="donHang.soDienThoaiNguoiDat" [directiveOnlyNumber]="true">
                            <mat-error *ngIf="f.sdtDat.hasError('required')">Chưa nhập số điện thoại</mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <h3><strong>THÔNG TIN NGƯỜI NHẬN HÀNG</strong></h3>
                <div class="container-detail__info" *ngIf="!editable">
                    <h3>Họ và tên: {{info.tenDayDu}}</h3>
                    <h3>Số điện thoại: {{info.soDienThoai}}</h3>
                    <h3>Địa chỉ: {{info.diaChi}}</h3>
                    <h3>
                        Xuất hóa đơn:&nbsp;
                        <span *ngIf="info.xuatHoaDon">Có</span>
                        <span *ngIf="!info.xuatHoaDon">Không</span>
                    </h3>
                    <h3>Ghi chú: {{info.ghiChu && info.ghiChu.trim() ? info.ghiChu : 'Không có'}}</h3>
                </div>
                <div class="container-detail__info" *ngIf="editable">
                    <div class="d-flex flex-row align-items-baseline">
                        <h3>Họ và tên:&emsp;</h3>
                        <mat-form-field appearance="outline">
                            <input matInput type="text" formControlName="hoVaTen" [(ngModel)]="donHang.tenDayDu">
                            <mat-error *ngIf="f.hoVaTen.hasError('required')">Chưa nhập họ và tên</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="d-flex flex-row align-items-baseline">
                        <h3>Số điện thoại:&emsp;</h3>
                        <mat-form-field appearance="outline">
                            <input matInput type="text" formControlName="sdt" [(ngModel)]="donHang.soDienThoai" [directiveOnlyNumber]="true">
                            <mat-error *ngIf="f.sdt.hasError('required')">Chưa nhập số điện thoại</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="d-flex flex-row align-items-baseline">
                        <h3>Địa chỉ:&emsp;</h3>
                        <mat-form-field appearance="outline">
                            <input matInput type="text" formControlName="diaChi" [(ngModel)]="donHang.diaChi">
                            <mat-error *ngIf="f.diaChi.hasError('required')">Chưa nhập địa chỉ</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="d-flex flex-row align-items-baseline">
                        <mat-checkbox style="margin-bottom: 1rem;" [checked]="donHang.xuatHoaDon" (change)="donHang.xuatHoaDon = !donHang.xuatHoaDon"
                            style="margin-bottom: 0.5rem;">
                            Xuất hóa đơn
                        </mat-checkbox>
                    </div>
                    <div class="d-flex flex-row align-items-center">
                        <h3>Ghi chú:&emsp;</h3>
                        <mat-form-field appearance="outline">
                            <textarea matInput cdkTextareaAutosize formControlName="ghiChu" [(ngModel)]="donHang.ghiChu"
                                #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="7" cdkAutosizeMaxRows="7"></textarea>
                        </mat-form-field>
                    </div>
                </div>
                <div class="d-flex flex-row justify-content-center">
                    <button mat-raised-button color="primary" *ngIf="donHang.tinhTrangDonHangId !== acceptingStatus && donHang.tinhTrangDonHangId !== acceptedStatus && !dauGia"
                        (click)="datHangLai()">
                        Đặt hàng lại
                    </button>
                    <button mat-raised-button color="primary" *ngIf="donHang.tinhTrangDonHangId === acceptingStatus && !editable"
                        (click)="editable = true" style="margin-right: 0.5rem;">
                        Sửa thông tin
                    </button>
                    <button mat-raised-button color="warn" *ngIf="(donHang.tinhTrangDonHangId === acceptingStatus || donHang.tinhTrangDonHangId === acceptedStatus) && !editable"
                        (click)="huyDonHang(donHang)">
                        Hủy đơn hàng
                    </button>
                    <button mat-raised-button color="primary" *ngIf="donHang.tinhTrangDonHangId === acceptingStatus && editable"
                        (click)="editable = false; updateDonHang()" style="margin-right: 0.5rem;">
                        Lưu
                    </button>
                    <button mat-raised-button color="warn" *ngIf="donHang.tinhTrangDonHangId === acceptingStatus && editable"
                        (click)="editable = false">
                        Thoát
                    </button>
                </div>
            </div>
        </ng-template>
    </div>
</div>
