.border-avatar {
    border: 2px solid rgb(99, 151, 248);
    width: 10rem;
    min-width: 10rem;
    height: 10rem;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}

.img-landscape {
    width: auto;
    height: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.img-portrait {
    width: 100%;
    height: auto;
}
