<div>
    <p mat-dialog-title class="fs-5 text-success user-select-none text-center">
        Chi tiết người dùng
    </p>
</div>
<div mat-dialog-content>
    <div class="flex-row d-flex" style="margin-bottom: 1rem;">
        <p class="fw-bold col-3 user-select-none">Tên tài khoản</p>
        <p>{{data.item.userName}}</p>
    </div>
    <div class="flex-row d-flex" style="margin-bottom: 1rem;">
        <p class="fw-bold col-3 user-select-none">Email</p>
        <p style="word-break: break-all;">{{data.item.email}}</p>
        <span *ngIf="!data.item.emailConfirmed" class="fst-italic">&nbsp;(Email này chưa được xác thực)</span>
    </div>
    <div class="flex-row d-flex" style="margin-bottom: 1rem;">
        <p class="fw-bold col-3 user-select-none">Vai trò</p>
        <p>{{data.item.roleName}}</p>
    </div>
    <div class="flex-row d-flex" style="margin-bottom: 1rem;">
        <p class="fw-bold col-3 user-select-none">Ảnh đại diện</p>
        <div class="border-avatar">
            <img [class.img-landscape]="orient === 'landscape'" [class.img-portrait]="orient === 'portrait'" [src]="avatarImage" style="width: 100%;">
        </div>
    </div>
    <div class="flex-row d-flex" style="margin-bottom: 1rem;">
        <p class="fw-bold col-3 user-select-none">Họ</p>
        <p>{{data.item.userInfo.ho}}</p>
    </div>
    <div class="flex-row d-flex" style="margin-bottom: 1rem;">
        <p class="fw-bold col-3 user-select-none">Tên đệm</p>
        <p>{{data.item.userInfo.tenDem}}</p>
    </div>
    <div class="flex-row d-flex" style="margin-bottom: 1rem;">
        <p class="fw-bold col-3 user-select-none">Tên</p>
        <p>{{data.item.userInfo.ten}}</p>
    </div>
    <div class="flex-row d-flex" style="margin-bottom: 1rem;">
        <p class="fw-bold col-3 user-select-none">Giới tính</p>
        <p *ngIf="data.item.userInfo.gioiTinh === 'nam'">Nam</p>
        <p *ngIf="data.item.userInfo.gioiTinh === 'nu'">Nữ</p>
    </div>
    <div class="flex-row d-flex" style="margin-bottom: 1rem;">
        <p class="fw-bold col-3 user-select-none">Ngày sinh</p>
        <p>{{data.item.userInfo.ngaySinh | date:"dd/MM/yyyy"}}</p>
    </div>
    <div class="flex-row d-flex" style="margin-bottom: 1rem;">
        <p class="fw-bold col-3 user-select-none">Số điện thoại</p>
        <p>{{data.item.userInfo.sdt}}</p>
    </div>
    <div class="flex-row d-flex" style="margin-bottom: 1rem;">
        <p class="fw-bold col-3 user-select-none">Ngày tạo</p>
        <p>{{data.item.createdAt | date:"dd/MM/yyyy"}}</p>
    </div>
    <div class="flex-row d-flex">
        <p class="fw-bold col-3 user-select-none">Trạng thái</p>
        <p *ngIf="data.item.hoatDong">Hoạt động</p>
        <p *ngIf="!data.item.hoatDong">Ban</p>
    </div>
</div>
<div mat-dialog-actions class="float-end">
    <button mat-raised-button mat-dialog-close>Thoát</button>
</div>
