.wrap-box {
    position: relative;
    height: 100%;

    .content {
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        min-width: 100%;
    }
}
h1 {
    font-size: 2rem;
}
button {
    background-color: rgb(33, 161, 97);
    color: white;
    height: 3rem;
    font-size: 1.25rem;
}
