<div class="user-select-none wrap-box">
    <div class="content">
        <h1>Email Verification</h1>
        <br>
        <div *ngIf="loaded | async then done else loading"></div>
        <ng-template #loading>
            Đang xác thực email...
        </ng-template>
        <ng-template #done>
            <h3>{{result}}</h3>
            <br>
            <a routerLink="/home">
                <button mat-raised-button>Trở về trang chủ</button>
            </a>
        </ng-template>
    </div>
</div>
