<div class="container-body">
    <div class="container-content">
        <h2 class="fw-bold user-select-none">QUẢN LÝ SHOP</h2>
        <div class="flex-row d-flex user-select-none">
            <mat-form-field appearance="outline" style="width: 30%;">
                <mat-label>Trạng thái</mat-label>
                <mat-select [(ngModel)]="params.hoatDong" (ngModelChange)="toHeadPage(); getAllShop()">
                    <mat-option value="">---Chọn trạng thái---</mat-option>
                    <mat-option value=true>Hoạt động</mat-option>
                    <mat-option value=false>Ban</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="flex-row d-flex align-items-center user-select-none">
            <mat-form-field class="p-0" appearance="outline" style="width: 30%;">
                <mat-label>Tìm kiếm</mat-label>
                <input matInput [(ngModel)]="params.searchString">
                <mat-icon matSuffix *ngIf="params.searchString" (click)="params.searchString=''; toHeadPage(); getAllShop()">close</mat-icon>
            </mat-form-field>
            <button mat-raised-button (click)="toHeadPage(); getAllShop()" color="primary" style="margin-left: 1rem;">
                <mat-icon>search</mat-icon> Tìm kiếm
            </button>
        </div>
        <div class="flex-row d-flex align-items-center">
            <div class="float-end user-select-none" style="width: 100%;">
                <mat-paginator #paginator [length]="totalRecord" [pageSize]="params.pageSize" [pageSizeOptions]="[10,20,50]" (page)="getAllShop($event)"></mat-paginator>
            </div>
        </div>
        <div *ngIf="loaded | async">
            <table mat-table [dataSource]="listShop" class="mat-elevation-z8" matSort matSortDisableClear [matSortDirection]="sortDirection" [matSortActive]="sortActive" (matSortChange)="toHeadPage(); sortData($event)">
                <ng-container matColumnDef="select">
                    <th mat-header-cell *matHeaderCellDef>
                        <mat-checkbox (change)="$event ? masterToggle() : null"
                                        [checked]="selection.hasValue() && isAllSelected()"
                                        [indeterminate]="selection.hasValue() && !isAllSelected()">
                        </mat-checkbox>
                    </th>
                    <td mat-cell *matCellDef="let element">
                        <mat-checkbox (click)="$event.stopPropagation()"
                                        (change)="$event ? selection.toggle(element) : null"
                                        [checked]="selection.isSelected(element)"
                                        [disabled]="loggedUser.userId === element.userId">
                        </mat-checkbox>
                    </td>
                </ng-container>
                <ng-container matColumnDef="stt">
                    <th mat-header-cell *matHeaderCellDef>STT</th>
                    <td mat-cell *matCellDef="let element" [class.text-light]="element.userId === loggedUser.userId">{{element.stt}}</td>
                </ng-container>
                <ng-container matColumnDef="tenShop">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Tên shop</th>
                    <td mat-cell *matCellDef="let element" [class.text-light]="element.userId === loggedUser.userId">
                        <p>{{element.tenShop}}</p>
                    </td>
                </ng-container>
                <ng-container matColumnDef="createdAt">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Ngày tạo</th>
                    <td mat-cell *matCellDef="let element" [class.text-light]="element.userId === loggedUser.userId">{{element.createdAt | date: "dd/MM/yyyy"}}</td>
                </ng-container>
                <ng-container matColumnDef="taiKhoanChuShop">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Chủ shop</th>
                    <td mat-cell *matCellDef="let element" [class.text-light]="element.userId === loggedUser.userId">
                        <p>{{element.taiKhoanChuShop}}</p>
                    </td>
                </ng-container>
                <ng-container matColumnDef="hoatDong">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Trạng thái</th>
                    <td mat-cell *matCellDef="let element" [class.text-light]="element.userId === loggedUser.userId">
                        <span *ngIf="element.hoatDong">Hoạt động</span>
                        <span *ngIf="!element.hoatDong">Ban</span>
                    </td>
                </ng-container>
                <ng-container matColumnDef="thaoTac">
                    <th mat-header-cell *matHeaderCellDef>Thao tác</th>
                    <td mat-cell *matCellDef="let element" [class.text-light]="element.userId === loggedUser.userId">
                        <mat-icon matTooltip="Nhắn tin với shop" matTooltipPosition="above" matTooltipShowDelay="300" style="margin-left: 0.25rem; margin-right: 0.25rem;"
                            (click)="openChat(element.id)">
                            chat_bubble
                        </mat-icon>
                        <mat-icon matTooltip="Xem chi tiết" matTooltipPosition="above" matTooltipShowDelay="300" style="margin-left: 0.25rem; margin-right: 0.25rem;"
                            (click)="openDialogShopDetail(element)">
                            visibility
                        </mat-icon>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true" class="user-select-none"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                    [class.ban-status]="!row.hoatDong" [class.bg-secondary]="row.userId === loggedUser.userId" [class.element-row]="row.userId !== loggedUser.userId"
                    (click)="row.userId === loggedUser.userId ? null : selection.toggle(row)">
                </tr>
                <tr class="mat-row text-center" *matNoDataRow>
                    <td class="mat-cell" colspan="7">Không có dữ liệu</td>
                </tr>
            </table>
        </div>
        <div class="d-flex flex-row align-items-center">
            <button mat-raised-button class="activate-button" (click)="activateShops(selection.selected)">Activate selections</button>
            <mat-progress-spinner *ngIf="activateSpinner" color="accent" mode="indeterminate" diameter="20" style="margin-left: 0.75rem;"></mat-progress-spinner>
            <button mat-raised-button color="warn" class="ban-button" (click)="banShops(selection.selected)">Ban selections</button>
            <mat-progress-spinner *ngIf="banSpinner" color="accent" mode="indeterminate" diameter="20" style="margin-left: 0.75rem;"></mat-progress-spinner>
        </div>
    </div>
</div>
