.mat-table {
    width: 100%;
    margin-bottom: 2rem;
}

.mat-column-select {
    width: 3.5rem;
    text-align: center;
    padding: 0 !important;
}

.mat-column-stt {
    width: 3rem;
    text-align: center;
}

.mat-column-taiKhoanChuShop {
    p {
        word-break: break-all;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        display: -webkit-box;
        margin: 0;
    }
}

.mat-column-tenShop {
    p {
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        display: -webkit-box;
        margin: 0;
    }
}

.mat-column-hoatDong {
    padding: 0 !important;
}

.mat-column-thaoTac {
    width: 5rem;
    text-align: center;
    padding: 0 !important;
    border-left: 1px solid rgba(131, 131, 131, 0.616);

    mat-icon {
        cursor: pointer;
    }
}

tr.element-row:hover {
    background: whitesmoke;
    cursor: pointer;
}

tr.element-row:active {
    background: #efefef;
    cursor: pointer;
}

tr.ban-status:hover {
    background-color: rgba(255, 81, 81, 0.466);
    cursor: pointer;
}

tr.ban-status:active {
    background-color: rgba(255, 81, 81, 0.527);
    cursor: pointer;
}

.activate-button {
    background-color: rgb(33, 161, 97);
    color: white;
}

.ban-button {
    margin-left: 1.5rem;
}

.ban-status {
    background-color: rgba(255, 81, 81, 0.329);
}

.p-0 {
    ::ng-deep .mat-form-field-wrapper{
        padding: 0 !important;
    }
}

.text-light {
    ::ng-deep .mat-select-value {
        color: #f8f9fa!important;
    }

    ::ng-deep .mat-select-arrow {
        color: transparent !important;
    }
}
