<div class="container-body" *ngIf="loaded | async">
    <div *ngIf="listTheoDoi.length then coShop else khongCoShop"></div>
    <ng-template #khongCoShop>
        <div class="container-content d-flex flex-row justify-content-center" style="padding-top: 5rem; padding-bottom: 5rem;">
            <h1>KHÔNG CÓ SHOP NÀO TRONG SỐ THEO DÕI</h1>
        </div>
    </ng-template>
    <ng-template #coShop>
        <div class="container-content" *ngFor="let item of listTheoDoi">
            <div style="width: max-content;">
                <a routerLink="/shop" [queryParams]="{name: item.shop.tenShop}" [@successColor]="item.linkAnimation ? 'enter' : 'leave'"
                    (mouseenter)="item.linkAnimation = !item.linkAnimation" (mouseleave)="item.linkAnimation = !item.linkAnimation">
                    <p style="text-transform: uppercase; font-size: 1.25rem;">{{item.shop.tenShop}}</p>
                </a>
            </div>
            <div class="d-flex flex-row align-items-center">
                <div class="d-flex flex-column" style="margin-right: 1rem;">
                    <div class="flex-row d-flex justify-content-center" style="margin-bottom: 1rem;">
                        <a routerLink="/shop" [queryParams]="{name: item.shop.tenShop}" class="border-avatar">
                            <img style="width: 100%;" [src]="item.avatar">
                        </a>
                    </div>
                    <div class="flex-row d-flex align-items-center" style="margin-bottom: 1rem;">
                        <button mat-stroked-button color="warn" [@warnButton]="item.unfollowButtonAnimation ? 'enter' : 'leave'"
                            *ngIf="item.followed" (click)="deleteSoTheoDoi(item)"
                            (mouseenter)="item.unfollowButtonAnimation = !item.unfollowButtonAnimation" (mouseleave)="item.unfollowButtonAnimation = !item.unfollowButtonAnimation">
                            <mat-icon class="align-text-bottom">clear</mat-icon>
                            <span> Bỏ theo dõi</span>
                        </button>
                        <button mat-stroked-button color="primary" [@primaryButton]="item.followButtonAnimation ? 'enter' : 'leave'"
                            *ngIf="!item.followed" (click)="addSoTheoDoi(item)"
                            (mouseenter)="item.followButtonAnimation = !item.followButtonAnimation" (mouseleave)="item.followButtonAnimation = !item.followButtonAnimation">
                            <mat-icon class="align-text-bottom">add</mat-icon>
                            <span> Theo dõi</span>
                        </button>
                        <mat-progress-spinner *ngIf="item.loading" color="accent" mode="indeterminate" diameter="20" style="margin-left: 0.75rem;"></mat-progress-spinner>
                    </div>
                    <div class="flex-row d-flex justify-content-center">
                        <a routerLink="/shop" [queryParams]="{name: item.shop.tenShop}">
                            <button mat-stroked-button color="primary" [@primaryButton]="item.seeMoreButtonAnimation ? 'enter' : 'leave'"
                                (mouseenter)="item.seeMoreButtonAnimation = !item.seeMoreButtonAnimation" (mouseleave)="item.seeMoreButtonAnimation = !item.seeMoreButtonAnimation">
                                <span>Xem thêm</span>
                            </button>
                        </a>
                    </div>
                </div>
                <div class="d-flex flex-row overflow-auto">
                    <div class="container-shop__item" *ngFor="let sanPham of item.sanPham; let i = index">
                        <a class="container-shop__item-content d-flex flex-column" [@grayShadow]="item.grayShadowAnimation[i] ? 'enter' : 'leave'"
                            (mouseenter)="item.grayShadowAnimation[i] = !item.grayShadowAnimation[i]" (mouseleave)="item.grayShadowAnimation[i] = !item.grayShadowAnimation[i]"
                            routerLink="/shop/item" [queryParams]="{shopName: item.shop.tenShop, itemName: sanPham.tenSanPham}">
                            <img [src]="sanPham.avatar" style="width: 100%;">
                            <p class="container-shop__item-name">{{sanPham.tenSanPham}}</p>
                            <div class="flex-fill"></div>
                            <p class="container-shop__item-price" style="text-decoration: line-through; color: gray;" *ngIf="sanPham.donGia !== sanPham.giamGia">{{sanPham.donGia | number}}&nbsp;&#8363;</p>
                            <p class="container-shop__item-price" style="color: red; font-size: 1.125rem;">{{sanPham.giamGia | number}}&nbsp;&#8363;</p>
                            <div class="container-shop__item-footer d-flex flex-row align-items-center">
                                <p style="font-size: 0.75rem;" *ngIf="sanPham.soLuong > 0">CÒN HÀNG</p>
                                <p style="font-size: 0.75rem;" *ngIf="sanPham.soLuong <= 0">HẾT HÀNG</p>
                                <div class="flex-fill"></div>
                                <mat-icon class="container-shop__item-footer-icon" *ngIf="sanPham.danhGiaChung < 0.5">star_border</mat-icon>
                                <mat-icon class="container-shop__item-footer-icon" *ngIf="sanPham.danhGiaChung >= 0.5 && sanPham.danhGiaChung < 1">star_half</mat-icon>
                                <mat-icon class="container-shop__item-footer-icon" *ngIf="sanPham.danhGiaChung >= 1">star</mat-icon>
                                <mat-icon class="container-shop__item-footer-icon" *ngIf="sanPham.danhGiaChung < 1.5">star_border</mat-icon>
                                <mat-icon class="container-shop__item-footer-icon" *ngIf="sanPham.danhGiaChung >= 1.5 && sanPham.danhGiaChung < 2">star_half</mat-icon>
                                <mat-icon class="container-shop__item-footer-icon" *ngIf="sanPham.danhGiaChung >= 2">star</mat-icon>
                                <mat-icon class="container-shop__item-footer-icon" *ngIf="sanPham.danhGiaChung < 2.5">star_border</mat-icon>
                                <mat-icon class="container-shop__item-footer-icon" *ngIf="sanPham.danhGiaChung >= 2.5 && sanPham.danhGiaChung < 3">star_half</mat-icon>
                                <mat-icon class="container-shop__item-footer-icon" *ngIf="sanPham.danhGiaChung >= 3">star</mat-icon>
                                <mat-icon class="container-shop__item-footer-icon" *ngIf="sanPham.danhGiaChung < 3.5">star_border</mat-icon>
                                <mat-icon class="container-shop__item-footer-icon" *ngIf="sanPham.danhGiaChung >= 3.5 && sanPham.danhGiaChung < 4">star_half</mat-icon>
                                <mat-icon class="container-shop__item-footer-icon" *ngIf="sanPham.danhGiaChung >= 4">star</mat-icon>
                                <mat-icon class="container-shop__item-footer-icon" *ngIf="sanPham.danhGiaChung < 4.5">star_border</mat-icon>
                                <mat-icon class="container-shop__item-footer-icon" *ngIf="sanPham.danhGiaChung >= 4.5 && sanPham.danhGiaChung < 5">star_half</mat-icon>
                                <mat-icon class="container-shop__item-footer-icon" *ngIf="sanPham.danhGiaChung >= 5">star</mat-icon>
                                <p style="font-size: 0.75rem; color: gray; font-style: italic;">({{sanPham.soNguoiDanhGia}})</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex flex-row justify-content-center" [class.d-none]="endContent">
            <button mat-raised-button color="accent" (click)="getMoreSoTheoDoi()">Xem thêm...</button>
        </div>
    </ng-template>
</div>
