.border-avatar {
    border: 2px solid rgb(99, 151, 248);
    width: 5rem;
    min-width: 5rem;
    height: 5rem;
    border-radius: 50%;
    overflow: hidden;
}

.container-shop {
    &__item {
        background-color: white;
        border: 1px solid black;
        width: 12rem;
        min-width: 12rem;
        height: 25rem;
        margin-bottom: 2rem;

        &-content {
            width: 100%;
            height: 100%;
            cursor: pointer;
        }

        &-name {
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            display: -webkit-box;
            margin: 0.5rem;
        }

        &-price {
            text-align: end;
            margin-left: 0.5rem;
            margin-right: 0.5rem;
            margin-bottom: 0.5rem;
        }

        &-footer {
            margin-left: 0.5rem;
            margin-right: 0.5rem;
            margin-bottom: 0.5rem;

            p {
                margin: 0;
            }

            &-icon {
                width: 0.9rem !important;
                height: 0.9rem !important;
                font-size: 0.9rem !important;
                color: red;
            }
        }
    }

    &__item:not(:last-of-type) {
        margin-right: 2rem;
    }
}
