<div class="container-body">
    <div class="container-content" [formGroup]="formControl">
        <h2 class="fw-bold user-select-none">TẠO SHOP MỚI</h2>
        <div class="flex-row d-flex align-items-center container-content__block">
            <p class="col-3 text-end user-select-none">Tên shop<span style="color: red;">(*)</span></p>
            <mat-form-field appearance="outline" class="col-6 text-start container-content__block-form-field">
                <input matInput type="text" formControlName="tenShop">
                <mat-error class="user-select-none" *ngIf="f.tenShop.hasError('required')">Chưa nhập tên shop</mat-error>
            </mat-form-field>
        </div>
        <div class="flex-row d-flex align-items-center container-content__block">
            <p class="col-3 text-end user-select-none">Mô tả shop</p>
            <mat-form-field appearance="outline" class="col-6 text-start container-content__block-form-field">
                <textarea matInput formControlName="moTaShop" cdkTextareaAutosize
                    #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="4" cdkAutosizeMaxRows="4"></textarea>
            </mat-form-field>
        </div>
        <div class="flex-row d-flex align-items-center container-content__block" *ngIf="error">
            <div class="col-3"></div>
            <mat-error class="user-select-none text-start container-content__block-form-field col-9">{{error}}</mat-error>
        </div>
        <div class="flex-row d-flex align-items-center container-content__block">
            <div class="col-3"></div>
            <button mat-raised-button color="primary" class="text-start container-content__block-form-field"
                (click)="createShop()">
                Lưu
            </button>
            <mat-progress-spinner *ngIf="spinner" color="accent" mode="indeterminate" diameter="20" style="margin-left: 0.75rem;"></mat-progress-spinner>
        </div>
    </div>
</div>
