<div>
    <p mat-dialog-title class="fs-5 text-success user-select-none text-center">
        {{data.item.id ? "Cập nhật sản phẩm" : "Thêm mới sản phẩm"}}
    </p>
</div>
<div mat-dialog-content>
    <div [formGroup]="formControl">
        <div class="flex-row d-flex align-items-center">
            <p class="fw-bold col-3 user-select-none">Tên sản phẩm<span style="color: red;">(*)</span></p>
            <mat-form-field appearance="outline" class="col-9">
                <input matInput type="text" [(ngModel)]="data.item.tenSanPham" formControlName="tenSanPham">
                <mat-error class="user-select-none" *ngIf="f.tenSanPham.hasError('required')">Chưa nhập tên sản phẩm</mat-error>
            </mat-form-field>
        </div>
        <div class="flex-row d-flex align-items-center">
            <p class="fw-bold col-3 user-select-none">Loại sản phẩm<span style="color: red;">(*)</span></p>
            <mat-form-field appearance="outline" class="col-9">
                <!-- <mat-select formControlName="loaiSanPham" [(ngModel)]="data.item.loaiSanPhamId" (ngModelChange)="changeLoaiSanPham();"> -->
                <mat-select formControlName="loaiSanPham" [(ngModel)]="data.item.loaiSanPhamId">
                    <mat-option>
                        <ngx-mat-select-search placeholderLabel="Tìm kiếm" [formControl]="searchString"></ngx-mat-select-search>
                    </mat-option>
                    <mat-option value="">---Chọn loại sản phẩm---</mat-option>
                    <mat-option *ngFor="let item of listLoaiSanPhamFilter" [value]="item.id">{{item.tenLoaiSanPham}}</mat-option>
                </mat-select>
                <mat-error *ngIf="f.loaiSanPham.hasError('required')">Chưa chọn loại sản phẩm</mat-error>
            </mat-form-field>
        </div>
        <div class="flex-row d-flex align-items-center">
            <p class="fw-bold col-3 user-select-none">Xuất xứ<span style="color: red;">(*)</span></p>
            <mat-form-field appearance="outline" class="col-9">
                <input matInput type="text" [(ngModel)]="data.item.xuatXu" formControlName="xuatXu">
                <mat-error class="user-select-none" *ngIf="f.xuatXu.hasError('required')">Chưa nhập xuất xứ</mat-error>
            </mat-form-field>
        </div>
        <div class="flex-row d-flex align-items-center">
            <p class="fw-bold col-3 user-select-none">Năm</p>
            <mat-form-field appearance="outline" class="col-9">
                <input matInput type="text" [(ngModel)]="data.item.nam" formControlName="nam" [directiveOnlyNumber]="true">
            </mat-form-field>
        </div>
        <div class="flex-row d-flex align-items-center">
            <p class="fw-bold col-3 user-select-none">Dung tích<span style="color: red;">(*)</span></p>
            <mat-form-field appearance="outline" class="col-9">
                <input matInput type="text" [(ngModel)]="data.item.dungTich" formControlName="dungTich"
                    [directiveOnlyDecimal]="true" directiveCurrencySpace="Mililit">
                <mat-error class="user-select-none" *ngIf="f.dungTich.hasError('required')">Chưa nhập dung tích</mat-error>
            </mat-form-field>
        </div>
        <div class="flex-row d-flex align-items-center">
            <p class="fw-bold col-3 user-select-none">Nồng độ<span style="color: red;">(*)</span></p>
            <mat-form-field appearance="outline" class="col-9">
                <input matInput type="text" [(ngModel)]="data.item.nongDo" formControlName="nongDo"
                    [directiveOnlyDecimal]="true" directiveCurrencySpace="%">
                <mat-error class="user-select-none" *ngIf="f.nongDo.hasError('required')">Chưa nhập nồng độ</mat-error>
                <mat-error class="user-select-none" *ngIf="f.nongDo.hasError('max')">Nồng độ tối đa là 100%</mat-error>
            </mat-form-field>
        </div>
        <div class="flex-row d-flex align-items-center">
            <p class="fw-bold col-3 user-select-none">Màu sắc<span style="color: red;">(*)</span></p>
            <mat-form-field appearance="outline" class="col-9">
                <input matInput type="text" [(ngModel)]="data.item.mauSac" formControlName="mauSac">
                <mat-error class="user-select-none" *ngIf="f.mauSac.hasError('required')">Chưa nhập màu sắc</mat-error>
            </mat-form-field>
        </div>
        <div class="flex-row d-flex align-items-baseline" style="margin-bottom: 1rem;">
            <p class="fw-bold col-3 user-select-none">Giới thiệu sản phẩm</p>
            <ejs-richtexteditor #formRTE [toolbarSettings]="tools" [insertImageSettings]="insertImageSettings" formControlName="thongTinKhac"
                [(ngModel)]="data.item.thongTinKhac" (dialogOpen)="imageSubscribe()" (dialogClose)="imageDestroy()" height="30rem"
                *ngIf="data.item.id">
            </ejs-richtexteditor>
            <p *ngIf="!data.item.id" class="user-select-none text-danger">Phải thêm mới sản phẩm trước</p>
            <!-- <mat-form-field appearance="outline" class="col-9">
                <textarea matInput [(ngModel)]="data.item.thongTinKhac" formControlName="thongTinKhac" cdkTextareaAutosize
                    #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="4" cdkAutosizeMaxRows="4">
                </textarea>
            </mat-form-field> -->
        </div>
        <div class="flex-row d-flex align-items-center">
            <p class="fw-bold col-3 user-select-none">Đơn giá<span style="color: red;">(*)</span></p>
            <mat-form-field appearance="outline" class="col-9">
                <input #donGia matInput type="text" [(ngModel)]="data.item.donGia" formControlName="donGia" (input)="checkGioiHan()"
                    [directiveOnlyNumber]="true" directiveCurrencySpace="₫">
                <mat-error class="user-select-none" *ngIf="f.donGia.hasError('required')">Chưa nhập đơn giá</mat-error>
            </mat-form-field>
        </div>
        <div class="flex-row d-flex align-items-center" style="margin-bottom: 1rem;">
            <div class="col-3"></div>
            <div class="col-9 user-select-none">
                <mat-checkbox formControlName="khongGiamGia" [(ngModel)]="khongGiamGia">Không giảm giá</mat-checkbox>
            </div>
        </div>
        <div class="flex-row d-flex align-items-center" *ngIf="!khongGiamGia">
            <p class="fw-bold col-3 user-select-none">Giá giảm<span style="color: red;">(*)</span></p>
            <mat-form-field appearance="outline" class="col-9">
                <input #giamGia matInput type="text" [(ngModel)]="data.item.giamGia" formControlName="giamGia" (input)="checkGioiHan()"
                    [directiveOnlyNumber]="true" directiveCurrencySpace="₫">
                <mat-error class="user-select-none" *ngIf="f.giamGia.hasError('required')">Chưa nhập giá giảm</mat-error>
                <mat-error class="user-select-none" *ngIf="f.giamGia.hasError('overLimit')">Giá giảm không được lớn hơn đơn giá</mat-error>
            </mat-form-field>
        </div>
        <div class="flex-row d-flex align-items-center">
            <p class="fw-bold col-3 user-select-none">Số lượng<span style="color: red;">(*)</span></p>
            <mat-form-field appearance="outline" class="col-9">
                <input matInput type="text" [(ngModel)]="data.item.soLuong" formControlName="soLuong" [directiveOnlyNumber]="true">
                <mat-error class="user-select-none" *ngIf="f.soLuong.hasError('required')">Chưa nhập số lượng</mat-error>
            </mat-form-field>
        </div>
        <div class="flex-row d-flex align-items-center" style="margin-top: 0.5rem;">
            <p class="fw-bold col-3 user-select-none">Hình ảnh<span style="color: red;">(*)</span></p>
            <input multiple type="file" hidden #imageUpload accept=".jpg, .png, .jpeg, .jfif, .pjpeg, .pjp, .webp" (change)="checkFileType()">
            <button mat-raised-button color="primary" class="text-start container-content__block-form-field"
                (click)="type = 0; imageUpload.click()" style="margin-right: 1rem;">
                Chọn ảnh
            </button>
            <mat-error *ngIf="noImage">Chưa chọn ảnh</mat-error>
            <button mat-raised-button class="text-start container-content__block-form-field" *ngIf="itemImage.length"
                (click)="type = 1; imageUpload.click()" style="margin-right: 1rem; background-color: rgb(33, 161, 97); color: white;">
                Thêm ảnh
            </button>
            <button mat-raised-button color="warn" class="text-start container-content__block-form-field" *ngIf="itemImage.length"
                (click)="removeImage(index)">
                Xóa ảnh
            </button>
        </div>
        <div class="flex-row d-flex align-items-center" style="margin-top: 2rem;" *ngIf="itemImage.length" #imagePanel>
            <div class="col-3">
                <div class="flex-column d-flex align-items-center thumbnail">
                    <span *ngFor="let item of itemImage; let i = index" class="flex-row d-flex align-items-center thumbnail-image"
                        (mouseenter)="peek[i] = true" (mouseleave)="peek[i] = false" [id]="i === index ? 'thumbnailPanel' : ''">
                        <div class="flex-column d-flex align-items-center thumbnail-position">
                            <mat-icon class="user-select-none" (click)="prevSwitch(i)"
                                *ngIf="peek[i] && i !== 0" matTooltip="Chuyển ảnh về trước" matTooltipPosition="above" matTooltipShowDelay="300">
                                arrow_upward
                            </mat-icon>
                            <mat-icon class="user-select-none" (click)="nextSwitch(i)"
                                *ngIf="peek[i] && i !== itemImage.length - 1" matTooltip="Chuyển ảnh về sau" matTooltipPosition="above" matTooltipShowDelay="300">
                                arrow_downward
                            </mat-icon>
                        </div>
                        <div class="thumbnail-border">
                            <mat-icon color="warn" class="thumbnail-border__delete-icon user-select-none" (click)="removeImage(i)"
                                *ngIf="peek[i]" matTooltip="Xóa ảnh" matTooltipPosition="above" matTooltipShowDelay="300">
                                delete
                            </mat-icon>
                            <div [class.thumbnail-border__no-view]="i !== index" [class.thumbnail-border__view]="i === index"
                                (click)="toIndex(i)">
                                <img [src]="item" style="width: 100%;">
                            </div>
                        </div>
                    </span>
                </div>
            </div>
            <div class="col-9">
                <div class="flex-row d-flex align-items-center">
                    <mat-icon class="user-select-none" [class.active-color]="index > 0" [class.disable-color]="index === 0"
                        (click)="toLeft()" matTooltip="Ảnh trái" matTooltipPosition="above" matTooltipShowDelay="300">
                        arrow_left
                    </mat-icon>
                    <div class="flex-fill"></div>
                    <div class="image-border" (click)="openImage(itemImage[index])">
                        <img [src]="itemImage[index]" style="width: 100%;">
                    </div>
                    <div class="flex-fill"></div>
                    <mat-icon class="user-select-none" [class.active-color]="index < itemImage.length - 1" [class.disable-color]="index === itemImage.length - 1"
                        (click)="toRight()" matTooltip="Ảnh phải" matTooltipPosition="above" matTooltipShowDelay="300">
                        arrow_right
                    </mat-icon>
                </div>
            </div>
        </div>
    </div>
</div>
<div mat-dialog-actions class="float-end">
    <button mat-raised-button color="primary" (click)="checkExistedItem()">Lưu</button>
    <button mat-raised-button mat-dialog-close>Thoát</button>
</div>
