<div class="home-body" *ngIf="loaded | async">
    <div class="d-flex flex-row">
        <div class="category d-flex flex-column">
            <div class="category-title">RƯỢU MỚI NHẬP</div>
            <div class="category-list__header">TÌNH TRẠNG</div>
            <div class="category-list__content">
                <div [class.category-list__content-lock]="params.conHang === null" (click)="setAllTinhTrang()">Tất cả</div>
                <div (click)="changeConHang(true)" [class.category-list__content-active]="params.conHang === true">Còn hàng</div>
            </div>
            <div class="category-list__header">LOẠI RƯỢU</div>
            <div class="category-list__content">
                <div [class.category-list__content-lock]="!params.loaiSanPhamId.length" (click)="setAllLoaiSanPham()">Tất cả</div>
                <div *ngFor="let item of listLoaiSanPham" (click)="changeLoaiSanPham(item.id)"
                    [class.category-list__content-active]="params.loaiSanPhamId.includes(item.id)">
                    {{item.tenLoaiSanPham}}
                </div>
            </div>
        </div>
        <div class="item">
            <div class="search-box">
                <input type="text" placeholder="Tìm kiếm..." [(ngModel)]="params.searchString" class="search-box-input" (keydown)="keyCapture($event)">
            </div>
            <h2>MUA NGAY</h2>
            <div *ngFor="let item of listSanPham" class="item-box d-flex flex-row" [@grayShadow]="item.grayShadowAnimation ? 'enter' : 'leave'"
                (mouseenter)="item.grayShadowAnimation = true" (mouseleave)="item.grayShadowAnimation = false">
                <img [src]="item.avatar" routerLink="/shop/item" [queryParams]="{shopName: item.tenShop, itemName: item.tenSanPham}">
                <div class="d-flex flex-column item-box__info">
                    <a class="item-box__info-name" routerLink="/shop/item" [queryParams]="{shopName: item.tenShop, itemName: item.tenSanPham}">{{item.tenSanPham}}</a>
                    <div class="d-flex flex-column" style="margin-top: 2rem;">
                        <div class="d-flex flex-row" style="margin-bottom: 0.5rem;">
                            <mat-icon>category</mat-icon>
                            <div>&nbsp;{{item.tenLoaiSanPham}}</div>
                        </div>
                        <div class="d-flex flex-row" style="margin-bottom: 0.5rem;">
                            <mat-icon>place</mat-icon>
                            <div>&nbsp;{{item.xuatXu}}</div>
                        </div>
                        <div class="d-flex flex-row">
                            <mat-icon>opacity</mat-icon>
                            <div>&nbsp;{{item.nongDo}} %</div>
                        </div>
                    </div>
                </div>
                <div class="item-box__sub d-flex flex-column">
                    <div class="item-box__sub-old-price" *ngIf="item.donGia !== item.giamGia">{{item.donGia | number}}&nbsp;&#8363;</div>
                    <div class="item-box__sub-new-price">{{item.giamGia | number}}&nbsp;&#8363;</div>
                    <div class="d-flex flex-row item-box__sub-rate justify-content-end">
                        <mat-icon class="item-box__sub-rate-star" *ngIf="item.danhGiaChung < 0.3">star_border</mat-icon>
                        <mat-icon class="item-box__sub-rate-star" *ngIf="item.danhGiaChung >= 0.3 && item.danhGiaChung < 0.8">star_half</mat-icon>
                        <mat-icon class="item-box__sub-rate-star" *ngIf="item.danhGiaChung >= 0.8">star</mat-icon>
                        <mat-icon class="item-box__sub-rate-star" *ngIf="item.danhGiaChung < 1.3">star_border</mat-icon>
                        <mat-icon class="item-box__sub-rate-star" *ngIf="item.danhGiaChung >= 1.3 && item.danhGiaChung < 1.8">star_half</mat-icon>
                        <mat-icon class="item-box__sub-rate-star" *ngIf="item.danhGiaChung >= 1.8">star</mat-icon>
                        <mat-icon class="item-box__sub-rate-star" *ngIf="item.danhGiaChung < 2.3">star_border</mat-icon>
                        <mat-icon class="item-box__sub-rate-star" *ngIf="item.danhGiaChung >= 2.3 && item.danhGiaChung < 2.8">star_half</mat-icon>
                        <mat-icon class="item-box__sub-rate-star" *ngIf="item.danhGiaChung >= 2.8">star</mat-icon>
                        <mat-icon class="item-box__sub-rate-star" *ngIf="item.danhGiaChung < 3.3">star_border</mat-icon>
                        <mat-icon class="item-box__sub-rate-star" *ngIf="item.danhGiaChung >= 3.3 && item.danhGiaChung < 3.8">star_half</mat-icon>
                        <mat-icon class="item-box__sub-rate-star" *ngIf="item.danhGiaChung >= 3.8">star</mat-icon>
                        <mat-icon class="item-box__sub-rate-star" *ngIf="item.danhGiaChung < 4.3">star_border</mat-icon>
                        <mat-icon class="item-box__sub-rate-star" *ngIf="item.danhGiaChung >= 4.3 && item.danhGiaChung < 4.8">star_half</mat-icon>
                        <mat-icon class="item-box__sub-rate-star" *ngIf="item.danhGiaChung >= 4.8">star</mat-icon>
                        <div style="color: red;">&nbsp;({{item.danhGiaChung}})</div>
                    </div>
                    <div class="item-box__sub-quantity" *ngIf="item.soLuong > 0">CÒN HÀNG</div>
                    <div class="item-box__sub-quantity" *ngIf="item.soLuong <= 0">HẾT HÀNG</div>
                    <div class="flex-fill"></div>
                    <div class="d-flex flex-row justify-content-end">
                        <button mat-stroked-button color="warn" routerLink="/shop/item" [queryParams]="{shopName: item.tenShop, itemName: item.tenSanPham}">Xem thêm</button>
                    </div>
                </div>
            </div>
            <div class="no-item user-select-none" *ngIf="!listSanPham.length">KHÔNG CÓ SẢN PHẨM NÀO</div>
            <div class="d-flex flex-row justify-content-end user-select-none" style="background-color: transparent;" *ngIf="listSanPham.length || params.pageIndex > 1">
                <div class="page-number" *ngIf="params.pageIndex > 1" (click)="getAllSanPham(1)">
                    <mat-icon>first_page</mat-icon>
                </div>
                <div class="page-number" *ngIf="params.pageIndex > 1" (click)="getAllSanPham(params.pageIndex - 1)">
                    <mat-icon>chevron_left</mat-icon>
                </div>
                <div class="page-number page-number-etc" *ngIf="params.pageIndex > 3">...</div>
                <div class="page-number" *ngIf="params.pageIndex > 2" (click)="getAllSanPham(params.pageIndex - 2)">{{params.pageIndex - 2}}</div>
                <div class="page-number" *ngIf="params.pageIndex > 1" (click)="getAllSanPham(params.pageIndex - 1)">{{params.pageIndex - 1}}</div>
                <div class="page-number page-number-active">{{params.pageIndex}}</div>
                <div class="page-number" *ngIf="params.pageIndex <= lastPage - 1" (click)="getAllSanPham(params.pageIndex + 1)">{{params.pageIndex + 1}}</div>
                <div class="page-number" *ngIf="params.pageIndex <= lastPage - 2" (click)="getAllSanPham(params.pageIndex + 2)">{{params.pageIndex + 2}}</div>
                <div class="page-number page-number-etc" *ngIf="params.pageIndex <= lastPage - 3">...</div>
                <div class="page-number" *ngIf="params.pageIndex < lastPage" (click)="getAllSanPham(params.pageIndex + 1)">
                    <mat-icon>chevron_right</mat-icon>
                </div>
                <div class="page-number" *ngIf="params.pageIndex < lastPage" (click)="getAllSanPham(lastPage)">
                    <mat-icon>last_page</mat-icon>
                </div>
            </div>
            <h2>ĐẤU GIÁ</h2>
            <div *ngFor="let item of listDauGia" class="item-box d-flex flex-row" [@grayShadow]="item.grayShadowAnimation ? 'enter' : 'leave'"
                (mouseenter)="item.grayShadowAnimation = true" (mouseleave)="item.grayShadowAnimation = false">
                <img [src]="item.avatar" routerLink="/shop/auction" [queryParams]="{shopName: item.tenShop, itemName: item.tenSanPham}">
                <div class="d-flex flex-column item-box__info">
                    <a class="item-box__info-name" routerLink="/shop/auction" [queryParams]="{shopName: item.tenShop, itemName: item.tenSanPham}">{{item.tenSanPham}}</a>
                    <div class="d-flex flex-column" style="margin-top: 2rem;">
                        <div class="d-flex flex-row" style="margin-bottom: 0.5rem;">
                            <mat-icon>category</mat-icon>
                            <div>&nbsp;{{item.tenLoaiSanPham}}</div>
                        </div>
                        <div class="d-flex flex-row" style="margin-bottom: 0.5rem;">
                            <mat-icon>place</mat-icon>
                            <div>&nbsp;{{item.xuatXu}}</div>
                        </div>
                        <div class="d-flex flex-row">
                            <mat-icon>opacity</mat-icon>
                            <div>&nbsp;{{item.nongDo}} %</div>
                        </div>
                    </div>
                </div>
                <div class="item-box__sub d-flex flex-column">
                    <div class="item-box__sub-new-price">{{item.giaHienTai | number}}&nbsp;&#8363;</div>
                    <div class="d-flex flex-row justify-content-end" *ngIf="item.nguoiRaGia">
                        <mat-icon>gavel</mat-icon>
                        <div>&nbsp;{{item.nguoiRaGia.name}}</div>
                    </div>
                    <div class="flex-fill"></div>
                    <div class="item-box__sub-status">{{item.tinhTrang}}</div>
                    <div class="item-box__sub-time" [class.item-box__sub-time-green]="item.tinhTrangDauGiaId === PENDING_AUCTION_ID">{{item.timeLeft}}</div>
                    <div class="d-flex flex-row justify-content-end">
                        <button mat-stroked-button color="warn" routerLink="/shop/auction" [queryParams]="{shopName: item.tenShop, itemName: item.tenSanPham}">Xem thêm</button>
                    </div>
                </div>
            </div>
            <div class="no-item user-select-none" *ngIf="!listDauGia.length">KHÔNG CÓ SẢN PHẨM NÀO</div>
            <div class="d-flex flex-row justify-content-end user-select-none" style="background-color: transparent;" *ngIf="listDauGia.length || auctionParams.pageIndex > 1">
                <div class="page-number" *ngIf="auctionParams.pageIndex > 1" (click)="getAllSanPhamDauGia(1)">
                    <mat-icon>first_page</mat-icon>
                </div>
                <div class="page-number" *ngIf="auctionParams.pageIndex > 1" (click)="getAllSanPhamDauGia(auctionParams.pageIndex - 1)">
                    <mat-icon>chevron_left</mat-icon>
                </div>
                <div class="page-number page-number-etc" *ngIf="auctionParams.pageIndex > 3">...</div>
                <div class="page-number" *ngIf="auctionParams.pageIndex > 2" (click)="getAllSanPhamDauGia(auctionParams.pageIndex - 2)">{{auctionParams.pageIndex - 2}}</div>
                <div class="page-number" *ngIf="auctionParams.pageIndex > 1" (click)="getAllSanPhamDauGia(auctionParams.pageIndex - 1)">{{auctionParams.pageIndex - 1}}</div>
                <div class="page-number page-number-active">{{auctionParams.pageIndex}}</div>
                <div class="page-number" *ngIf="auctionParams.pageIndex <= lastPageDauGia - 1" (click)="getAllSanPhamDauGia(auctionParams.pageIndex + 1)">{{auctionParams.pageIndex + 1}}</div>
                <div class="page-number" *ngIf="auctionParams.pageIndex <= lastPageDauGia - 2" (click)="getAllSanPhamDauGia(auctionParams.pageIndex + 2)">{{auctionParams.pageIndex + 2}}</div>
                <div class="page-number page-number-etc" *ngIf="auctionParams.pageIndex <= lastPageDauGia - 3">...</div>
                <div class="page-number" *ngIf="auctionParams.pageIndex < lastPageDauGia" (click)="getAllSanPhamDauGia(auctionParams.pageIndex + 1)">
                    <mat-icon>chevron_right</mat-icon>
                </div>
                <div class="page-number" *ngIf="auctionParams.pageIndex < lastPageDauGia" (click)="getAllSanPhamDauGia(lastPageDauGia)">
                    <mat-icon>last_page</mat-icon>
                </div>
            </div>
            <ng-container *ngIf="loggedUser && loggedUser.roleId === EXPERT_ROLE_ID">
                <h2>SẢN PHẨM CHỜ KIỂM ĐỊNH</h2>
                <div *ngFor="let item of listDauGiaKiemDinh" class="item-box d-flex flex-row" [@grayShadow]="item.grayShadowAnimation ? 'enter' : 'leave'"
                    (mouseenter)="item.grayShadowAnimation = true" (mouseleave)="item.grayShadowAnimation = false">
                    <img [src]="item.avatar" routerLink="/shop/auction" [queryParams]="{shopName: item.tenShop, itemName: item.tenSanPham}">
                    <div class="d-flex flex-column item-box__info">
                        <a class="item-box__info-name" routerLink="/shop/auction" [queryParams]="{shopName: item.tenShop, itemName: item.tenSanPham}">{{item.tenSanPham}}</a>
                        <div class="d-flex flex-column" style="margin-top: 2rem;">
                            <div class="d-flex flex-row" style="margin-bottom: 0.5rem;">
                                <mat-icon>category</mat-icon>
                                <div>&nbsp;{{item.tenLoaiSanPham}}</div>
                            </div>
                            <div class="d-flex flex-row" style="margin-bottom: 0.5rem;">
                                <mat-icon>place</mat-icon>
                                <div>&nbsp;{{item.xuatXu}}</div>
                            </div>
                            <div class="d-flex flex-row">
                                <mat-icon>opacity</mat-icon>
                                <div>&nbsp;{{item.nongDo}} %</div>
                            </div>
                        </div>
                    </div>
                    <div class="item-box__sub d-flex flex-column">
                        <div class="item-box__sub-new-price">{{item.giaHienTai | number}}&nbsp;&#8363;</div>
                        <div class="flex-fill"></div>
                        <div class="item-box__sub-status">{{item.tinhTrang}}</div>
                        <div class="item-box__sub-time">{{item.timeLeft}}</div>
                        <div class="d-flex flex-row justify-content-end">
                            <button mat-stroked-button color="warn" routerLink="/shop/auction" [queryParams]="{shopName: item.tenShop, itemName: item.tenSanPham}">Xem thêm</button>
                        </div>
                    </div>
                </div>
                <div class="no-item user-select-none" *ngIf="!listDauGiaKiemDinh.length">KHÔNG CÓ SẢN PHẨM NÀO</div>
                <div class="d-flex flex-row justify-content-end user-select-none" style="background-color: transparent;" *ngIf="listDauGiaKiemDinh.length || approveParams.pageIndex > 1">
                    <div class="page-number" *ngIf="approveParams.pageIndex > 1" (click)="getAllSanPhamDauGiaKiemDinh(1)">
                        <mat-icon>first_page</mat-icon>
                    </div>
                    <div class="page-number" *ngIf="approveParams.pageIndex > 1" (click)="getAllSanPhamDauGiaKiemDinh(approveParams.pageIndex - 1)">
                        <mat-icon>chevron_left</mat-icon>
                    </div>
                    <div class="page-number page-number-etc" *ngIf="approveParams.pageIndex > 3">...</div>
                    <div class="page-number" *ngIf="approveParams.pageIndex > 2" (click)="getAllSanPhamDauGiaKiemDinh(approveParams.pageIndex - 2)">{{approveParams.pageIndex - 2}}</div>
                    <div class="page-number" *ngIf="approveParams.pageIndex > 1" (click)="getAllSanPhamDauGiaKiemDinh(approveParams.pageIndex - 1)">{{approveParams.pageIndex - 1}}</div>
                    <div class="page-number page-number-active">{{approveParams.pageIndex}}</div>
                    <div class="page-number" *ngIf="approveParams.pageIndex <= lastPageKiemDinh - 1" (click)="getAllSanPhamDauGiaKiemDinh(approveParams.pageIndex + 1)">{{approveParams.pageIndex + 1}}</div>
                    <div class="page-number" *ngIf="approveParams.pageIndex <= lastPageKiemDinh - 2" (click)="getAllSanPhamDauGiaKiemDinh(approveParams.pageIndex + 2)">{{approveParams.pageIndex + 2}}</div>
                    <div class="page-number page-number-etc" *ngIf="approveParams.pageIndex <= lastPageKiemDinh - 3">...</div>
                    <div class="page-number" *ngIf="approveParams.pageIndex < lastPageKiemDinh" (click)="getAllSanPhamDauGiaKiemDinh(approveParams.pageIndex + 1)">
                        <mat-icon>chevron_right</mat-icon>
                    </div>
                    <div class="page-number" *ngIf="approveParams.pageIndex < lastPageKiemDinh" (click)="getAllSanPhamDauGiaKiemDinh(lastPageKiemDinh)">
                        <mat-icon>last_page</mat-icon>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>
