.category {
    width: 300px;
    min-width: 300px;
    background-color: black;
    margin-right: 1rem;
    height: max-content;

    &-title {
        background-color: #ff7828;
        height: 100px;
        display: grid;
        place-items: center;
        color: white;
        font-size: 1.5rem;
    }

    &-list {
        &__header {
            padding: 1rem;
            color: rgb(145, 145, 145);

            &:not(:first-of-type) {
                border-top: 1px rgb(145, 145, 145) solid;
            }
        }

        &__content {
            color: white;

            div {
                padding: 0.25rem 1rem;
                cursor: pointer;

                &:not(.category-list__content-lock):hover {
                    text-decoration: underline;
                    background-color: #ff7828;
                }
            }

            &-active {
                background-color: #ff7828;

                &:hover {
                    text-decoration: line-through !important;
                }
            }

            &-lock {
                background-color: rgb(145, 145, 145);
            }
        }
    }
}

.item {
    width: 100%;

    & > div:not(.no-item) {
        background-color: white;
    }

    & > div:not(:first-of-type) {
        margin-top: 1rem;
    }

    h2 {
        margin: 2rem 0;
    }

    &-box {
        height: 18rem;
        padding: 1.5rem 1rem;

        img {
            height: 100%;
            width: max-content;
            object-fit: contain;
            margin-right: 2rem;
            cursor: pointer;
        }

        &__info {
            padding: 0.5rem 0;
            width: 100%;

            &-name {
                font-size: 1.5rem;
                cursor: pointer;
                line-height: 1.5rem;
                -webkit-line-clamp: 7;
                -webkit-box-orient: vertical;
                overflow: hidden;
                display: -webkit-box;
                word-break: break-word;
                width: fit-content;
            }
        }

        &__sub {
            padding: 0.5rem 0;
            min-width: 10rem;

            &-old-price {
                text-align: end;
                color: #cfcfcf;
                text-decoration: line-through;
                margin-bottom: 0.75rem;
            }

            &-new-price {
                text-align: end;
                color: red;
                font-size: 1.5rem;
                margin-bottom: 0.75rem;
            }

            &-rate {
                margin-bottom: 0.75rem;

                &-star {
                    width: 1.2rem !important;
                    height: 1.2rem !important;
                    font-size: 1.2rem !important;
                    color: red;
                }
            }

            &-quantity {
                text-align: end;
                color: rgb(145, 145, 145);
            }

            &-status {
                text-align: end;
                color: rgb(145, 145, 145);
                margin-bottom: 0.75rem;
            }

            &-time {
                text-align: end;
                color: red;
                margin-bottom: 0.75rem;
                font-size: 1.5rem;

                &-green {
                    color: green;
                }
            }
        }
    }
}

.search-box {
    padding: 0.5rem;

    &-input {
        width: 100%;
        padding: 0.25rem 0.5rem;
    }
}

.no-item {
    display: grid;
    place-items: center;
    font-size: 3rem;
    font-weight: 800;
    color: #cfcfcf;
    min-width: max-content;
    margin: 10rem 0 !important;
}

.page-number {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 0.4rem 0.6rem;
    margin: 0 0.25rem;
    transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out;
    background-color: transparent;
    color: black;
    border-radius: 0.25rem;

    ::ng-deep .mat-icon {
        font-size: 1.5rem !important;
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
    }

    &:not(&-active, &-etc):hover {
        background-color: rgba(167, 34, 34, 0.4);
        color: white;
    }

    &-active {
        color: white;
        background-color: rgb(167, 34, 34);
    }

    &-etc {
        cursor: default;
    }
}
