img {
    max-width: 80vw;
    max-height: 80vh;
}

.view-image-dialog {
    ::ng-deep mat-dialog-content {
        max-width: 80vw !important;
        max-height: 80vh !important;
        margin: 0 !important;
        padding: 0 !important;
    }
}
