.notify {
    margin: 0 0 2rem;
    min-width: min-content;

    &-item {
        height: max-content;
        width: 100%;
        border-bottom: 1px solid #cfcfcf;
        padding: 1rem;

        &:nth-of-type(odd) {
            background-color: white;
        }

        &:nth-of-type(even) {
            background-color: hsl(0, 0%, 96.5%);;
        }

        &__name {
            // -webkit-line-clamp: 2;
            // -webkit-box-orient: vertical;
            // overflow: hidden;
            // display: -webkit-box;
            font-weight: 500;
            margin: 0;
        }

        &__time {
            width: max-content;
            min-width: max-content;
            margin-left: 0.5rem;
            color: rgba(0, 0, 0, 0.45);
        }

        &__icon {
            ::ng-deep .mat-icon {
                font-size: 1.5rem !important;
                display: flex !important;
                align-items: center !important;
                justify-content: center !important;
                color: #cfcfcf;
                margin: 0 1rem;
                cursor: pointer;
            }

            &-done {
                &-inprogress, &:not(&-on):hover {
                    color: #99c0ac !important;
                }

                &-on {
                    color: #21a161 !important;
                }
            }

            &-close {
                &-inprogress, &:not(&-on):hover {
                    color: #ce8d89 !important;
                }

                &-on {
                    color: #f44336 !important;
                }
            }
        }

        &__text {
            padding: 1rem 2rem 0 3.5rem;
            word-break: break-word;

            a:hover {
                text-decoration: underline;
                cursor: pointer;
            }
        }
    }
}

.page-number {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 0.4rem 0.6rem;
    transition: color 0.25s ease-in-out;
    color: black;

    ::ng-deep .mat-icon {
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
    }

    &:not(&-active, &-etc):hover {
        background-color: transparent;
        color: rgba(167, 34, 34, 0.4);
        text-decoration: underline;
    }

    &-active {
        color: rgb(167, 34, 34);
        background-color: transparent;
        text-decoration: underline;
    }
}

.no-item {
    display: grid;
    place-items: center;
    font-size: 3rem;
    font-weight: 800;
    color: #cfcfcf;
    min-width: max-content;
    margin: 10rem 0;
}
