<div *ngIf="loaded | async">
    <div class="container-body">
        <div class="container-content">
            <div class="d-flex flex-row justify-content-end" style="margin-top: 3rem;">
                <mat-form-field appearance="outline">
                    <mat-label>Tình trạng thông báo</mat-label>
                    <mat-select [(ngModel)]="params.daDoc" (ngModelChange)="getAllThongBao(1)">
                        <mat-option value="">---Chọn tình trạng thông báo---</mat-option>
                        <mat-option [value]="false">Chưa đọc</mat-option>
                        <mat-option [value]="true">Đã đọc</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="notify">
                <div class="notify-item">
                    <div class="d-flex flex-row justify-content-end align-items-center notify-item__icon user-select-none">
                        <mat-icon class="notify-item__icon-done-on" (click)="updateDaDocAll()"
                            matTooltip="Đánh dấu tất cả là đã đọc" matTooltipPosition="above" matTooltipShowDelay="300">
                            done
                        </mat-icon>
                        <mat-icon class="notify-item__icon-close-on" (click)="deleteAll()"
                            matTooltip="Xóa tất cả" matTooltipPosition="above" matTooltipShowDelay="300">
                            close
                        </mat-icon>
                    </div>
                </div>
                <div class="notify-item" *ngFor="let item of listThongBao">
                    <div class="d-flex flex-column">
                        <div class="d-flex flex-row align-items-center">
                            <div class="notify-item__name">
                                {{item.tieuDeThongBao}}
                            </div>
                            <div class="notify-item__time">
                                {{item.createdAt | date: "HH:mm dd/MM/yyyy"}}
                            </div>
                            <div class="flex-fill"></div>
                            <div class="d-flex flex-row align-items-center notify-item__icon user-select-none">
                                <mat-icon class="notify-item__icon-done" (click)="updateDaDoc(item)"
                                    [class.notify-item__icon-done-on]="item.done" [class.notify-item__icon-done-inprogress]="item.inProgressDone"
                                    matTooltip="Đánh dấu là đã đọc" matTooltipPosition="above" matTooltipShowDelay="300">
                                    done
                                </mat-icon>
                                <mat-icon class="notify-item__icon-close" (click)="deleteThongBao(item)"
                                    [class.notify-item__icon-close-on]="item.close" [class.notify-item__icon-close-inprogress]="item.inProgressClose"
                                    matTooltip="Xóa" matTooltipPosition="above" matTooltipShowDelay="300">
                                    close
                                </mat-icon>
                            </div>
                        </div>
                        <div class="notify-item__text">
                            <p [innerHTML]="item.noiDungThongBaoHTML"></p>
                        </div>
                    </div>
                </div>
                <div class="no-item user-select-none" *ngIf="!listThongBao.length">KHÔNG CÓ THÔNG BÁO NÀO</div>
            </div>
            <div class="d-flex flex-row justify-content-end align-items-center"
                *ngIf="listThongBao.length || params.pageIndex > 1">
                <div class="page-number" *ngIf="params.pageIndex > 1" (click)="getAllThongBao(1)">
                    <mat-icon>first_page</mat-icon>
                </div>
                <div class="page-number" *ngIf="params.pageIndex > 1" (click)="getAllThongBao(params.pageIndex - 1)">
                    <mat-icon>chevron_left</mat-icon>
                </div>
                <div class="page-number page-number-etc" *ngIf="params.pageIndex > 3">...</div>
                <div class="page-number" *ngIf="params.pageIndex > 2" (click)="getAllThongBao(params.pageIndex - 2)">{{params.pageIndex - 2}}</div>
                <div class="page-number" *ngIf="params.pageIndex > 1" (click)="getAllThongBao(params.pageIndex - 1)">{{params.pageIndex - 1}}</div>
                <div class="page-number page-number-active">{{params.pageIndex}}</div>
                <div class="page-number" *ngIf="params.pageIndex <= lastPage - 1" (click)="getAllThongBao(params.pageIndex + 1)">{{params.pageIndex + 1}}</div>
                <div class="page-number" *ngIf="params.pageIndex <= lastPage - 2" (click)="getAllThongBao(params.pageIndex + 2)">{{params.pageIndex + 2}}</div>
                <div class="page-number page-number-etc" *ngIf="params.pageIndex <= lastPage - 3">...</div>
                <div class="page-number" *ngIf="params.pageIndex < lastPage" (click)="getAllThongBao(params.pageIndex + 1)">
                    <mat-icon>chevron_right</mat-icon>
                </div>
                <div class="page-number" *ngIf="params.pageIndex < lastPage" (click)="getAllThongBao(lastPage)">
                    <mat-icon>last_page</mat-icon>
                </div>
            </div>
        </div>
    </div>
</div>
