.snack-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;

    p {
        margin: 0;
    }
}

.main {
    color: white;
    padding-left: 1.5rem;
}

::ng-deep .snackbar-error {
    background-color: #d32f2f !important;
}

::ng-deep .snackbar-done {
    background-color: #087f23 !important;
}

::ng-deep .snackbar-info {
    background-color: #004c8c !important;
}

::ng-deep .snackbar-warning {
    background-color: #c68400 !important;
}
