<div>
    <p mat-dialog-title class="fs-5 text-success user-select-none text-center">
        {{title}}
    </p>
</div>
<div mat-dialog-content>
    <div [formGroup]="formControl">
        <div class="flex-row d-flex align-items-center">
            <mat-form-field appearance="outline" class="col-12">
                <input matInput type="text" [(ngModel)]="data.item.lyDoHuy" formControlName="lyDoHuy">
                <mat-error class="user-select-none" *ngIf="f.lyDoHuy.hasError('required')">Chưa nhập lý do hủy</mat-error>
            </mat-form-field>
        </div>
    </div>
</div>
<div mat-dialog-actions class="float-end">
    <button mat-raised-button color="primary" (click)="save()">Lưu</button>
    <button mat-raised-button mat-dialog-close>Thoát</button>
</div>
