.wrap-box {
    position: relative;
    height: 100%;

    .content {
        position: absolute;
        top: 35%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        min-width: 40%;
    }
}
h1 {
    font-size: 2rem;
}
button {
    background-color: rgb(33, 161, 97);
    color: white;
}

.container-content {
    &__block:not(:first-of-type) {
        margin-top: 1rem;
    }
}
