<div class="user-select-none wrap-box">
    <div class="content container-content">
        <h1>Recover Password</h1>
        <br>
        <div [formGroup]="formControl">
            <div class="flex-row d-flex align-items-center container-content__block">
                <p class="fw-bold col-4 user-select-none text-start">Mật khẩu<span style="color: red;">(*)</span></p>
                <mat-form-field appearance="outline" class="col-8">
                    <input matInput [type]="passwordType" [(ngModel)]="passwordItem" formControlName="password" (change)="checkPassword()" #password>
                    <mat-icon matSuffix *ngIf="passwordItem" (mouseenter)="passwordToggle()" (mouseleave)="passwordToggle()">remove_red_eye</mat-icon>
                    <mat-error class="user-select-none" *ngIf="f.password.hasError('required')">Chưa nhập mật khẩu</mat-error>
                    <mat-error class="user-select-none" *ngIf="f.password.hasError('pattern')">Mật khẩu không đúng cú pháp</mat-error>
                    <mat-error class="user-select-none" *ngIf="f.password.hasError('minlength')">Mật khẩu quá ngắn</mat-error>
                </mat-form-field>
            </div>
            <div class="flex-row d-flex align-items-center container-content__block">
                <p class="fw-bold col-4 user-select-none text-start">Mật khẩu xác nhận<span style="color: red;">(*)</span></p>
                <mat-form-field appearance="outline" class="col-8">
                    <input matInput [type]="rePasswordType" formControlName="rePassword" (change)="checkPassword()" #rePassword>
                    <mat-icon matSuffix *ngIf="rePassword.value" (mouseenter)="rePasswordToggle()" (mouseleave)="rePasswordToggle()">remove_red_eye</mat-icon>
                    <mat-error class="user-select-none" *ngIf="f.rePassword.hasError('required')">Chưa nhập mật khẩu xác nhận</mat-error>
                    <mat-error class="user-select-none" *ngIf="f.rePassword.hasError('notMatched')">Mật khẩu không khớp</mat-error>
                    <mat-error class="user-select-none" *ngIf="f.rePassword.hasError('pattern')">Mật khẩu không đúng cú pháp</mat-error>
                    <mat-error class="user-select-none" *ngIf="f.rePassword.hasError('minlength')">Mật khẩu quá ngắn</mat-error>
                </mat-form-field>
            </div>
            <div class="text-center container-content__block">
                <div *ngIf="result">{{result}}</div>
            </div>
            <div class="flex-row d-flex align-items-center container-content__block">
                <div class="col-4"></div>
                <button mat-raised-button color="primary" (click)="recoverPassword()">Lấy lại mật khẩu</button>
                <mat-progress-spinner *ngIf="spinner" color="accent" mode="indeterminate" diameter="20" style="margin-left: 0.75rem;"></mat-progress-spinner>
            </div>
        </div>
    </div>
</div>
