<div class="container-body">
    <div class="container-content" [formGroup]="formControl">
        <h2 class="fw-bold user-select-none">TẠO ĐƠN VỊ VẬN CHUYỂN MỚI</h2>
        <div class="flex-row d-flex align-items-center container-content__block">
            <p class="col-3 text-end user-select-none">Tên đơn vị<span style="color: red;">(*)</span></p>
            <mat-form-field appearance="outline" class="col-6 text-start container-content__block-form-field">
                <input matInput type="text" formControlName="tenDonVi">
                <mat-error class="user-select-none" *ngIf="f.tenDonVi.hasError('required')">Chưa nhập tên đơn vị vận chuyển</mat-error>
            </mat-form-field>
        </div>
        <div class="flex-row d-flex align-items-center container-content__block">
            <p class="col-3 text-end user-select-none">Mô tả đơn vị</p>
            <mat-form-field appearance="outline" class="col-6 text-start container-content__block-form-field">
                <textarea matInput formControlName="moTaDonVi" cdkTextareaAutosize
                    #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="4" cdkAutosizeMaxRows="4"></textarea>
            </mat-form-field>
        </div>
        <div class="flex-row d-flex align-items-center container-content__block">
            <p class="col-3 text-end user-select-none">Phí vận chuyển<span style="color: red;">(*)</span></p>
            <mat-form-field appearance="outline" class="col-6 text-start container-content__block-form-field">
                <input matInput type="text" formControlName="phiVanChuyen">
                <mat-error class="user-select-none" *ngIf="f.phiVanChuyen.hasError('required')">Chưa nhập phí vận chuyển</mat-error>
                <mat-error class="user-select-none" *ngIf="f.phiVanChuyen.hasError('pattern')">Phí vận chuyển chỉ bao gồm số</mat-error>
            </mat-form-field>
        </div>
        <div class="flex-row d-flex align-items-center container-content__block">
            <p class="col-3 text-end user-select-none">Điều kiện miễn phí<span style="color: red;">(*)</span></p>
            <mat-form-field appearance="outline" class="col-6 text-start container-content__block-form-field">
                <input matInput type="text" formControlName="dieuKienMienPhi">
                <mat-error class="user-select-none" *ngIf="f.dieuKienMienPhi.hasError('required')">Chưa nhập điều kiện miễn phí</mat-error>
                <mat-error class="user-select-none" *ngIf="f.dieuKienMienPhi.hasError('pattern')">Điều kiện miễn phí chỉ bao gồm số</mat-error>
            </mat-form-field>
        </div>
        <div class="flex-row d-flex align-items-center container-content__block" *ngIf="error">
            <div class="col-3"></div>
            <mat-error class="user-select-none text-start container-content__block-form-field col-9">{{error}}</mat-error>
        </div>
        <div class="flex-row d-flex align-items-center container-content__block">
            <div class="col-3"></div>
            <button mat-raised-button color="primary" class="text-start container-content__block-form-field"
                (click)="createDonVi()">
                Lưu
            </button>
            <mat-progress-spinner *ngIf="spinner" color="accent" mode="indeterminate" diameter="20" style="margin-left: 0.75rem;"></mat-progress-spinner>
        </div>
    </div>
</div>
