<div>
    <p mat-dialog-title class="fs-5 text-success user-select-none text-center">{{title}}</p>
</div>
<div mat-dialog-content>

</div>
<div mat-dialog-actions class="float-end">
    <button mat-raised-button color="warn" (click)="save()">Có</button>
    <button mat-raised-button mat-dialog-close>Không</button>
</div>
