<div>
    <p mat-dialog-title class="fs-5 text-success user-select-none text-center">Đăng nhập</p>
</div>
<div mat-dialog-content>
    <div [formGroup]="formControl">
        <div class="flex-row d-flex align-items-center">
            <p class="fw-bold col-4 user-select-none">Tên đăng nhập<span style="color: red;">(*)</span></p>
            <mat-form-field appearance="outline" class="col-8">
                <input matInput type="text" [(ngModel)]="data.item.userName" formControlName="userName" (keydown)="keyCapture($event)">
                <mat-error class="user-select-none" *ngIf="f.userName.hasError('required')">Chưa nhập tên đăng nhập</mat-error>
                <mat-error class="user-select-none" *ngIf="f.userName.hasError('pattern')">Tên đăng nhập không đúng cú pháp</mat-error>
                <mat-error class="user-select-none" *ngIf="f.userName.hasError('minlength')">Tên đăng nhập quá ngắn</mat-error>
            </mat-form-field>
        </div>
        <div class="flex-row d-flex align-items-center">
            <p class="fw-bold col-4 user-select-none">Mật khẩu<span style="color: red;">(*)</span></p>
            <mat-form-field appearance="outline" class="col-8">
                <input matInput [type]="passwordType" [(ngModel)]="data.item.password" formControlName="password" (keydown)="keyCapture($event)">
                <mat-icon matSuffix *ngIf="data.item.password" (mouseenter)="passwordToggle()" (mouseleave)="passwordToggle()">remove_red_eye</mat-icon>
                <mat-error class="user-select-none" *ngIf="f.password.hasError('required')">Chưa nhập mật khẩu</mat-error>
                <mat-error class="user-select-none" *ngIf="f.password.hasError('pattern')">Mật khẩu không đúng cú pháp</mat-error>
                <mat-error class="user-select-none" *ngIf="f.password.hasError('minlength')">Mật khẩu quá ngắn</mat-error>
            </mat-form-field>
        </div>
        <div class="text-center user-select-none">
            <mat-error *ngIf="error">{{error}}</mat-error>
        </div>
        <div class="text-end">
            <span class="text-secondary" style="font-size: 0.75rem;"><em>Chưa có tài khoản? </em></span>
            <span class="small-text" (click)="openDialogSignup()"><em>Đăng ký</em></span>
        </div>
        <div class="text-end">
            <span class="small-text" (click)="openDialogRecoverPassword()"><em>Quên mật khẩu</em></span>
        </div>
    </div>
</div>
<div mat-dialog-actions class="float-end">
    <mat-progress-spinner *ngIf="spinner" color="accent" mode="indeterminate" diameter="20" style="margin-right: 0.75rem;"></mat-progress-spinner>
    <button mat-raised-button color="primary" (click)="checkUserName()">Đăng nhập</button>
    <button mat-raised-button mat-dialog-close>Thoát</button>
</div>
