<div class="container-body">
    <div class="container-content">
        <h2 class="fw-bold user-select-none">QUẢN LÝ LỊCH THÔNG BÁO</h2>
        <div class="flex-row d-flex align-items-center">
            <mat-form-field appearance="outline" style="width: 30%;" (click)="thoiGianHenBatDau.opened = true">
                <mat-label>Bắt đầu</mat-label>
                <div class="flex-row d-flex align-items-center">
                    <input readonly matInput [min]="minDate" [matDatepicker]="thoiGianHenBatDau" [(ngModel)]="params.thoiGianHenBatDau" (ngModelChange)="toHeadPage(); getAllThongBaoCoLichHen()">
                    <mat-icon style="cursor: pointer;" matSuffix *ngIf="params.thoiGianHenBatDau" (click)="params.thoiGianHenBatDau=null; params.gioBatDau='00:00'; toHeadPage(); getAllThongBaoCoLichHen()">close</mat-icon>
                </div>
                <mat-datepicker-toggle matSuffix [for]="thoiGianHenBatDau"></mat-datepicker-toggle>
                <mat-datepicker #thoiGianHenBatDau></mat-datepicker>
            </mat-form-field>
            <mat-form-field appearance="outline" style="width: 30%; margin-left: 5%;" (click)="thoiGianHenKetThuc.opened = true">
                <mat-label>Kết thúc</mat-label>
                <div class="flex-row d-flex align-items-center">
                    <input readonly matInput [min]="params.thoiGianHenBatDau ? params.thoiGianHenBatDau : minDate" [matDatepicker]="thoiGianHenKetThuc" [(ngModel)]="params.thoiGianHenKetThuc" (ngModelChange)="toHeadPage(); getAllThongBaoCoLichHen()">
                    <mat-icon style="cursor: pointer;" matSuffix *ngIf="params.thoiGianHenKetThuc" (click)="params.thoiGianHenKetThuc=null; params.gioKetThuc='00:00'; toHeadPage(); getAllThongBaoCoLichHen()">close</mat-icon>
                </div>
                <mat-datepicker-toggle matSuffix [for]="thoiGianHenKetThuc"></mat-datepicker-toggle>
                <mat-datepicker #thoiGianHenKetThuc></mat-datepicker>
            </mat-form-field>
        </div>
        <div class="flex-row d-flex align-items-center" style="margin-bottom: 1rem;">
            <div class="flex-row d-flex align-items-center" appearance="outline" style="width: 30%">
                <ngx-timepicker-field [format]="24" defaultTime="00:00" [controlOnly]="true" [(ngModel)]="params.gioBatDau" (ngModelChange)="toHeadPage(); getAllThongBaoCoLichHen()"></ngx-timepicker-field>
                <mat-icon *ngIf="params.gioBatDau !== '00:00'" style="margin-left: 0.75rem; cursor: pointer;" (click)="params.gioBatDau='00:00'; toHeadPage(); getAllThongBaoCoLichHen()">refresh</mat-icon>
            </div>
            <div class="flex-row d-flex align-items-center" appearance="outline" style="width: 30%; margin-left: 5%;">
                <ngx-timepicker-field [format]="24" defaultTime="00:00" [controlOnly]="true" [(ngModel)]="params.gioKetThuc" (ngModelChange)="toHeadPage(); getAllThongBaoCoLichHen()"></ngx-timepicker-field>
                <mat-icon *ngIf="params.gioKetThuc !== '00:00'" style="margin-left: 0.75rem; cursor: pointer;" (click)="params.gioKetThuc='00:00'; toHeadPage(); getAllThongBaoCoLichHen()">refresh</mat-icon>
            </div>
        </div>
        <div class="d-flex flex-row align-items-center">
            <div class="float-start user-select-none" style="width: 30%;">
                <mat-form-field class="p-0" appearance="outline" style="width: 100%;">
                    <mat-label>Tìm kiếm</mat-label>
                    <input matInput [(ngModel)]="params.searchString">
                    <mat-icon matSuffix *ngIf="params.searchString" (click)="params.searchString=''; toHeadPage(); getAllThongBaoCoLichHen()">close</mat-icon>
                </mat-form-field>
            </div>
            <div class="float-start user-select-none" style="margin-left: 1rem;">
                <button mat-raised-button (click)="toHeadPage(); getAllThongBaoCoLichHen()" color="primary">
                    <mat-icon>search</mat-icon> Tìm kiếm
                </button>
            </div>
        </div>
        <div class="d-flex flex-row align-items-center">
            <button mat-raised-button class="create-button" (click)="openDialogAddThongBao()" style="min-width: max-content;">Thêm mới</button>
            <div class="float-end user-select-none" style="width: 100%;">
                <mat-paginator #paginator [length]="totalRecord" [pageSize]="params.pageSize" [pageSizeOptions]="[10,20,50]" (page)="getAllThongBaoCoLichHen($event)"></mat-paginator>
            </div>
        </div>
        <div *ngIf="loaded | async">
            <table mat-table [dataSource]="listThongBao" class="mat-elevation-z8" matSort matSortDisableClear [matSortDirection]="sortDirection" [matSortActive]="sortActive" (matSortChange)="toHeadPage(); sortData($event)">
                <ng-container matColumnDef="stt">
                    <th mat-header-cell *matHeaderCellDef>STT</th>
                    <td mat-cell *matCellDef="let element">{{element.stt}}</td>
                </ng-container>
                <ng-container matColumnDef="tieuDeThongBao">
                    <th mat-header-cell *matHeaderCellDef>Tiêu đề thông báo</th>
                    <td mat-cell *matCellDef="let element">
                        <p>{{element.tieuDeThongBao}}</p>
                    </td>
                </ng-container>
                <ng-container matColumnDef="noiDungThongBao">
                    <th mat-header-cell *matHeaderCellDef>Nội dung thông báo</th>
                    <td mat-cell *matCellDef="let element">
                        <p>{{element.noiDungThongBao}}</p>
                    </td>
                </ng-container>
                <ng-container matColumnDef="thoiGianHen">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Thời gian hẹn</th>
                    <td mat-cell *matCellDef="let element">{{element.thoiGianHen | date: "HH:mm:ss dd/MM/yyyy"}}</td>
                </ng-container>
                <ng-container matColumnDef="thaoTac">
                    <th mat-header-cell *matHeaderCellDef>Thao tác</th>
                    <td mat-cell *matCellDef="let element">
                        <mat-icon matTooltip="Cập nhật thông báo" matTooltipPosition="above" matTooltipShowDelay="300"
                            (click)="openDialogUpdateThongBao(element)">
                            edit
                        </mat-icon>
                        <mat-icon matTooltip="Xóa thông báo" matTooltipPosition="above" matTooltipShowDelay="300" class="text-danger" style="margin-left: 0.5rem;"
                            (click)="deleteThongBao(element.idThongBao)">
                            delete
                        </mat-icon>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true" class="user-select-none"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="element-row"></tr>
                <tr class="mat-row text-center" *matNoDataRow>
                    <td class="mat-cell" colspan="5">Không có dữ liệu</td>
                </tr>
            </table>
        </div>
    </div>
</div>
