<div class="user-select-none wrap-box">
    <div class="content">
        <h1>401</h1>
        <br>
        <h2>Uh Oh! Bạn phải đăng nhập để tiếp tục</h2>
        <br>
        <button mat-raised-button (click)="openDialogLogin()">Đăng nhập</button>
    </div>
</div>
