.active-color {
    color: #3f51b5;
    cursor: pointer;
    transform: scale(4);
}

.disable-color {
    color: #3f51b5;
    cursor: not-allowed;
    transform: scale(4);
    filter: opacity(0.3);
}

.image-border {
    width: 20rem;
    max-height: max-content;
    border: 2px black solid;
    cursor: pointer;
}

.thumbnail {
    overflow: auto;
    max-height: 25rem;
    margin-left: 1rem;
    margin-right: 1rem;

    &-image:not(:last-of-type) {
        margin-bottom: 1rem;
    }

    &-position {
        width: 0.25rem;
        margin-right: 0.5rem;

        .mat-icon {
            color: #3f51b5;
            cursor: pointer;
        }
    }

    &-border {
        position: relative;

        &__no-view {
            filter: opacity(0.4);
            border: 1px black solid;
            width: 5rem;
            max-height: max-content;
            cursor: pointer;
        }

        &__view {
            border: 2px #3f51b5 solid;
            width: 5rem;
            max-height: max-content;
            cursor: pointer;
        }

        &__delete-icon {
            position: absolute;
            right: 2px;
            top: 2px;
            cursor: pointer;
            z-index: 1;
        }
    }
}

::ng-deep .ngx-timepicker {
    border: none !important;
}

::ng-deep .ngx-timepicker-control__arrow {
    height: 13px !important;
}
