.mat-toolbar {
    font-size: 0.85rem;

    &-row {
        justify-content: center;
    }
}

.auction-background {
    background-color: hsl(10, 90%, 50%) !important;
    color: hsl(60, 80%, 70%) !important;
}
