<mat-toolbar class="container-header" color="primary" id="footer-toolbar">
    <mat-toolbar-row>Copyright &#169; 2021 - 2022</mat-toolbar-row>
    <mat-toolbar-row>Bùi Quang Thái - 20183981</mat-toolbar-row>
</mat-toolbar>
