<div class="container-body" *ngIf="loaded | async">
    <div *ngIf="shop.hoatDong && shop.userHoatDong then active else banned"></div>
    <ng-template #banned>
        <div class="user-select-none container-content text-center error-box">
            <div class="content">
                <br><br><br><br>
                <h1>OOPS!</h1>
                <br>
                <h2>Uh Oh! Có vẻ như shop đã bị ban!</h2>
                <br>
                <a routerLink="/home">
                    <button mat-raised-button>Trở về trang chủ</button>
                </a>
                <br><br><br><br>
            </div>
        </div>
    </ng-template>
    <ng-template #active>
        <div class="container-content" [formGroup]="formControl">
            <h2 class="fw-bold user-select-none">CÀI ĐẶT SHOP</h2>
            <div class="flex-row d-flex align-items-center container-content__block">
                <p class="col-3 text-end user-select-none">Tên shop<span style="color: red;">(*)</span></p>
                <mat-form-field appearance="outline" class="col-6 text-start container-content__block-form-field">
                    <input matInput type="text" [(ngModel)]="shop.tenShop" formControlName="tenShop">
                    <mat-error class="user-select-none" *ngIf="f.tenShop.hasError('required')">Chưa nhập tên shop</mat-error>
                </mat-form-field>
            </div>
            <div class="flex-row d-flex align-items-center container-content__block">
                <div class="col-3 text-end user-select-none">Ảnh đại diện</div>
                <input type="file" hidden #avatarUpload accept=".jpg, .png, .jpeg, .jfif, .pjpeg, .pjp, .webp" (change)="checkFileType()">
                <button mat-raised-button color="primary" class="text-start container-content__block-form-field"
                    (click)="avatarUpload.click()">
                    Chọn ảnh
                </button>
            </div>
            <div class="flex-row d-flex align-items-center container-content__block">
                <div class="col-3"></div>
                <div class="border-avatar container-content__block-form-field">
                    <img style="width: 100%;" [src]="avatarImage">
                </div>
            </div>
            <div class="flex-row d-flex align-items-baseline container-content__block">
                <p class="col-3 text-end user-select-none">Giới thiệu shop</p>
                <div class="col-8 text-start container-content__block-form-field">
                    <ejs-richtexteditor #formRTE [toolbarSettings]="tools" [insertImageSettings]="insertImageSettings" formControlName="moTaShop"
                        [(ngModel)]="shop.moTaShop" (dialogOpen)="imageSubscribe()" (dialogClose)="imageDestroy()" height="30rem"></ejs-richtexteditor>
                    <!-- <textarea matInput formControlName="moTaShop" [(ngModel)]="shop.moTaShop" cdkTextareaAutosize
                        #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="4" cdkAutosizeMaxRows="4"></textarea> -->
                </div>
            </div>
            <div class="flex-row d-flex align-items-center container-content__block" *ngIf="error">
                <div class="col-3"></div>
                <mat-error class="user-select-none text-start container-content__block-form-field col-9">{{error}}</mat-error>
            </div>
            <div class="flex-row d-flex align-items-center container-content__block">
                <div class="col-3"></div>
                <button mat-raised-button color="primary" class="text-start container-content__block-form-field"
                    (click)="updateShop()">
                    Lưu
                </button>
                <mat-progress-spinner *ngIf="spinner" color="accent" mode="indeterminate" diameter="20" style="margin-left: 0.75rem;"></mat-progress-spinner>
            </div>
        </div>
    </ng-template>
</div>
