.container-content {
    &__block {
        margin-top: 1rem;

        &-form-field {
            margin-left: 5%;
        }
    }
}

.border-avatar {
    border: 2px solid rgb(99, 151, 248);
    width: 10rem;
    min-width: 10rem;
    height: 10rem;
    border-radius: 50%;
    overflow: hidden;
}

.error-box {
    .content {
        text-align: center;
    }

    h1 {
        font-size: 6rem;
    }
    button {
        background-color: rgb(33, 161, 97);
        color: white;
        height: 3rem;
        font-size: 1.25rem;
    }
}
