<p><strong>{{data.item.tenMaGiamGia}}</strong></p>
<p>{{data.item.moTaMaGiamGia}}</p>
<p class="fst-italic">Giảm {{data.item.phanTramGiamGia}}% cho các sản phẩm có giá trị {{data.item.dieuKienGiamGia | number}}&#8363; trở lên, giảm tối đa {{data.item.giamGiaToiDa | number}}&#8363;</p>
<p class="fst-italic">Thời gian giảm giá: {{data.item.giamGiaTuLuc | date: "HH:mm dd/MM/yyyy"}} - {{data.item.giamGiaDenLuc | date: "HH:mm dd/MM/yyyy"}}</p>
