<div class="container-body" *ngIf="loaded | async">
    <div *ngIf="shop && shop.hoatDong && shop.userHoatDong then active else banned"></div>
    <ng-template #banned>
        <div class="user-select-none container-content text-center error-box">
            <div class="content">
                <br><br><br><br>
                <h1>OOPS!</h1>
                <br>
                <h2>Không tìm thấy shop này!</h2>
                <br><br><br><br>
            </div>
        </div>
    </ng-template>
    <ng-template #active>
        <div class="container-content d-flex flex-row flex-wrap">
            <div class="col-5 d-flex flex-column banner">
                <div class="d-flex flex-row">
                    <div class="border-avatar">
                        <img style="width: 100%;" [src]="avatarImage">
                    </div>
                    <div class="banner-name">
                        <p>{{shop.tenShop}}</p>
                    </div>
                </div>
                <div class="d-flex flex-row banner-button">
                    <button mat-stroked-button color="warn" [@warnButton]="unfollowButtonAnimation ? 'enter' : 'leave'"
                        *ngIf="followed" (click)="deleteSoTheoDoi()"
                        (mouseenter)="unfollowButtonAnimation = true" (mouseleave)="unfollowButtonAnimation = false">
                        <mat-icon class="align-text-bottom">clear</mat-icon>
                        <span> Bỏ theo dõi</span>
                    </button>
                    <button mat-stroked-button color="primary" [@primaryButton]="followButtonAnimation ? 'enter' : 'leave'"
                        *ngIf="!followed" (click)="addSoTheoDoi()"
                        (mouseenter)="followButtonAnimation = true" (mouseleave)="followButtonAnimation = false">
                        <mat-icon class="align-text-bottom">add</mat-icon>
                        <span> Theo dõi</span>
                    </button>
                    <button mat-stroked-button color="primary" [@primaryButton]="chatButtonAnimation ? 'enter' : 'leave'"
                        (click)="openChat()"
                        (mouseenter)="chatButtonAnimation = true" (mouseleave)="chatButtonAnimation = false">
                        <mat-icon class="align-text-bottom">chat_bubble</mat-icon>
                        <span> Chat</span>
                    </button>
                    <button mat-stroked-button color="primary" [@warnButton]="reportButtonAnimation ? 'enter' : 'leave'"
                        *ngIf="loggedUser && (shop.userId !== loggedUser.userId)" (click)="openDialogBaoCao(null, shop.id, shop.tenShop)"
                        (mouseenter)="reportButtonAnimation = true" (mouseleave)="reportButtonAnimation = false">
                        <mat-icon class="align-text-bottom">report</mat-icon>
                        <span> Báo cáo shop</span>
                    </button>
                </div>
            </div>
            <div class="d-flex flex-row flex-wrap" style="margin-top: 0.5rem;">
                <div class="d-flex flex-column" style="min-width: 10rem; margin-right: 0.5rem;">
                    <p>
                        <mat-icon class="align-text-top">card_travel</mat-icon>
                        &nbsp;Sản phẩm: {{shop.tongSoSanPham | number}}
                    </p>
                    <p>
                        <mat-icon class="align-text-top">perm_identity</mat-icon>
                        &nbsp;Theo dõi: {{shop.soNguoiTheoDoi | number}}
                    </p>
                </div>
                <div class="d-flex flex-column" style="min-width: 10rem;">
                    <p>
                        <mat-icon class="align-text-top">star_border</mat-icon>
                        &nbsp;Đánh giá: {{shop.danhGiaChung}}
                    </p>
                    <p>
                        <mat-icon class="align-text-top">event</mat-icon>
                        &nbsp;Ngày tạo: {{shop.createdAt | date:"dd/MM/yyyy"}}
                    </p>
                </div>
            </div>
        </div>
        <div class="container-content" *ngIf="shop.moTaShop && shop.moTaShop.trim() !== ''">
            <h3 class="user-select-none" style="margin-bottom: 2rem;">GIỚI THIỆU SHOP</h3>
            <div [innerHTML]="shop.moTaShop"></div>
        </div>
        <mat-tab-group mat-align-tabs="start" class="container-shop">
            <mat-tab label="Mới nhất">
                <div class="container-shop__tab">
                    <div class="container-shop__item" *ngFor="let item of listSanPham; let i = index">
                        <a class="container-shop__item-content d-flex flex-column" [@grayShadow]="grayShadowAnimation[i] ? 'enter' : 'leave'"
                            (mouseenter)="grayShadowAnimation[i] = !grayShadowAnimation[i]" (mouseleave)="grayShadowAnimation[i] = !grayShadowAnimation[i]"
                            routerLink="/shop/item" [queryParams]="{shopName: shop.tenShop, itemName: item.tenSanPham}">
                            <img [src]="item.avatar" style="width: 100%;">
                            <p class="container-shop__item-name">{{item.tenSanPham}}</p>
                            <div class="flex-fill"></div>
                            <p class="container-shop__item-price" style="color: red; font-size: 1.125rem;">{{item.giamGia | number}}&nbsp;&#8363;</p>
                            <div class="container-shop__item-footer d-flex flex-row align-items-center">
                                <p style="font-size: 0.75rem;" *ngIf="item.soLuong > 0">CÒN HÀNG</p>
                                <p style="font-size: 0.75rem;" *ngIf="item.soLuong <= 0">HẾT HÀNG</p>
                                <div class="flex-fill"></div>
                                <mat-icon class="container-shop__item-footer-icon" *ngIf="item.danhGiaChung < 0.5">star_border</mat-icon>
                                <mat-icon class="container-shop__item-footer-icon" *ngIf="item.danhGiaChung >= 0.5 && item.danhGiaChung < 1">star_half</mat-icon>
                                <mat-icon class="container-shop__item-footer-icon" *ngIf="item.danhGiaChung >= 1">star</mat-icon>
                                <mat-icon class="container-shop__item-footer-icon" *ngIf="item.danhGiaChung < 1.5">star_border</mat-icon>
                                <mat-icon class="container-shop__item-footer-icon" *ngIf="item.danhGiaChung >= 1.5 && item.danhGiaChung < 2">star_half</mat-icon>
                                <mat-icon class="container-shop__item-footer-icon" *ngIf="item.danhGiaChung >= 2">star</mat-icon>
                                <mat-icon class="container-shop__item-footer-icon" *ngIf="item.danhGiaChung < 2.5">star_border</mat-icon>
                                <mat-icon class="container-shop__item-footer-icon" *ngIf="item.danhGiaChung >= 2.5 && item.danhGiaChung < 3">star_half</mat-icon>
                                <mat-icon class="container-shop__item-footer-icon" *ngIf="item.danhGiaChung >= 3">star</mat-icon>
                                <mat-icon class="container-shop__item-footer-icon" *ngIf="item.danhGiaChung < 3.5">star_border</mat-icon>
                                <mat-icon class="container-shop__item-footer-icon" *ngIf="item.danhGiaChung >= 3.5 && item.danhGiaChung < 4">star_half</mat-icon>
                                <mat-icon class="container-shop__item-footer-icon" *ngIf="item.danhGiaChung >= 4">star</mat-icon>
                                <mat-icon class="container-shop__item-footer-icon" *ngIf="item.danhGiaChung < 4.5">star_border</mat-icon>
                                <mat-icon class="container-shop__item-footer-icon" *ngIf="item.danhGiaChung >= 4.5 && item.danhGiaChung < 5">star_half</mat-icon>
                                <mat-icon class="container-shop__item-footer-icon" *ngIf="item.danhGiaChung >= 5">star</mat-icon>
                                <p style="font-size: 0.75rem; color: gray; font-style: italic;">({{item.soNguoiDanhGia}})</p>
                            </div>
                        </a>
                    </div>
                    <div *ngIf="endContent && !listSanPham.length" class="user-select-none container-shop__item-none">
                        KHÔNG CÓ SẢN PHẨM NÀO
                    </div>
                </div>
                <div class="d-flex flex-row justify-content-center" [class.d-none]="endContent">
                    <button mat-raised-button color="accent" (click)="addSanPham()">Xem thêm...</button>
                </div>
            </mat-tab>
        </mat-tab-group>
        <div class="container-content">
            <h3 class="user-select-none" style="margin-bottom: 2rem;">ĐÁNH GIÁ VÀ NHẬN XÉT ({{shop.soNguoiDanhGia}})</h3>
            <div class="d-flex flex-row flex-wrap">
                <div class="rate-col">
                    <div class="d-flex flex-column" style="width: max-content; margin-bottom: 2rem; margin-left: 1rem;">
                        <p class="text-center" style="color: rgb(238, 130, 41); font-size: 3rem;">{{shop.danhGiaChung}}/5</p>
                        <div class="d-flex flex-row">
                            <mat-icon class="rate-star" *ngIf="shop.danhGiaChung < 0.3">star_border</mat-icon>
                            <mat-icon class="rate-star" *ngIf="shop.danhGiaChung >= 0.3 && shop.danhGiaChung < 0.8">star_half</mat-icon>
                            <mat-icon class="rate-star" *ngIf="shop.danhGiaChung >= 0.8">star</mat-icon>
                            <mat-icon class="rate-star" *ngIf="shop.danhGiaChung < 1.3">star_border</mat-icon>
                            <mat-icon class="rate-star" *ngIf="shop.danhGiaChung >= 1.3 && shop.danhGiaChung < 1.8">star_half</mat-icon>
                            <mat-icon class="rate-star" *ngIf="shop.danhGiaChung >= 1.8">star</mat-icon>
                            <mat-icon class="rate-star" *ngIf="shop.danhGiaChung < 2.3">star_border</mat-icon>
                            <mat-icon class="rate-star" *ngIf="shop.danhGiaChung >= 2.3 && shop.danhGiaChung < 2.8">star_half</mat-icon>
                            <mat-icon class="rate-star" *ngIf="shop.danhGiaChung >= 2.8">star</mat-icon>
                            <mat-icon class="rate-star" *ngIf="shop.danhGiaChung < 3.3">star_border</mat-icon>
                            <mat-icon class="rate-star" *ngIf="shop.danhGiaChung >= 3.3 && shop.danhGiaChung < 3.8">star_half</mat-icon>
                            <mat-icon class="rate-star" *ngIf="shop.danhGiaChung >= 3.8">star</mat-icon>
                            <mat-icon class="rate-star" *ngIf="shop.danhGiaChung < 4.3">star_border</mat-icon>
                            <mat-icon class="rate-star" *ngIf="shop.danhGiaChung >= 4.3 && shop.danhGiaChung < 4.8">star_half</mat-icon>
                            <mat-icon class="rate-star" *ngIf="shop.danhGiaChung >= 4.8">star</mat-icon>
                        </div>
                    </div>
                    <div class="d-flex flex-column" style="margin-bottom: 2rem;">
                        <div class="d-flex flex-row justify-content-between rate-info align-items-center" *ngIf="!rateParams.fiveStar"
                            (click)="toggleOnFiveStar(); getAllDanhGia()">
                            <p>5 sao</p>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated rate-info__bar" role="progressbar" [style.width]="rateInfo.fiveStar + '%'"></div>
                            </div>
                            <p>{{rateInfo.fiveStar | number: '1.0-0'}}%</p>
                        </div>
                        <div class="d-flex flex-row justify-content-between rate-info rate-info-active align-items-center" *ngIf="rateParams.fiveStar"
                            (click)="toggleOffFiveStar(); getAllDanhGia()">
                            <p>5 sao</p>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated rate-info__bar" role="progressbar" [style.width]="rateInfo.fiveStar + '%'"></div>
                            </div>
                            <p>{{rateInfo.fiveStar | number: '1.0-0'}}%</p>
                        </div>
                        <div class="d-flex flex-row justify-content-between rate-info align-items-center" *ngIf="!rateParams.fourStar"
                            (click)="toggleOnFourStar(); getAllDanhGia()">
                            <p>4 sao</p>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated rate-info__bar" role="progressbar" [style.width]="rateInfo.fourStar + '%'"></div>
                            </div>
                            <p>{{rateInfo.fourStar | number: '1.0-0'}}%</p>
                        </div>
                        <div class="d-flex flex-row justify-content-between rate-info rate-info-active align-items-center" *ngIf="rateParams.fourStar"
                            (click)="toggleOffFourStar(); getAllDanhGia()">
                            <p>4 sao</p>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated rate-info__bar" role="progressbar" [style.width]="rateInfo.fourStar + '%'"></div>
                            </div>
                            <p>{{rateInfo.fourStar | number: '1.0-0'}}%</p>
                        </div>
                        <div class="d-flex flex-row justify-content-between rate-info align-items-center" *ngIf="!rateParams.threeStar"
                            (click)="toggleOnThreeStar(); getAllDanhGia()">
                            <p>3 sao</p>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated rate-info__bar" role="progressbar" [style.width]="rateInfo.threeStar + '%'"></div>
                            </div>
                            <p>{{rateInfo.threeStar | number: '1.0-0'}}%</p>
                        </div>
                        <div class="d-flex flex-row justify-content-between rate-info rate-info-active align-items-center" *ngIf="rateParams.threeStar"
                            (click)="toggleOffThreeStar(); getAllDanhGia()">
                            <p>3 sao</p>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated rate-info__bar" role="progressbar" [style.width]="rateInfo.threeStar + '%'"></div>
                            </div>
                            <p>{{rateInfo.threeStar | number: '1.0-0'}}%</p>
                        </div>
                        <div class="d-flex flex-row justify-content-between rate-info align-items-center" *ngIf="!rateParams.twoStar"
                            (click)="toggleOnTwoStar(); getAllDanhGia()">
                            <p>2 sao</p>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated rate-info__bar" role="progressbar" [style.width]="rateInfo.twoStar + '%'"></div>
                            </div>
                            <p>{{rateInfo.twoStar | number: '1.0-0'}}%</p>
                        </div>
                        <div class="d-flex flex-row justify-content-between rate-info rate-info-active  align-items-center" *ngIf="rateParams.twoStar"
                            (click)="toggleOffTwoStar(); getAllDanhGia()">
                            <p>2 sao</p>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated rate-info__bar" role="progressbar" [style.width]="rateInfo.twoStar + '%'"></div>
                            </div>
                            <p>{{rateInfo.twoStar | number: '1.0-0'}}%</p>
                        </div>
                        <div class="d-flex flex-row justify-content-between rate-info align-items-center" *ngIf="!rateParams.oneStar"
                            (click)="toggleOnOneStar(); getAllDanhGia()">
                            <p>1 sao</p>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated rate-info__bar" role="progressbar" [style.width]="rateInfo.oneStar + '%'"></div>
                            </div>
                            <p>{{rateInfo.oneStar | number: '1.0-0'}}%</p>
                        </div>
                        <div class="d-flex flex-row justify-content-between rate-info rate-info-active align-items-center" *ngIf="rateParams.oneStar"
                            (click)="toggleOffOneStar(); getAllDanhGia()">
                            <p>1 sao</p>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated rate-info__bar" role="progressbar" [style.width]="rateInfo.oneStar + '%'"></div>
                            </div>
                            <p>{{rateInfo.oneStar | number: '1.0-0'}}%</p>
                        </div>
                        <button mat-stroked-button [@successButton]="addCommentButtonAnimation ? 'enter' : 'leave'" *ngIf="!enableComment" (click)="enableComment = true"
                            (mouseenter)="addCommentButtonAnimation = true" (mouseleave)="addCommentButtonAnimation = false">
                            <mat-icon class="align-text-bottom">add</mat-icon>
                            <span> Viết đánh giá</span>
                        </button>
                        <button mat-stroked-button *ngIf="enableComment" (click)="enableComment = false"
                            style="background-color: #198754; color: #ffffff;">
                            <mat-icon class="align-text-bottom">add</mat-icon>
                            <span> Viết đánh giá</span>
                        </button>
                        <div class="d-flex flex-column" *ngIf="enableComment" style="margin-top: 2rem;">
                            <mat-form-field appearance="outline" style="margin-bottom: 0.5rem; width: 100%;">
                                <textarea matInput [(ngModel)]="nhanXet" cdkTextareaAutosize placeholder="Bạn hãy nhận xét về shop này"
                                    #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="7" cdkAutosizeMaxRows="7"></textarea>
                            </mat-form-field>
                            <div class="d-flex flex-row user-select-none" style="margin-bottom: 2rem;">
                                <div class="d-flex flex-row" style="width: max-content; cursor: pointer;"
                                    (mouseenter)="enableMouse = true" (mouseleave)="offCommOneStar(); enableMouse = false">
                                    <mat-icon class="rate-star" *ngIf="!comm.oneStar && enableMouse"
                                        (mouseenter)="onCommOneStar()" (click)="danhGia = 1">
                                        star_border
                                    </mat-icon>
                                    <mat-icon class="rate-star" *ngIf="comm.oneStar && enableMouse"
                                        (mouseenter)="onCommOneStar()" (mouseleave)="offCommOneStar()" (click)="danhGia = 1">
                                        star
                                    </mat-icon>
                                    <mat-icon class="rate-star" *ngIf="!comm.twoStar && enableMouse"
                                        (mouseenter)="onCommTwoStar()" (click)="danhGia = 2">
                                        star_border
                                    </mat-icon>
                                    <mat-icon class="rate-star" *ngIf="comm.twoStar && enableMouse"
                                        (mouseenter)="onCommTwoStar()" (mouseleave)="offCommTwoStar()" (click)="danhGia = 2">
                                        star
                                    </mat-icon>
                                    <mat-icon class="rate-star" *ngIf="!comm.threeStar && enableMouse"
                                        (mouseenter)="onCommThreeStar()" (click)="danhGia = 3">
                                        star_border
                                    </mat-icon>
                                    <mat-icon class="rate-star" *ngIf="comm.threeStar && enableMouse"
                                        (mouseenter)="onCommThreeStar()" (mouseleave)="offCommThreeStar()" (click)="danhGia = 3">
                                        star
                                    </mat-icon>
                                    <mat-icon class="rate-star" *ngIf="!comm.fourStar && enableMouse"
                                        (mouseenter)="onCommFourStar()" (click)="danhGia = 4">
                                        star_border
                                    </mat-icon>
                                    <mat-icon class="rate-star" *ngIf="comm.fourStar && enableMouse"
                                        (mouseenter)="onCommFourStar()" (mouseleave)="offCommFourStar()" (click)="danhGia = 4">
                                        star
                                    </mat-icon>
                                    <mat-icon class="rate-star" *ngIf="!comm.fiveStar && enableMouse"
                                        (mouseenter)="onCommFiveStar()" (click)="danhGia = 5">
                                        star_border
                                    </mat-icon>
                                    <mat-icon class="rate-star" *ngIf="comm.fiveStar && enableMouse"
                                        (mouseenter)="onCommFiveStar()" (mouseleave)="offCommFiveStar()" (click)="danhGia = 5">
                                        star
                                    </mat-icon>
                                    <mat-icon class="rate-star" *ngIf="(danhGia < 1 || !danhGia) && !enableMouse">star_border</mat-icon>
                                    <mat-icon class="rate-star" *ngIf="danhGia >= 1 && !enableMouse">star</mat-icon>
                                    <mat-icon class="rate-star" *ngIf="(danhGia < 2 || !danhGia) && !enableMouse">star_border</mat-icon>
                                    <mat-icon class="rate-star" *ngIf="danhGia >= 2 && !enableMouse">star</mat-icon>
                                    <mat-icon class="rate-star" *ngIf="(danhGia < 3 || !danhGia) && !enableMouse">star_border</mat-icon>
                                    <mat-icon class="rate-star" *ngIf="danhGia >= 3 && !enableMouse">star</mat-icon>
                                    <mat-icon class="rate-star" *ngIf="(danhGia < 4 || !danhGia) && !enableMouse">star_border</mat-icon>
                                    <mat-icon class="rate-star" *ngIf="danhGia >= 4 && !enableMouse">star</mat-icon>
                                    <mat-icon class="rate-star" *ngIf="(danhGia < 5 || !danhGia) && !enableMouse">star_border</mat-icon>
                                    <mat-icon class="rate-star" *ngIf="danhGia >= 5 && !enableMouse">star</mat-icon>
                                </div>
                            </div>
                            <button mat-raised-button color="accent" (click)="createDanhGia()">
                                Gửi đánh giá
                            </button>
                            <mat-error *ngIf="danhGia === 0" style="margin-top: 0.5rem;">Bạn chưa có sao đánh giá</mat-error>
                        </div>
                    </div>
                </div>
                <div class="rate-col">
                    <div class="d-flex flex-row align-items-center comm" style="margin-bottom: 2rem;">
                        <div style="width: 7rem;"></div>
                        <div class="d-flex flex-column">
                            <h3 class="user-select-none fw-bold">LỌC THEO SAO</h3>
                            <div class="d-flex flex-row flex-wrap">
                                <button mat-stroked-button color="accent" class="rate-filter" (click)="toggleAllStar(); getAllDanhGia()" *ngIf="!rateParams.allStar">
                                    Tất cả
                                </button>
                                <button mat-raised-button color="accent" class="rate-filter" *ngIf="rateParams.allStar">
                                    Tất cả
                                </button>
                                <button mat-stroked-button color="accent" class="rate-filter" (click)="toggleOnFiveStar(); getAllDanhGia()" *ngIf="!rateParams.fiveStar">
                                    5 sao
                                </button>
                                <button mat-raised-button color="accent" class="rate-filter" (click)="toggleOffFiveStar(); getAllDanhGia()" *ngIf="rateParams.fiveStar">
                                    5 sao
                                </button>
                                <button mat-stroked-button color="accent" class="rate-filter" (click)="toggleOnFourStar(); getAllDanhGia()" *ngIf="!rateParams.fourStar">
                                    4 sao
                                </button>
                                <button mat-raised-button color="accent" class="rate-filter" (click)="toggleOffFourStar(); getAllDanhGia()" *ngIf="rateParams.fourStar">
                                    4 sao
                                </button>
                                <button mat-stroked-button color="accent" class="rate-filter" (click)="toggleOnThreeStar(); getAllDanhGia()" *ngIf="!rateParams.threeStar">
                                    3 sao
                                </button>
                                <button mat-raised-button color="accent" class="rate-filter" (click)="toggleOffThreeStar(); getAllDanhGia()" *ngIf="rateParams.threeStar">
                                    3 sao
                                </button>
                                <button mat-stroked-button color="accent" class="rate-filter" (click)="toggleOnTwoStar(); getAllDanhGia()" *ngIf="!rateParams.twoStar">
                                    2 sao
                                </button>
                                <button mat-raised-button color="accent" class="rate-filter" (click)="toggleOffTwoStar(); getAllDanhGia()" *ngIf="rateParams.twoStar">
                                    2 sao
                                </button>
                                <button mat-stroked-button color="accent" class="rate-filter" (click)="toggleOnOneStar(); getAllDanhGia()" *ngIf="!rateParams.oneStar">
                                    1 sao
                                </button>
                                <button mat-raised-button color="accent" class="rate-filter" (click)="toggleOffOneStar(); getAllDanhGia()" *ngIf="rateParams.oneStar">
                                    1 sao
                                </button>
                            </div>
                            <mat-form-field appearance="outline" style="width: 10rem;">
                                <mat-select [(ngModel)]="filterSelect" (ngModelChange)="filterChange(); getAllDanhGia()">
                                    <mat-option value="1">Gần đây nhất</mat-option>
                                    <mat-option value="2">Cũ nhất</mat-option>
                                    <mat-option value="3">Hữu ích nhất</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="d-flex flex-row comm" *ngFor="let item of listDanhGia; let i = index">
                        <div class="d-flex flex-column" style="width: 7rem;">
                            <div class="d-flex flex-row justify-content-center">
                                <div class="comm__border-avatar" (click)="openChatUser(item.userId)"
                                    (mouseenter)="item.linkAnimation = true" (mouseleave)="item.linkAnimation = false"
                                    [class.comm__border-avatar-pointer]="loggedUser && loggedUser.userId && loggedUser.userId !== item.userId">
                                    <img [src]="item.user.userInfo.anhDaiDien" style="width: 100%;">
                                </div>
                            </div>
                            <div class="fst-italic text-center text-break" (click)="openChatUser(item.userId)"
                                [@successColor]="(item.linkAnimation && loggedUser && loggedUser.userId && loggedUser.userId !== item.userId) ? 'enter' : 'leave'"
                                (mouseenter)="item.linkAnimation = true" (mouseleave)="item.linkAnimation = false"
                                [class.comm__border-avatar-pointer]="loggedUser && loggedUser.userId && loggedUser.userId !== item.userId">
                                {{item.user.name}}
                            </div>
                        </div>
                        <div class="d-flex flex-column" class="comm__border-text">
                            <div class="d-flex flex-row align-items-center" style="margin-bottom: 1rem;">
                                <mat-icon style="color: red;" *ngIf="item.danhGia < 1">star_border</mat-icon>
                                <mat-icon style="color: red;" *ngIf="item.danhGia >= 1">star</mat-icon>
                                <mat-icon style="color: red;" *ngIf="item.danhGia < 2">star_border</mat-icon>
                                <mat-icon style="color: red;" *ngIf="item.danhGia >= 2">star</mat-icon>
                                <mat-icon style="color: red;" *ngIf="item.danhGia < 3">star_border</mat-icon>
                                <mat-icon style="color: red;" *ngIf="item.danhGia >= 3">star</mat-icon>
                                <mat-icon style="color: red;" *ngIf="item.danhGia < 4">star_border</mat-icon>
                                <mat-icon style="color: red;" *ngIf="item.danhGia >= 4">star</mat-icon>
                                <mat-icon style="color: red;" *ngIf="item.danhGia < 5">star_border</mat-icon>
                                <mat-icon style="color: red;" *ngIf="item.danhGia >= 5">star</mat-icon>
                                <div class="comm__date">
                                    &nbsp;-&nbsp;{{item.createdAt | date: "HH:mm dd/MM/yyyy"}}
                                </div>
                            </div>
                            <div class="comm__text" #comment>{{item.nhanXet}}</div>
                            <div class="comm__text-more" (click)="moreComment(i)" *ngIf="item.moreText">XEM THÊM...</div>
                            <div class="d-flex flex-column comm__useful">
                                <div class="comm__useful-number">{{item.huuIch}} người thấy đánh giá này hữu ích</div>
                                <div class="d-flex flex-row align-items-center">
                                    <button mat-stroked-button [@successOutlineButton]="item.addHuuIchButtonAnimation ? 'enter' : 'leave'"
                                        (mouseenter)="item.addHuuIchButtonAnimation = true" (mouseleave)="item.addHuuIchButtonAnimation = false"
                                        (click)="addHuuIch(item)" *ngIf="!item.huuIchCheck">
                                        <mat-icon class="align-text-bottom">add</mat-icon>
                                        <span> Hữu ích</span>
                                    </button>
                                    <button mat-stroked-button style="color: #198754; border-color: #198754;"
                                        (click)="deleteHuuIch(item)" *ngIf="item.huuIchCheck">
                                        <mat-icon class="align-text-bottom">done</mat-icon>
                                        <span> Hữu ích</span>
                                    </button>
                                    <mat-progress-spinner *ngIf="item.huuIchSpinner" color="accent" mode="indeterminate" diameter="20" style="margin-left: 0.75rem;"></mat-progress-spinner>
                                    <button mat-stroked-button [@warnOutlineButton]="item.reportButtonAnimation ? 'enter' : 'leave'"
                                        (mouseenter)="item.reportButtonAnimation = true" (mouseleave)="item.reportButtonAnimation = false"
                                        (click)="openDialogBaoCao(item.userId, null, item.user.name)" style="margin-left: 0.75rem;"
                                        *ngIf="loggedUser && (loggedUser.userId !== item.userId)">
                                        <mat-icon class="align-text-bottom">report</mat-icon>
                                        <span> Báo cáo người dùng</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="endRateContent && !listDanhGia.length" class="user-select-none comm-none">
                        KHÔNG CÓ ĐÁNH GIÁ NÀO
                    </div>
                    <div class="d-flex flex-row justify-content-center" [class.d-none]="endRateContent">
                        <button mat-raised-button color="accent" (click)="getMoreDanhGia()">Xem thêm...</button>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
</div>
