<div class="container-body" *ngIf="loaded | async">
    <div *ngIf="shop.hoatDong && shop.userHoatDong then active else banned"></div>
    <ng-template #banned>
        <div class="user-select-none container-content text-center error-box">
            <div class="content">
                <br><br><br><br>
                <h1>OOPS!</h1>
                <br>
                <h2>Uh Oh! Có vẻ như shop đã bị ban!</h2>
                <br>
                <a routerLink="/home">
                    <button mat-raised-button>Trở về trang chủ</button>
                </a>
                <br><br><br><br>
            </div>
        </div>
    </ng-template>
    <ng-template #active>
        <div class="container-content">
            <h2 class="fw-bold user-select-none">QUẢN LÝ SẢN PHẨM</h2>
            <div class="flex-row d-flex user-select-none">
                <mat-form-field appearance="outline" style="width: 30%;">
                    <mat-label>Loại sản phẩm</mat-label>
                    <mat-select [(ngModel)]="params.loaiSanPhamId" (ngModelChange)="toHeadPage(); getAllSanPhamByShopId()">
                        <mat-option value="">---Chọn loại sản phẩm---</mat-option>
                        <mat-option *ngFor="let item of listLoaiSanPham" [value]="item.id">{{item.tenLoaiSanPham}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="flex-row d-flex align-items-center">
                <div class="float-start user-select-none" style="width: 30%;">
                    <mat-form-field class="p-0" appearance="outline" style="width: 100%;">
                        <mat-label>Tìm kiếm</mat-label>
                        <input matInput [(ngModel)]="params.searchString">
                        <mat-icon matSuffix *ngIf="params.searchString" (click)="params.searchString=''; toHeadPage(); getAllSanPhamByShopId()">close</mat-icon>
                    </mat-form-field>
                </div>
                <div class="float-start user-select-none" style="margin-left: 1rem;">
                    <button mat-raised-button (click)="toHeadPage(); getAllSanPhamByShopId()" color="primary">
                        <mat-icon>search</mat-icon> Tìm kiếm
                    </button>
                </div>
            </div>
            <div class="d-flex flex-row align-items-center">
                <button mat-raised-button class="create-button" (click)="openDialogCreateSanPham()" style="min-width: max-content;">Thêm mới</button>
                <div class="float-end user-select-none" style="width: 100%;">
                    <mat-paginator #paginator [length]="totalRecord" [pageSize]="params.pageSize" [pageSizeOptions]="[10,20,50]" (page)="getAllSanPhamByShopId($event)"></mat-paginator>
                </div>
            </div>
            <table mat-table [dataSource]="listSanPham" class="mat-elevation-z8" matSort matSortDisableClear [matSortDirection]="sortDirection" [matSortActive]="sortActive" (matSortChange)="toHeadPage(); sortData($event)">
                <ng-container matColumnDef="stt">
                    <th mat-header-cell *matHeaderCellDef>STT</th>
                    <td mat-cell *matCellDef="let element">{{element.stt}}</td>
                </ng-container>
                <ng-container matColumnDef="tenSanPham">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Tên sản phẩm</th>
                    <td mat-cell *matCellDef="let element">{{element.tenSanPham}}</td>
                </ng-container>
                <ng-container matColumnDef="danhGiaChung">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Đánh giá</th>
                    <td mat-cell class="text-center" *matCellDef="let element">{{element.danhGiaChung}}</td>
                </ng-container>
                <ng-container matColumnDef="soLuong">
                    <th mat-header-cell *matHeaderCellDef>Số lượng</th>
                    <td mat-cell class="text-center" *matCellDef="let element">{{element.soLuong}}</td>
                </ng-container>
                <ng-container matColumnDef="soLuongDaBan">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Số lượng đã bán</th>
                    <td mat-cell class="text-center" *matCellDef="let element">{{element.soLuongDaBan}}</td>
                </ng-container>
                <ng-container matColumnDef="createdAt">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Ngày tạo</th>
                    <td mat-cell class="text-center" *matCellDef="let element">{{element.createdAt | date:"dd/MM/yyyy"}}</td>
                </ng-container>
                <ng-container matColumnDef="thaoTac">
                    <th mat-header-cell *matHeaderCellDef>Thao tác</th>
                    <td mat-cell *matCellDef="let element">
                        <mat-icon matTooltip="Xem sản phẩm" matTooltipPosition="above" matTooltipShowDelay="300"
                            routerLink="/shop/item" [queryParams]="{shopName: shop.tenShop, itemName: element.tenSanPham}">
                            visibility
                        </mat-icon>
                        <mat-icon matTooltip="Cập nhật sản phẩm" matTooltipPosition="above" matTooltipShowDelay="300" style="margin-left: 0.5rem;"
                            (click)="openDialogUpdateSanPham(element)">
                            edit
                        </mat-icon>
                        <mat-icon matTooltip="Xóa sản phẩm" matTooltipPosition="above" matTooltipShowDelay="300" class="text-danger" style="margin-left: 0.5rem;"
                            (click)="deleteSanPham(element)">
                            delete
                        </mat-icon>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true" class="user-select-none"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="element-row"></tr>
                <tr class="mat-row text-center" *matNoDataRow>
                    <td class="mat-cell" colspan="7">Không có dữ liệu</td>
                </tr>
            </table>
        </div>
    </ng-template>
</div>
