.error-box {
    .content {
        text-align: center;
    }

    h1 {
        font-size: 6rem;
    }
    button {
        background-color: rgb(33, 161, 97);
        color: white;
        height: 3rem;
        font-size: 1.25rem;
    }
}

.thumbnail {
    overflow: auto;
    margin-top: 1rem;
    padding-bottom: 1rem;

    &-image:not(:last-of-type) {
        margin-right: 1rem;
    }

    &-border {
        &__no-view {
            filter: opacity(0.4);
            border: 1px black solid;
            width: 5rem;
            max-height: max-content;
            cursor: pointer;
        }

        &__view {
            border: 2px #3f51b5 solid;
            width: 5rem;
            max-height: max-content;
            cursor: pointer;
        }
    }
}

.active-color {
    color: #3f51b5;
    cursor: pointer;
    transform: scale(4);
}

.disable-color {
    color: #3f51b5;
    cursor: not-allowed;
    transform: scale(4);
    filter: opacity(0.3);
}

.image-border {
    width: 20rem;
    max-height: max-content;
    border: 2px black solid;
    cursor: pointer;
}

.item-content {
    margin-left: 3rem;

    &__spec {
        p {
            margin: 0;
        }
    }

    &__form-field {
        ::ng-deep .mat-form-field-wrapper {
            margin: 0;
            padding: 0;
            width: 4rem;
        }

        &-button {
            min-width: max-content;

            ::ng-deep .mat-icon {
                width: 2rem !important;
                height: 2rem !important;
                font-size: 2rem !important;
            }
        }
    }

    &__information {
        h3 {
            font-weight: bold;
        }

        &-table {
            display: grid;
            grid-template-columns: max-content 1fr;
            border: 1px solid #cfcfcf;
            grid-gap: 1px;
            background-color: #cfcfcf;
            max-width: max-content;

            div {
                padding: 0.25rem 1rem;
                background-color: white;
            }

            div:nth-of-type(odd) {
                font-weight: 600;
                background-color: #efefef;
            }

            div:nth-of-type(even) {
                padding-right: 2rem;
            }
        }
    }
}

.border-avatar {
    border: 2px solid rgb(99, 151, 248);
    width: 5rem;
    min-width: 5rem;
    height: 5rem;
    border-radius: 50%;
    overflow: hidden;
}

.banner {
    margin-right: 2rem;
    min-width: 20rem;

    &-name {
        padding-top: 0.5rem;
        padding-left: 2rem;
        padding-right: 2rem;
        width: max-content;

        p {
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
            display: -webkit-box;
            font-size: 1.25rem;
            text-transform: uppercase;
        }
    }

    &-button {
        margin-top: 1rem;

        button {
            width: 30%;
            border: 1px solid black;

            &:not(:first-of-type) {
                margin-left: 5%;
            }
        }
    }
}

.rate {
    &-col {
        padding-left: 1rem;
        padding-right: 1rem;
        min-width: 13rem;

        &:first-of-type {
            flex: 1 1 25%;
        }

        &:last-of-type {
            flex: 1 1 75%;
        }
    }

    &-star {
        width: 2rem !important;
        height: 2rem !important;
        font-size: 2rem !important;
        color: rgb(238, 130, 41);
    }

    &-info {
        width: 100%;
        margin-bottom: 1rem;
        cursor: pointer;

        &:hover, &:focus, &-active {
            color: rgb(238, 130, 41);
            text-decoration: underline;

            .progress {
                background-color: rgba(238, 130, 41, 0.3);
                border: 1px solid rgb(238, 130, 41);
            }
        }

        p {
            width: 5rem;
            margin: 0;
            text-align: start;
        }

        p:last-of-type {
            text-align: end;
        }

        & > div {
            width: 100%;
            height: 1.5rem;
        }

        &__bar {
            background-color: rgb(238, 130, 41);
        }
    }

    &-filter {
        min-width: 4.5rem;
        margin-right: 1rem;
        margin-bottom: 1rem;
    }
}

.comm{
    margin-bottom: 3rem;

    &__border-avatar {
        border: 1px solid rgb(99, 151, 248);
        width: 3rem;
        min-width: 3rem;
        height: 3rem;
        border-radius: 50%;
        overflow: hidden;
        margin-bottom: 1rem;

        &-pointer {
            cursor: pointer;
        }
    }

    &__date {
        font-style: italic;
        color: rgba(0, 0, 0, 0.45);
        font-size: 0.75rem;
    }

    &__text {
        white-space: pre-line;
        width: 100%;
        height: max-content;
        overflow: hidden;
        transition: 1s ease-in-out;

        &-hidden {
            max-height: 10rem;
        }

        &-show {
            max-height: 50rem;
            transition: 1s ease-in-out;
        }

        &-more {
            width: 100%;
            cursor: pointer;
            text-align: center;
            font-weight: 500;
            color: #ff4081;
            position: relative;

            &::after {
                position: absolute;
                left: 0;
                bottom: 100%;
                content: "";
                width: 100%;
                height: 3rem;
                background-image: linear-gradient(rgba(255, 255, 255, 0), rgb(255, 255, 255) 85%);
            }
        }
    }

    &__useful {
        margin-top: 1rem;
        margin-bottom: 0.5rem;

        &-number {
            font-style: italic;
            color: rgba(0, 0, 0, 0.45);
            font-size: 0.75rem;
            margin-bottom: 0.5rem;
        }
    }

    &__border-text {
        width: 100%;
        border: 1px solid rgb(167, 167, 167);
        border-radius: 0.5rem;
        padding: 0.5rem 1rem;
        box-shadow: 0.25rem 0.25rem 0.125rem #ccc;
        margin-left: 1rem;
    }

    &-none {
        display: grid;
        place-items: center;
        font-size: 2rem;
        font-weight: 800;
        color: #dfdfdf;
        min-width: max-content;
    }
}
