<div class="container-body">
    <div class="container-content">
        <h2 class="fw-bold user-select-none">SỔ ĐỊA CHỈ</h2>
        <div class="flex-row d-flex align-items-center">
            <div class="float-start user-select-none" style="width: 30%;">
                <mat-form-field class="p-0" appearance="outline" style="width: 100%;">
                    <mat-label>Tìm kiếm</mat-label>
                    <input matInput [(ngModel)]="params.searchString">
                    <mat-icon matSuffix *ngIf="params.searchString" (click)="params.searchString=''; toHeadPage(); getAllDiaChi()">close</mat-icon>
                </mat-form-field>
            </div>
            <div class="float-start user-select-none" style="margin-left: 1rem;">
                <button mat-raised-button (click)="toHeadPage(); getAllDiaChi()" color="primary">
                    <mat-icon>search</mat-icon> Tìm kiếm
                </button>
            </div>
        </div>
        <div class="d-flex flex-row align-items-center">
            <button mat-raised-button class="create-button" (click)="openDialogAddDiaChi()" style="min-width: max-content;">Thêm mới</button>
            <div class="float-end user-select-none" style="width: 100%;">
                <mat-paginator #paginator [length]="totalRecord" [pageSize]="params.pageSize" [pageSizeOptions]="[10,20,50]" (page)="getAllDiaChi($event)"></mat-paginator>
            </div>
        </div>
        <div *ngIf="loaded | async">
            <table mat-table [dataSource]="listAddress" class="mat-elevation-z8" matSort matSortDisableClear [matSortDirection]="sortDirection" [matSortActive]="sortActive" (matSortChange)="toHeadPage(); sortData($event)">
                <ng-container matColumnDef="stt">
                    <th mat-header-cell *matHeaderCellDef>STT</th>
                    <td mat-cell *matCellDef="let element">{{element.stt}}</td>
                </ng-container>
                <ng-container matColumnDef="diaChi">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Địa chỉ</th>
                    <td mat-cell *matCellDef="let element">{{element.diaChi}}</td>
                </ng-container>
                <ng-container matColumnDef="thaoTac">
                    <th mat-header-cell *matHeaderCellDef>Thao tác</th>
                    <td mat-cell *matCellDef="let element">
                        <mat-icon matTooltip="Cập nhật địa chỉ" matTooltipPosition="above" matTooltipShowDelay="300"
                            (click)="openDialogUpdateDiaChi(element)">
                            edit
                        </mat-icon>
                        <mat-icon matTooltip="Xóa địa chỉ" matTooltipPosition="above" matTooltipShowDelay="300" class="text-danger" style="margin-left: 0.5rem;"
                            (click)="deleteDiaChi(element)">
                            delete
                        </mat-icon>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true" class="user-select-none"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="element-row"></tr>
                <tr class="mat-row text-center" *matNoDataRow>
                    <td class="mat-cell" colspan="3">Không có dữ liệu</td>
                </tr>
            </table>
        </div>
    </div>
</div>
