.error-box {
    .content {
        text-align: center;
    }

    h1 {
        font-size: 6rem;
    }
    button {
        background-color: rgb(33, 161, 97);
        color: white;
        height: 3rem;
        font-size: 1.25rem;
    }
}

.thumbnail {
    overflow: auto;
    margin-top: 1rem;
    padding-bottom: 1rem;

    &-image:not(:last-of-type) {
        margin-right: 1rem;
    }

    &-border {
        &__no-view {
            filter: opacity(0.4);
            border: 1px black solid;
            width: 5rem;
            max-height: max-content;
            cursor: pointer;
        }

        &__view {
            border: 2px #3f51b5 solid;
            width: 5rem;
            max-height: max-content;
            cursor: pointer;
        }
    }
}

.active-color {
    color: #3f51b5;
    cursor: pointer;
    transform: scale(4);
}

.disable-color {
    color: #3f51b5;
    cursor: not-allowed;
    transform: scale(4);
    filter: opacity(0.3);
}

.image-border {
    width: 20rem;
    max-height: max-content;
    border: 2px black solid;
    cursor: pointer;
}

.item-content {
    margin-left: 3rem;

    &__information {
        h3 {
            font-weight: bold;
        }

        &-table {
            display: grid;
            grid-template-columns: max-content 1fr;
            border: 1px solid #cfcfcf;
            grid-gap: 1px;
            background-color: #cfcfcf;
            max-width: max-content;

            div {
                padding: 0.25rem 1rem;
                background-color: white;
            }

            div:nth-of-type(odd) {
                font-weight: 600;
                background-color: #efefef;
            }

            div:nth-of-type(even) {
                padding-right: 2rem;
            }
        }
    }
}

.banner {
    margin: 3rem 0;

    &-avatar {
        border: 2px solid rgb(99, 151, 248);
        width: 5rem;
        min-width: 5rem;
        height: 5rem;
        border-radius: 50%;
        overflow: hidden;
        margin-right: 1.5rem;
    }

    &-name {
        font-size: 1.25rem;
        padding-top: 0.25rem;
        width: fit-content;
    }

    &-button {
        width: max-content;
        min-width: max-content;

        &:not(:last-of-type) {
            margin-right: 1rem;
        }
    }

    &-approve {
        margin-top: 1rem;

        button {
            margin-left: 1rem;
        }
    }
}

.auction-info {
    width: 25rem;
    min-width: 25rem;
    margin-right: 3rem;
    padding-left: 1rem;

    & > div {
        margin-bottom: 1.25rem;

        p {
            margin: 0;
            margin-left: 1rem;
        }

        button {
            height: max-content;
            margin-left: 1rem;
        }
    }

    &__timeleft {
        color: red;
        font-size: 1.5rem;

        &-green {
            color: rgb(0, 145, 0);
        }
    }

    &__user {
        margin-left: 1rem;

        &-avatar {
            width: 2rem;
            min-width: 2rem;
            height: 2rem;
            border-radius: 50%;
            overflow: hidden;

            &-pointer {
                cursor: pointer;
            }
        }

        p {
            overflow-wrap: break-word;
            word-wrap: break-word;
            word-break: break-word;
        }
    }
}

.live-chat {
    width: 100%;
    min-width: 20rem;
    height: inherit;
    max-height: 30rem;
    border: 1px gray solid;
    position: relative;

    &__title {
        font-size: 1.1rem;
        border-bottom: 1px #cfcfcf solid;
        padding: 1rem 2rem;
    }

    &__content {
        height: 100%;
        overflow: auto;
        padding: 1rem 0 0.5rem;
        position: relative;

        &-item {
            padding: 0.25rem 1rem 0.25rem 2rem;

            &-half-opacity {
                * {
                    opacity: 0.7 !important;
                }
            }

            &-red {
                * {
                    color: red !important;
                }
            }

            &:hover {
                background-color: rgba(207, 207, 207, 0.3);

                .live-chat__content-box-menu {
                    visibility: visible;
                    z-index: 1001;
                }
            }

            &-click {
                background-color: rgba(207, 207, 207, 0.3);

                .live-chat__content-box-menu {
                    visibility: visible;
                    z-index: 1001;
                }
            }
        }

        &-item:not(:last-of-type) {
            margin-bottom: 0.5rem;
        }

        &-avatar {
            width: 2.5rem;
            min-width: 2.5rem;
            height: 2.5rem;
            border-radius: 50%;
            overflow: hidden;
            margin-right: 1rem;
        }

        &-box {
            padding-top: 0.1rem;
            width: 100%;

            &-name {
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
                overflow: hidden;
                display: -webkit-box;
                color: rgba(70, 70, 70, 0.8);

                &-blue {
                    color: rgba(0, 0, 255, 0.8);
                }
            }

            &-time {
                width: max-content;
                min-width: max-content;
                margin-left: 0.5rem;
                color: rgba(0, 0, 0, 0.45);
            }

            &-text {
                overflow-wrap: break-word;
                word-wrap: break-word;
                word-break: break-word;
                margin-top: 0.25rem;
            }

            &-menu {
                margin-left: 0.5rem;
                visibility: hidden;

                button {
                    border: none;
                    padding: 0;
                    background-color: transparent;
                }
            }
        }

        &-new-message {
            position: absolute;
            background-color: rgb(80, 95, 179);
            bottom: 4rem;
            left: 50%;
            transform: translateX(-50%);
            z-index: 1;
            cursor: pointer;
            color: white;
            aspect-ratio: 1;
            width: 2rem;
            display: grid;
            place-items: center;
            border-radius: 50%;
            visibility: hidden;
            opacity: 0;

            &:hover {
                background-color: rgb(63, 81, 181);
            }
        }
    }

    &__box {
        border-top: 1px #cfcfcf solid;
        padding: 1rem 2rem;

        &-select {
            min-width: max-content;
            margin-right: 1rem;

            ::ng-deep .mat-select-value {
                max-width: none !important;
            }
        }

        &-text {
            padding: 0 0.75rem 0.25rem;
            border: none;
            outline: none;
            border-bottom: 1px #cfcfcf solid;
            width: 100%;

            &:focus, &:focus-visible {
                border: none;
                outline: none;
                border-bottom: 1px #3f51b5 solid;
            }
        }

        &-send {
            color: rgb(28, 28, 211);
            width: 1rem;
            height: 1rem;
            font-size: 1rem;
            margin-left: 0.5rem;
            cursor: pointer;
        }
    }
}
