<div class="container-body" *ngIf="loaded | async">
    <div *ngIf="sanPham then active else banned"></div>
    <ng-template #banned>
        <div class="user-select-none container-content text-center error-box">
            <div class="content">
                <br><br><br><br>
                <h1>OOPS!</h1>
                <br>
                <h2>Không tìm thấy sản phẩm này!</h2>
                <br><br><br><br>
            </div>
        </div>
    </ng-template>
    <ng-template #active>
        <div class="container-content">
            <div class="d-flex flex-row">
                <div class="flex-column d-flex align-items-center">
                    <div style="width: 30rem;">
                        <div class="flex-row d-flex align-items-center">
                            <mat-icon class="user-select-none" [class.active-color]="index > 0" [class.disable-color]="index === 0"
                                (click)="toLeft()" matTooltip="Ảnh trái" matTooltipPosition="above" matTooltipShowDelay="300">
                                arrow_left
                            </mat-icon>
                            <div class="flex-fill"></div>
                            <div class="image-border" (click)="openImage(sanPham.hinhAnhSanPhamDauGia[index].hinhAnh)">
                                <img [src]="sanPham.hinhAnhSanPhamDauGia[index].hinhAnh" style="width: 100%;">
                            </div>
                            <div class="flex-fill"></div>
                            <mat-icon class="user-select-none" [class.active-color]="index < sanPham.hinhAnhSanPhamDauGia.length - 1" [class.disable-color]="index === sanPham.hinhAnhSanPhamDauGia.length - 1"
                                (click)="toRight()" matTooltip="Ảnh phải" matTooltipPosition="above" matTooltipShowDelay="300">
                                arrow_right
                            </mat-icon>
                        </div>
                    </div>
                    <div style="width: 30rem;">
                        <div class="flex-row d-flex align-items-center thumbnail">
                            <div class="flex-fill"></div>
                            <span *ngFor="let item of sanPham.hinhAnhSanPhamDauGia; let i = index" class="thumbnail-image" [id]="i === index ? 'thumbnailPanel' : ''">
                                <div [class.thumbnail-border__no-view]="i !== index" [class.thumbnail-border__view]="i === index"
                                    (click)="toIndex(i)">
                                    <img [src]="item.hinhAnh" style="width: 100%;">
                                </div>
                            </span>
                            <div class="flex-fill"></div>
                        </div>
                    </div>
                </div>
                <div class="item-content">
                    <h1>{{sanPham.tenSanPham}}</h1>
                    <br>
                    <div class="item-content__information">
                        <h3>Thông tin sản phẩm</h3>
                        <div class="item-content__information-table">
                            <div>Loại rượu</div>
                            <div>{{sanPham.tenLoaiSanPham}}</div>
                            <div>Xuất xứ</div>
                            <div>{{sanPham.xuatXu}}</div>
                            <div *ngIf="sanPham.nam">Năm</div>
                            <div *ngIf="sanPham.nam">{{sanPham.nam}}</div>
                            <div>Nồng độ</div>
                            <div>{{sanPham.nongDo}} %</div>
                            <div>Dung tích</div>
                            <div>{{sanPham.dungTich}} Mililit</div>
                            <div>Màu sắc</div>
                            <div>{{sanPham.mauSac}}</div>
                        </div>
                    </div>
                    <div class="d-flex flex-row banner">
                        <div class="banner-avatar">
                            <a class="banner-avatar" routerLink="/shop" [queryParams]="{name: shop.tenShop}">
                                <img style="width: 100%;" [src]="avatarImage">
                            </a>
                        </div>
                        <div class="d-flex flex-column">
                            <div class="banner-name">
                                <a routerLink="/shop" [queryParams]="{name: shop.tenShop}" [@successColor]="linkAnimation ? 'enter' : 'leave'"
                                    (mouseenter)="linkAnimation = !linkAnimation" (mouseleave)="linkAnimation = !linkAnimation">
                                    <p>{{shop.tenShop}}</p>
                                </a>
                            </div>
                            <div class="d-flex flex-row">
                                <button mat-stroked-button color="warn" class="banner-button" [@warnButton]="shopButtonAnimation ? 'enter' : 'leave'"
                                    (mouseenter)="shopButtonAnimation = !shopButtonAnimation" (mouseleave)="shopButtonAnimation = !shopButtonAnimation"
                                    routerLink="/shop" [queryParams]="{name: shop.tenShop}">
                                    <mat-icon class="align-text-bottom">shop</mat-icon>
                                    <span> Xem shop</span>
                                </button>
                                <button mat-stroked-button color="primary" class="banner-button" [@primaryButton]="chatButtonAnimation ? 'enter' : 'leave'"
                                    (click)="openChat()"
                                    (mouseenter)="chatButtonAnimation = !chatButtonAnimation" (mouseleave)="chatButtonAnimation = !chatButtonAnimation">
                                    <mat-icon class="align-text-bottom">chat_bubble</mat-icon>
                                    <span> Chat</span>
                                </button>
                                <button mat-stroked-button color="primary" class="banner-button" [@warnButton]="reportButtonAnimation ? 'enter' : 'leave'"
                                    *ngIf="loggedUser && (loggedUser.userId !== shop.userId)" (click)="openDialogBaoCao(null, shop.id, shop.tenShop)"
                                    (mouseenter)="reportButtonAnimation = true" (mouseleave)="reportButtonAnimation = false">
                                    <mat-icon class="align-text-bottom">report</mat-icon>
                                    <span> Báo cáo shop</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="loggedUser && loggedUser.roleId === expertRoleGuid && sanPham.tinhTrangDauGiaId === pendingApproveGuid">
                        Chấp thuận sản phẩm này lên sàn đấu giá?
                    </div>
                    <div class="d-flex flex-row banner-approve" *ngIf="loggedUser && loggedUser.roleId === expertRoleGuid && sanPham.tinhTrangDauGiaId === pendingApproveGuid">
                        <button mat-stroked-button [@successButton]="yesButtonAnimation ? 'enter' : 'leave'"
                            (mouseenter)="yesButtonAnimation = true" (mouseleave)="yesButtonAnimation = false"
                            (click)="updateTinhTrangDauGia(pendingAuctionGuid)">
                            Chấp thuận
                        </button>
                        <button mat-stroked-button [@warnButton]="noButtonAnimation ? 'enter' : 'leave'"
                            (mouseenter)="noButtonAnimation = true" (mouseleave)="noButtonAnimation = false"
                            (click)="updateTinhTrangDauGia(unApproveGuid)">
                            Không chấp thuận
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-content">
            <h3 class="user-select-none" style="margin-bottom: 2rem;">KHU VỰC ĐẤU GIÁ</h3>
            <div class="d-flex flex-row">
                <div class="auction-info">
                    <div class="d-flex flex-row align-items-center">
                        <mat-icon>info</mat-icon>
                        <p>{{sanPham.tinhTrang}}</p>
                    </div>
                    <div class="d-flex flex-row align-items-center">
                        <mat-icon>access_time</mat-icon>
                        <p class="auction-info__timeleft"
                            [class.auction-info__timeleft-green]="sanPham.tinhTrangDauGiaId === pendingAuctionGuid">
                            {{sanPham.timeLeft}}
                        </p>
                    </div>
                    <div class="d-flex flex-row align-items-center">
                        <mat-icon>attach_money</mat-icon>
                        <p class="auction-info__timeleft">{{sanPham.giaHienTai | number}}&nbsp;&#8363;</p>
                    </div>
                    <div class="d-flex flex-row align-items-center">
                        <mat-icon>gavel</mat-icon>
                        <p *ngIf="!sanPham.nguoiRaGia">Chưa có người ra giá</p>
                        <div *ngIf="sanPham.nguoiRaGia" class="d-flex flex-row auction-info__user align-items-center">
                            <div class="auction-info__user-avatar" (click)="openChatUser(sanPham.userId)"
                                (mouseenter)="userLinkAnimation = true" (mouseleave)="userLinkAnimation = false"
                                [class.auction-info__user-avatar-pointer]="loggedUser && loggedUser.userId && loggedUser.userId !== sanPham.userId">
                                <img [src]="sanPham.nguoiRaGia.userInfo.anhDaiDien" style="width: 100%;">
                            </div>
                            <p (click)="openChatUser(sanPham.userId)"
                                [@successColor]="(userLinkAnimation && loggedUser && loggedUser.userId && loggedUser.userId !== sanPham.userId) ? 'enter' : 'leave'"
                                (mouseenter)="userLinkAnimation = true" (mouseleave)="userLinkAnimation = false"
                                [class.auction-info__user-avatar-pointer]="loggedUser && loggedUser.userId && loggedUser.userId !== sanPham.userId">
                                {{sanPham.nguoiRaGia.name}}
                            </p>
                        </div>
                    </div>
                    <div style="margin-top: 3rem;" *ngIf="[this.pendingApproveGuid, this.pendingAuctionGuid].includes(sanPham.tinhTrangDauGiaId)">
                        Hiện tại chưa phải thời điểm đấu giá
                    </div>
                    <div style="margin-top: 3rem;" *ngIf="sanPham.tinhTrangDauGiaId === inAuctionGuid">
                        Bạn muốn ra giá? Hãy nhập vào ô dưới đây
                    </div>
                    <div style="margin-top: 3rem;" *ngIf="[this.successAuctionGuid, this.successPayAuctionGuid, this.failedAuctionGuid].includes(sanPham.tinhTrangDauGiaId)">
                        Phiên đấu giá đã kết thúc
                    </div>
                    <div class="d-flex flex-row" *ngIf="sanPham.tinhTrangDauGiaId === inAuctionGuid">
                        <mat-form-field appearance="outline" [formGroup]="formControl">
                            <input #donGia matInput type="text" [(ngModel)]="price" formControlName="price"
                                [directiveOnlyNumber]="true" directiveCurrencySpace="₫">
                            <mat-error class="user-select-none" *ngIf="f.price.hasError('required')">Chưa nhập giá</mat-error>
                            <mat-error class="user-select-none" *ngIf="f.price.hasError('min')">Mức giá lần này không thể nhỏ hơn {{sanPham.minPrice | number}}&nbsp;&#8363;</mat-error>
                        </mat-form-field>
                        <button mat-stroked-button [@successButton]="raGiaButtonAnimation ? 'enter' : 'leave'"
                            (mouseenter)="raGiaButtonAnimation = true" (mouseleave)="raGiaButtonAnimation = false"
                            (click)="openQuestion()">
                            Ra giá
                        </button>
                    </div>
                    <p *ngIf="areYouSure && sanPham.tinhTrangDauGiaId === inAuctionGuid">
                        Bạn đã chắc chắn ra giá {{price | number}}&nbsp;&#8363;?
                    </p>
                    <div class="d-flex flex-row align-items-center" *ngIf="areYouSure && sanPham.tinhTrangDauGiaId === inAuctionGuid">
                        <button mat-stroked-button [@successButton]="yesButtonAnimation ? 'enter' : 'leave'"
                            (mouseenter)="yesButtonAnimation = true" (mouseleave)="yesButtonAnimation = false"
                            (click)="updateTinhHinhDauGia()">
                            Chắc chắn
                        </button>
                        <button mat-stroked-button [@warnButton]="noButtonAnimation ? 'enter' : 'leave'"
                            (mouseenter)="noButtonAnimation = true" (mouseleave)="noButtonAnimation = false"
                            (click)="closeQuestion()">
                            Chưa chắc chắn
                        </button>
                    </div>
                    <p style="margin-top: 3rem;">Giá khởi điểm: {{sanPham.giaKhoiDiem | number}}&nbsp;&#8363;</p>
                    <p>Mỗi lần tăng giá phải trên {{sanPham.khoangGiaToiThieu | number}}&nbsp;&#8363;</p>
                    <p *ngIf="loggedUser && loggedUser.roleId === expertRoleGuid && sanPham.tinhTrangDauGiaId === inAuctionGuid && sanPham.yeuCauKetThuc">
                        Kết thúc đấu giá ngay lập tức?
                    </p>
                    <div class="d-flex flex-row align-items-center"
                        *ngIf="loggedUser && loggedUser.roleId === expertRoleGuid && sanPham.tinhTrangDauGiaId === inAuctionGuid && sanPham.yeuCauKetThuc">
                        <button mat-stroked-button [@warnButton]="endButtonAnimation ? 'enter' : 'leave'"
                            (mouseenter)="endButtonAnimation = true" (mouseleave)="endButtonAnimation = false"
                            (click)="endSure = true; yeuCauKetThuc = false">
                            Kết thúc ngay
                        </button>
                    </div>
                    <div class="d-flex flex-row align-items-center"
                        *ngIf="loggedUser && loggedUser.userId === shop.userId && sanPham.tinhTrangDauGiaId === inAuctionGuid && !sanPham.yeuCauKetThuc">
                        <button mat-stroked-button [@warnButton]="endButtonAnimation ? 'enter' : 'leave'"
                            (mouseenter)="endButtonAnimation = true" (mouseleave)="endButtonAnimation = false"
                            (click)="endSure = true; yeuCauKetThuc = true">
                            Yêu cầu kết thúc đấu giá
                        </button>
                    </div>
                    <p *ngIf="endSure">Bạn có chắc muốn kết thúc đấu giá?</p>
                    <div class="d-flex flex-row align-items-center" *ngIf="endSure">
                        <button mat-stroked-button [@successButton]="yesEndAnimation ? 'enter' : 'leave'"
                            (mouseenter)="yesEndAnimation = true" (mouseleave)="yesEndAnimation = false"
                            (click)="endAuction(); endSure = false">
                            Có
                        </button>
                        <button mat-stroked-button [@warnButton]="noEndAnimation ? 'enter' : 'leave'"
                            (mouseenter)="noEndAnimation = true" (mouseleave)="noEndAnimation = false"
                            (click)="endSure = false; yesEndAnimation = false; noEndAnimation = false; yeuCauKetThuc = false">
                            Không
                        </button>
                    </div>
                </div>
                <div class="live-chat d-flex flex-column">
                    <div class="live-chat__title user-select-none">
                        Live Chat
                    </div>
                    <div class="live-chat__content-new-message user-select-none" [@newMessageButton]="newMessageAnimation ? 'enter' : 'leave'"
                        (click)="returnToNewest()">
                        <mat-icon>arrow_downward</mat-icon>
                    </div>
                    <div class="live-chat__content" #messageField (scroll)="getMoreTroChuyenDauGia()">
                        <ng-container *ngIf="chatLoaded | async">
                            <div class="d-flex flex-row live-chat__content-item"
                                [class.live-chat__content-item-half-opacity]="item.halfOpacity"
                                [class.live-chat__content-item-red]="item.errorSending"
                                [class.live-chat__content-item-click]="item.clickMenu" *ngFor="let item of listChat" #message>
                                <div class="live-chat__content-avatar user-select-none" *ngIf="item.isSystem && !item.isShopOwner"></div>
                                <div class="live-chat__content-avatar user-select-none" *ngIf="item.isShopOwner && !item.isSystem">
                                    <img [src]="avatarImage" style="width: 100%;">
                                </div>
                                <div class="live-chat__content-avatar user-select-none" *ngIf="!item.isShopOwner && !item.isSystem">
                                    <img [src]="item.user.userInfo.anhDaiDien" style="width: 100%;">
                                </div>
                                <div class="live-chat__content-box d-flex flex-column">
                                    <div class="d-flex flex-row">
                                        <div class="live-chat__content-box-name" *ngIf="!item.isShopOwner && item.isSystem">System</div>
                                        <div class="live-chat__content-box-name live-chat__content-box-name-blue" *ngIf="item.isShopOwner && !item.isSystem">
                                            {{shop.tenShop}}
                                        </div>
                                        <div class="live-chat__content-box-name" *ngIf="!item.isShopOwner && !item.isSystem">{{item.user.name}}</div>
                                        <div class="live-chat__content-box-time">{{item.createdAt | date: "HH:mm dd/MM/yyyy"}}</div>
                                        <div class="flex-fill"></div>
                                        <div class="live-chat__content-box-menu user-select-none"
                                            *ngIf="loggedUser && (item.isShopOwner || (!item.isSystem && !item.isShopOwner && item.userId && item.userId !== loggedUser.userId))">
                                            <button mat-stroke-button [matMenuTriggerFor]="menu"
                                                (menuOpened)="item.clickMenu = true" (menuClosed)="item.clickMenu = false">
                                                <mat-icon>more_horiz</mat-icon>
                                            </button>
                                            <mat-menu #menu="matMenu" xPosition="before">
                                                <button mat-menu-item *ngIf="!item.isShopOwner && !item.isSystem" (click)="openChatUser(item.userId)">
                                                    <mat-icon>chat_bubble</mat-icon>
                                                    <span>Nhắn tin với {{item.user.name}}</span>
                                                </button>
                                                <button mat-menu-item *ngIf="!item.isShopOwner && !item.isSystem"
                                                    (click)="openDialogBaoCao(item.userId, null, item.user.name)">
                                                    <mat-icon>report</mat-icon>
                                                    <span>Báo cáo người dùng</span>
                                                </button>
                                                <button mat-menu-item *ngIf="item.isShopOwner && !item.isSystem" (click)="openChat()">
                                                    <mat-icon>chat_bubble</mat-icon>
                                                    <span>Nhắn tin với shop</span>
                                                </button>
                                                <button mat-menu-item *ngIf="item.isShopOwner && !item.isSystem && loggedUser && shop.userId !== loggedUser.userId"
                                                    (click)="openDialogBaoCao(null, shop.id, shop.tenShop)">
                                                    <mat-icon>report</mat-icon>
                                                    <span>Báo cáo shop</span>
                                                </button>
                                            </mat-menu>
                                        </div>
                                    </div>
                                    <div class="live-chat__content-box-text">{{item.noiDung}}</div>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                    <div class="live-chat__box d-flex flex-row align-items-center">
                        <div class="live-chat__box-select user-select-none" *ngIf="loggedUser && loggedUser.userId === shop.userId">
                            <mat-select [(ngModel)]="selection">
                                <mat-option [value]="1">Chủ shop</mat-option>
                                <mat-option [value]="2">User</mat-option>
                            </mat-select>
                        </div>
                        <input type="text" class="live-chat__box-text" placeholder="Hãy nói gì đó..." [(ngModel)]="contentChat" (keydown)="keyCapture($event)"
                            [disabled]="sanPham.tinhTrangDauGiaId === pendingApproveGuid">
                        <mat-icon class="user-select-none live-chat__box-send" (click)="createTroChuyenDauGia()"
                            *ngIf="sanPham.tinhTrangDauGiaId !== pendingApproveGuid">
                            send
                        </mat-icon>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-content" *ngIf="sanPham.thongTinKhac && sanPham.thongTinKhac.trim() !== ''">
            <h3 class="user-select-none" style="margin-bottom: 2rem;">GIỚI THIỆU SẢN PHẨM</h3>
            <div [innerHTML]="sanPham.thongTinKhac"></div>
        </div>
    </ng-template>
</div>
