<div class="container-body">
    <div class="container-content">
        <h2 class="fw-bold user-select-none">QUẢN LÝ LOẠI SẢN PHẨM</h2>
        <div class="d-flex flex-row align-items-center">
            <div class="float-start user-select-none" style="width: 30%;">
                <mat-form-field class="p-0" appearance="outline" style="width: 100%;">
                    <mat-label>Tìm kiếm</mat-label>
                    <input matInput [(ngModel)]="params.searchString">
                    <mat-icon matSuffix *ngIf="params.searchString" (click)="params.searchString=''; toHeadPage(); getAllLoaiSanPham()">close</mat-icon>
                </mat-form-field>
            </div>
            <div class="float-start user-select-none" style="margin-left: 1rem;">
                <button mat-raised-button (click)="toHeadPage(); getAllLoaiSanPham()" color="primary">
                    <mat-icon>search</mat-icon> Tìm kiếm
                </button>
            </div>
        </div>
        <div class="flex-row d-flex align-items-center">
            <button mat-raised-button class="create-button" (click)="openDialogAddLoaiSanPham()" style="min-width: max-content;">Thêm mới</button>
            <div class="float-end user-select-none" style="width: 100%;">
                <mat-paginator #paginator [length]="totalRecord" [pageSize]="params.pageSize" [pageSizeOptions]="[10,20,50]" (page)="getAllLoaiSanPham($event)"></mat-paginator>
            </div>
        </div>
        <div *ngIf="loaded | async">
            <table mat-table [dataSource]="listCategory" class="mat-elevation-z8" matSort matSortDisableClear [matSortDirection]="sortDirection" [matSortActive]="sortActive" (matSortChange)="toHeadPage(); sortData($event)">
                <ng-container matColumnDef="stt">
                    <th mat-header-cell *matHeaderCellDef>STT</th>
                    <td mat-cell *matCellDef="let element">{{element.stt}}</td>
                </ng-container>
                <ng-container matColumnDef="tenLoaiSanPham">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Tên loại sản phẩm</th>
                    <td mat-cell *matCellDef="let element">{{element.tenLoaiSanPham}}</td>
                </ng-container>
                <ng-container matColumnDef="moTaLoaiSanPham">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Mô tả loại sản phẩm</th>
                    <td mat-cell *matCellDef="let element">{{element.moTaLoaiSanPham}}</td>
                </ng-container>
                <!-- <ng-container matColumnDef="soThuocTinh">
                    <th mat-header-cell *matHeaderCellDef>Số thuộc tính</th>
                    <td mat-cell *matCellDef="let element">{{element.soThuocTinh}}</td>
                </ng-container> -->
                <ng-container matColumnDef="thaoTac">
                    <th mat-header-cell *matHeaderCellDef>Thao tác</th>
                    <td mat-cell *matCellDef="let element">
                        <mat-icon matTooltip="Cập nhật loại sản phẩm" matTooltipPosition="above" matTooltipShowDelay="300"
                            (click)="openDialogUpdateLoaiSanPham(element)">
                            edit
                        </mat-icon>
                        <mat-icon matTooltip="Xóa loại sản phẩm" matTooltipPosition="above" matTooltipShowDelay="300" class="text-danger" style="margin-left: 0.5rem;"
                            (click)="deleteLoaiSanPham(element.id)">
                            delete
                        </mat-icon>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true" class="user-select-none"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="element-row"></tr>
                <tr class="mat-row text-center" *matNoDataRow>
                    <td class="mat-cell" colspan="5">Không có dữ liệu</td>
                </tr>
            </table>
        </div>
    </div>
</div>
