<div class="container-body">
    <div class="container-content">
        <h2 class="fw-bold user-select-none">QUẢN LÝ BÁO CÁO</h2>
        <div class="flex-row d-flex user-select-none">
            <mat-form-field appearance="outline" style="width: 30%;">
                <mat-label>Người báo cáo</mat-label>
                <mat-select [(ngModel)]="params.nguoiBaoCaoId" (ngModelChange)="getAllBaoCao(1)">
                    <mat-option>
                        <ngx-mat-select-search placeholderLabel="Tìm kiếm" [formControl]="nguoiBaoCaoSearch"></ngx-mat-select-search>
                    </mat-option>
                    <mat-option value="">---Chọn người báo cáo---</mat-option>
                    <mat-option [value]="item.nguoiBaoCaoId" *ngFor="let item of listNguoiBaoCaoFilter" style="height: max-content;">
                        <div class="d-flex flex-row align-items-center" style="margin: 0.5rem 0;">
                            <div class="avatar">
                                <img [src]="item.nguoiBaoCao.userInfo.anhDaiDien" style="width: 100%;">
                            </div>
                            <div *ngIf="item.nguoiBaoCao.name !== item.nguoiBaoCao.userName">
                                {{item.nguoiBaoCao.userName}} ({{item.nguoiBaoCao.name}})
                            </div>
                            <div *ngIf="item.nguoiBaoCao.name === item.nguoiBaoCao.userName">
                                {{item.nguoiBaoCao.userName}}
                            </div>
                        </div>
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline" style="width: 30%; margin-left: 5%;">
                <mat-label>Người/shop bị báo cáo</mat-label>
                <mat-select [(ngModel)]="params.userShopId" (ngModelChange)="checkuserShop(); getAllBaoCao(1)">
                    <mat-option>
                        <ngx-mat-select-search placeholderLabel="Tìm kiếm" [formControl]="nguoiBiBaoCaoSearch"></ngx-mat-select-search>
                    </mat-option>
                    <mat-option value="">---Chọn người/shop bị báo cáo---</mat-option>
                    <mat-optgroup label="User">
                        <mat-option [value]="'user' + item.userId" *ngFor="let item of listNguoiBiBaoCaoFilter" style="height: max-content;">
                            <div class="d-flex flex-row align-items-center" style="margin: 0.5rem 0;">
                                <div class="avatar">
                                    <img [src]="item.user.userInfo.anhDaiDien" style="width: 100%;">
                                </div>
                                <div *ngIf="item.user.name !== item.user.userName">
                                    {{item.user.userName}} ({{item.user.name}})
                                </div>
                                <div *ngIf="item.user.name === item.user.userName">
                                    {{item.user.userName}}
                                </div>
                            </div>
                        </mat-option>
                    </mat-optgroup>
                    <mat-optgroup label="Shop">
                        <mat-option [value]="'shop' + item.shopId" *ngFor="let item of listShopBiBaoCaoFilter" style="height: max-content;">
                            <div class="d-flex flex-row align-items-center" style="margin: 0.5rem 0;">
                                <div class="avatar">
                                    <img [src]="item.shop.anhDaiDien" style="width: 100%;">
                                </div>
                                <div>{{item.shop.tenShop}}</div>
                            </div>
                        </mat-option>
                    </mat-optgroup>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline" style="width: 30%; margin-left: 5%;">
                <mat-label>Trạng thái</mat-label>
                <mat-select [(ngModel)]="params.daXem" (ngModelChange)="getAllBaoCao(1)">
                    <mat-option value="">---Chọn trạng thái---</mat-option>
                    <mat-option value=true>Đã xem</mat-option>
                    <mat-option value=false>Chưa xem</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="flex-row d-flex align-items-center user-select-none">
            <mat-form-field class="p-0" appearance="outline" style="width: 30%;">
                <mat-label>Tìm kiếm</mat-label>
                <input matInput [(ngModel)]="params.searchString">
                <mat-icon matSuffix *ngIf="params.searchString" (click)="params.searchString = ''; getAllBaoCao(1)">close</mat-icon>
            </mat-form-field>
            <button mat-raised-button (click)="getAllBaoCao(1)" color="primary" style="margin-left: 1rem;">
                <mat-icon>search</mat-icon> Tìm kiếm
            </button>
        </div>
        <ng-container *ngIf="loaded | async">
            <div class="report">
                <div class="report-item">
                    <div class="d-flex flex-row justify-content-end align-items-center report-item__icon user-select-none">
                        <mat-icon class="report-item__icon-done-on" (click)="updateAllBaoCao()"
                            matTooltip="Đánh dấu tất cả là đã xem" matTooltipPosition="above" matTooltipShowDelay="300">
                            done
                        </mat-icon>
                        <mat-icon class="report-item__icon-close-on" (click)="deleteAllBaoCao()"
                            matTooltip="Xóa tất cả" matTooltipPosition="above" matTooltipShowDelay="300">
                            close
                        </mat-icon>
                    </div>
                </div>
                <div class="report-item" *ngFor="let item of listBaoCao">
                    <div class="d-flex flex-column">
                        <div class="d-flex flex-row align-items-center">
                            <div class="avatar" [class.avatar-pointer]="item.nguoiBaoCaoId !== loggedUser.userId" (click)="openChatUser(item.nguoiBaoCaoId)"
                                (mouseenter)="item.baoCaoLinkAnimation = true" (mouseleave)="item.baoCaoLinkAnimation = false">
                                <img [src]="item.nguoiBaoCao.userInfo.anhDaiDien" style="width: 100%;"
                                    [title]="item.nguoiBaoCao.name === item.nguoiBaoCao.userName ? item.nguoiBaoCao.userName : item.nguoiBaoCao.userName + ' (' + item.nguoiBaoCao.name + ')'">
                            </div>
                            <div class="report-item__name" [title]="item.nguoiBaoCao.userName + ' (' + item.nguoiBaoCao.name + ')'"
                                [class.avatar-pointer]="item.nguoiBaoCaoId !== loggedUser.userId"
                                (click)="openChatUser(item.nguoiBaoCaoId)" [@successColor]="(item.nguoiBaoCaoId !== loggedUser.userId && item.baoCaoLinkAnimation) ? 'enter' : 'leave'"
                                (mouseenter)="item.baoCaoLinkAnimation = true" (mouseleave)="item.baoCaoLinkAnimation = false"
                                *ngIf="item.nguoiBaoCao.name !== item.nguoiBaoCao.userName">
                                {{item.nguoiBaoCao.userName}} ({{item.nguoiBaoCao.name}})
                            </div>
                            <div class="report-item__name" [title]="item.nguoiBaoCao.userName"
                                [class.avatar-pointer]="item.nguoiBaoCaoId !== loggedUser.userId"
                                (click)="openChatUser(item.nguoiBaoCaoId)" [@successColor]="(item.nguoiBaoCaoId !== loggedUser.userId && item.baoCaoLinkAnimation)  ? 'enter' : 'leave'"
                                (mouseenter)="item.baoCaoLinkAnimation = true" (mouseleave)="item.baoCaoLinkAnimation = false"
                                *ngIf="item.nguoiBaoCao.name === item.nguoiBaoCao.userName">
                                {{item.nguoiBaoCao.userName}}
                            </div>
                            <div class="report-item__head">Đã báo cáo</div>
                            <div class="avatar" *ngIf="item.user" [class.avatar-pointer]="item.userId !== loggedUser.userId" (click)="openChatUser(item.userId)"
                                (mouseenter)="item.biBaoCaoLinkAnimation = true" (mouseleave)="item.biBaoCaoLinkAnimation = false">
                                <img [src]="item.user.userInfo.anhDaiDien" style="width: 100%;"
                                    [title]="item.user.name === item.user.userName ? item.user.userName : item.user.userName + ' (' + item.user.name + ')'">
                            </div>
                            <div class="report-item__name" [title]="item.user.userName + ' (' + item.user.name + ')'"
                                [class.avatar-pointer]="item.userId !== loggedUser.userId"
                                (click)="openChatUser(item.userId)" [@successColor]="(item.userId !== loggedUser.userId && item.biBaoCaoLinkAnimation) ? 'enter' : 'leave'"
                                (mouseenter)="item.biBaoCaoLinkAnimation = true" (mouseleave)="item.biBaoCaoLinkAnimation = false"
                                *ngIf="item.user && item.user.name !== item.user.userName">
                                {{item.user.userName}} ({{item.user.name}})
                            </div>
                            <div class="report-item__name" [title]="item.user.userName"
                                [class.avatar-pointer]="item.userId !== loggedUser.userId"
                                (click)="openChatUser(item.userId)" [@successColor]="(item.userId !== loggedUser.userId && item.biBaoCaoLinkAnimation) ? 'enter' : 'leave'"
                                (mouseenter)="item.biBaoCaoLinkAnimation = true" (mouseleave)="item.biBaoCaoLinkAnimation = false"
                                *ngIf="item.user && item.user.name === item.user.userName">
                                {{item.user.userName}}
                            </div>
                            <div class="avatar avatar-pointer" *ngIf="item.shop" (click)="openChatShop(item.shopId)"
                                (mouseenter)="item.biBaoCaoLinkAnimation = true" (mouseleave)="item.biBaoCaoLinkAnimation = false">
                                <img [src]="item.shop.anhDaiDien" style="width: 100%;" [title]="item.shop.tenShop">
                            </div>
                            <div class="report-item__name avatar-pointer" *ngIf="item.shop" [title]="item.shop.tenShop"
                                (click)="openChatShop(item.shopId)" [@successColor]="item.biBaoCaoLinkAnimation ? 'enter' : 'leave'"
                                (mouseenter)="item.biBaoCaoLinkAnimation = true" (mouseleave)="item.biBaoCaoLinkAnimation = false">
                                {{item.shop.tenShop}}
                            </div>
                            <div class="report-item__time" *ngIf="item.noiGuiBaoCao" [routerLink]="item.noiGuiBaoCao" [queryParams]="item.queryParams">
                                {{item.createdAt | date: "HH:mm dd/MM/yyyy"}}
                            </div>
                            <div class="report-item__time" *ngIf="!item.noiGuiBaoCao">
                                {{item.createdAt | date: "HH:mm dd/MM/yyyy"}}
                            </div>
                            <div class="flex-fill"></div>
                            <div class="d-flex flex-row align-items-center report-item__icon user-select-none">
                                <mat-icon class="report-item__icon-done" (click)="updateBaoCao(item)"
                                    [class.report-item__icon-done-on]="item.done" [class.report-item__icon-done-inprogress]="item.inProgressDone"
                                    matTooltip="Đánh dấu là đã xem" matTooltipPosition="above" matTooltipShowDelay="300">
                                    done
                                </mat-icon>
                                <mat-icon class="report-item__icon-close" (click)="deleteBaoCao(item)"
                                    [class.report-item__icon-close-on]="item.close" [class.report-item__icon-close-inprogress]="item.inProgressClose"
                                    matTooltip="Xóa" matTooltipPosition="above" matTooltipShowDelay="300">
                                    close
                                </mat-icon>
                            </div>
                        </div>
                        <div class="report-item__text">
                            <p>Lý do báo cáo: {{item.lyDoBaoCao}}</p>
                            <a *ngIf="item.noiGuiBaoCao" [routerLink]="item.noiGuiBaoCao" [queryParams]="item.queryParams">Nơi gửi báo cáo</a>
                        </div>
                    </div>
                </div>
                <div class="no-item user-select-none" *ngIf="!listBaoCao.length">KHÔNG CÓ BÁO CÁO NÀO</div>
            </div>
            <div class="d-flex flex-row justify-content-end align-items-center"
                *ngIf="listBaoCao.length || params.pageIndex > 1">
                <div class="page-number" *ngIf="params.pageIndex > 1" (click)="getAllBaoCao(1)">
                    <mat-icon>first_page</mat-icon>
                </div>
                <div class="page-number" *ngIf="params.pageIndex > 1" (click)="getAllBaoCao(params.pageIndex - 1)">
                    <mat-icon>chevron_left</mat-icon>
                </div>
                <div class="page-number page-number-etc" *ngIf="params.pageIndex > 3">...</div>
                <div class="page-number" *ngIf="params.pageIndex > 2" (click)="getAllBaoCao(params.pageIndex - 2)">{{params.pageIndex - 2}}</div>
                <div class="page-number" *ngIf="params.pageIndex > 1" (click)="getAllBaoCao(params.pageIndex - 1)">{{params.pageIndex - 1}}</div>
                <div class="page-number page-number-active">{{params.pageIndex}}</div>
                <div class="page-number" *ngIf="params.pageIndex <= lastPage - 1" (click)="getAllBaoCao(params.pageIndex + 1)">{{params.pageIndex + 1}}</div>
                <div class="page-number" *ngIf="params.pageIndex <= lastPage - 2" (click)="getAllBaoCao(params.pageIndex + 2)">{{params.pageIndex + 2}}</div>
                <div class="page-number page-number-etc" *ngIf="params.pageIndex <= lastPage - 3">...</div>
                <div class="page-number" *ngIf="params.pageIndex < lastPage" (click)="getAllBaoCao(params.pageIndex + 1)">
                    <mat-icon>chevron_right</mat-icon>
                </div>
                <div class="page-number" *ngIf="params.pageIndex < lastPage" (click)="getAllBaoCao(lastPage)">
                    <mat-icon>last_page</mat-icon>
                </div>
            </div>
        </ng-container>
    </div>
</div>
