<div>
    <p mat-dialog-title class="fs-5 text-success user-select-none text-center">
        {{data.item.id ? "Cập nhật địa chỉ" : "Thêm mới địa chỉ"}}
    </p>
</div>
<div mat-dialog-content>
    <div [formGroup]="formControl">
        <div class="flex-row d-flex align-items-center">
            <p class="fw-bold col-3 user-select-none">Địa chỉ<span style="color: red;">(*)</span></p>
            <mat-form-field appearance="outline" class="col-9">
                <input matInput type="text" [(ngModel)]="data.item.diaChi" formControlName="address">
                <mat-error class="user-select-none" *ngIf="f.address.hasError('required')">Chưa nhập địa chỉ</mat-error>
            </mat-form-field>
        </div>
    </div>
</div>
<div mat-dialog-actions class="float-end">
    <button mat-raised-button color="primary" (click)="save()">Lưu</button>
    <button mat-raised-button mat-dialog-close>Thoát</button>
</div>
