/* You can add global styles to this file, and also import other style files */
@import "./bootstrap.css";
@import "../node_modules/primeicons/primeicons.css";
@import "../node_modules/@syncfusion/ej2-base/styles/material.css";
@import "../node_modules/@syncfusion/ej2-icons/styles/material.css";
@import "../node_modules/@syncfusion/ej2-buttons/styles/material.css";
@import "../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css";
@import "../node_modules/@syncfusion/ej2-inputs/styles/material.css";
@import "../node_modules/@syncfusion/ej2-lists/styles/material.css";
@import "../node_modules/@syncfusion/ej2-navigations/styles/material.css";
@import "../node_modules/@syncfusion/ej2-popups/styles/material.css";
@import "../node_modules/@syncfusion/ej2-richtexteditor/styles/material.css";

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    box-sizing: border-box;
    background-color: hsl(190, 100%, 95%);
    transition: background-color 0.25s ease-in-out;
}

.auction-background-body {
    background-color: hsl(10, 100%, 95%) !important;
}

.container-header {
    height: 4rem;
    padding-left: 5%;
    padding-right: 5%;
    transition: 0.25s ease-in-out;
}

.container-sidenav {
    min-height: calc(100% - 8rem);
}

.container-body {
    min-height: calc(100% - 8rem);
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.home-body {
    min-height: calc(100% - 8rem);
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;

    & > div {
        width: 1250px;
    }
}

.container-content {
    padding: 2rem;
    border-radius: 1rem;
    background-color: white;
}

.container-content:not(:last-of-type) {
    margin-bottom: 2rem;
}

.mat-form-field-flex > .mat-form-field-infix {
    padding: 0.2em 0px 0.4em 0px !important;
}
.mat-form-field-label-wrapper {
    top: -1.5em;
}
.mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    transform: translateY(-1.1em) scale(0.75);
    width: 133.33333%;
}

a {
    text-decoration: none;
    color: black;

    &:hover,
    &:active {
        color: black;
    }
}

.mat-icon,
i {
    font-size: 1rem !important;
    width: 1rem !important;
    height: 1rem !important;
}

.mat-form-field-subscript-wrapper {
    margin-top: 0.25rem;
}

.mat-drawer-container {
    background-color: hsl(190, 100%, 95%);
}

.mat-form-field-appearance-outline .mat-select-arrow-wrapper {
    transform: none !important;
}

.mat-table {
    width: 100%;
    tbody {
        background: border-box !important ;
    }
    th {
        background-color: #f8f8f8 !important;
        text-align: center !important;
        border-top: 0.5px solid #ccc;
        font-weight: 800;
        min-height: 2.5rem !important;
        height: 2.5rem !important;
    }
    th:last-child {
        border-top-right-radius: 0.2rem;
    }
    th:first-child {
        border-top-left-radius: 0.2rem;
    }
    th .mat-sort-header-arrow {
        margin-left: -12px;
        visibility: hidden;
        transition: visibility 0.05s ease-in-out, margin-left 0.15s ease-in-out;
    }
    th:hover .mat-sort-header-arrow,
    th:focus .mat-sort-header-arrow {
        margin-left: 6px;
        visibility: visible;
    }
    .mat-row {
        height: auto !important;
    }
    th.mat-header-cell,
    td.mat-cell,
    td.mat-footer-cell {
        border-left: 0.5px solid #ccc !important;
        border-bottom: 0.5px solid #ccc !important;
        padding: 3px !important;
    }
    th.mat-header-cell:last-child,
    td.mat-cell:last-child,
    td.mat-footer-cell:last-child {
        border-right: 0.5px solid #ccc !important;
    }
    .mat-header-row {
        height: max-content;
    }
    .mat-cell,
    .mat-footer-cell,
    .mat-header-cell {
        height: 40px !important;
    }

    .mat-sort-header-container {
        justify-content: center;
    }
}

.mat-tab-header{
    background-color: white;
}

.no-padding .mat-dialog-container {
    padding: 0 !important;
}
