<div class="container-body" *ngIf="loaded | async">
    <div class="container-content" [formGroup]="formControl">
        <h2 class="fw-bold user-select-none">THÔNG TIN CÁ NHÂN</h2>
        <div class="flex-row d-flex align-items-center container-content__block">
            <p class="col-3 text-end user-select-none">Họ</p>
            <mat-form-field appearance="outline" class="col-6 text-start container-content__block-form-field">
                <input matInput type="text" [(ngModel)]="userInfo.ho" formControlName="firstName">
            </mat-form-field>
        </div>
        <div class="flex-row d-flex align-items-center container-content__block">
            <p class="col-3 text-end user-select-none">Tên đệm</p>
            <mat-form-field appearance="outline" class="col-6 text-start container-content__block-form-field">
                <input matInput type="text" [(ngModel)]="userInfo.tenDem" formControlName="middleName">
            </mat-form-field>
        </div>
        <div class="flex-row d-flex align-items-center container-content__block">
            <p class="col-3 text-end user-select-none">Tên</p>
            <mat-form-field appearance="outline" class="col-6 text-start container-content__block-form-field">
                <input matInput type="text" [(ngModel)]="userInfo.ten" formControlName="lastName">
            </mat-form-field>
        </div>
        <div class="flex-row d-flex align-items-center container-content__block">
            <p class="col-3 text-end user-select-none">Giới tính</p>
            <mat-form-field appearance="outline" class="col-6 text-start container-content__block-form-field">
                <mat-label>Giới tính</mat-label>
                <mat-select [(ngModel)]="userInfo.gioiTinh" formControlName="gender">
                    <mat-option value="nam">Nam</mat-option>
                    <mat-option value="nu">Nữ</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="flex-row d-flex align-items-center container-content__block">
            <p class="col-3 text-end user-select-none">Ngày sinh</p>
            <mat-form-field appearance="outline" class="col-6 text-start container-content__block-form-field" (click)="birthday.opened = true">
                <mat-label>Ngày sinh</mat-label>
                <input readonly matInput min="1900-01-01" [max]="maxDate" [matDatepicker]="birthday" [(ngModel)]="userInfo.ngaySinh" formControlName="birthday">
                <mat-datepicker-toggle matSuffix [for]="birthday"></mat-datepicker-toggle>
                <mat-datepicker #birthday></mat-datepicker>
            </mat-form-field>
        </div>
        <div class="flex-row d-flex align-items-center container-content__block">
            <p class="col-3 text-end user-select-none">Số điện thoại</p>
            <mat-form-field appearance="outline" class="col-6 text-start container-content__block-form-field">
                <input matInput type="text" [(ngModel)]="userInfo.sdt" formControlName="phoneNumber">
            </mat-form-field>
        </div>
        <div class="flex-row d-flex align-items-center container-content__block">
            <div class="col-3 text-end user-select-none">Ảnh đại diện</div>
            <input type="file" hidden #avatarUpload accept=".jpg, .png, .jpeg, .jfif, .pjpeg, .pjp, .webp" (change)="checkFileType()">
            <button mat-raised-button color="primary" class="text-start container-content__block-form-field"
                (click)="avatarUpload.click()">
                Chọn ảnh
            </button>
        </div>
        <div class="flex-row d-flex align-items-center container-content__block">
            <div class="col-3"></div>
            <div class="border-avatar container-content__block-form-field">
                <img style="width: 100%;" [src]="avatarImage">
            </div>
        </div>
        <div class="flex-row d-flex align-items-center container-content__block">
            <div class="col-3"></div>
            <button mat-raised-button color="primary" class="text-start container-content__block-form-field"
                (click)="updateUserInfo()">
                Lưu
            </button>
            <mat-progress-spinner *ngIf="spinner" color="accent" mode="indeterminate" diameter="20" style="margin-left: 0.75rem;"></mat-progress-spinner>
        </div>
    </div>
</div>
