.container-content {
    &__block {
        margin-top: 1rem;

        &-form-field {
            margin-left: 5%;
        }
    }
}

.border-avatar {
    border: 2px solid rgb(99, 151, 248);
    width: 10rem;
    min-width: 10rem;
    height: 10rem;
    border-radius: 50%;
    overflow: hidden;
}
