<mat-drawer-container class="container-sidenav">
    <mat-drawer [mode]="mode" [opened]="opened" fixedInViewport="false" class="sidenav" #sideNav>
        <div class="sidenav-item">
            <a routerLink="/admin/user-management">
                <button mat-button routerLinkActive="active" (click)="opened ? null : sideNav.toggle()">Quản lý người dùng</button>
            </a>
        </div>
        <div class="sidenav-item">
            <a routerLink="/admin/shop-management">
                <button mat-button routerLinkActive="active" (click)="opened ? null : sideNav.toggle()">Quản lý shop</button>
            </a>
        </div>
        <div class="sidenav-item">
            <a routerLink="/admin/category-management">
                <button mat-button routerLinkActive="active" (click)="opened ? null : sideNav.toggle()">Quản lý loại sản phẩm</button>
            </a>
        </div>
        <div class="sidenav-item">
            <a routerLink="/admin/report-management">
                <button mat-button routerLinkActive="active" (click)="opened ? null : sideNav.toggle()" *ngIf="!soBaoCao">Quản lý báo cáo</button>
                <button mat-button routerLinkActive="active" (click)="opened ? null : sideNav.toggle()" *ngIf="soBaoCao">Quản lý báo cáo ({{soBaoCao}})</button>
            </a>
        </div>
        <!-- <div class="sidenav-item">
            <a routerLink="/admin/coupon-management">
                <button mat-button routerLinkActive="active" (click)="opened ? null : sideNav.toggle()">Quản lý mã giảm giá</button>
            </a>
        </div> -->
        <div class="sidenav-item">
            <a routerLink="/admin/notification-management">
                <button mat-button routerLinkActive="active" (click)="opened ? null : sideNav.toggle()">Quản lý lịch thông báo</button>
            </a>
        </div>
    </mat-drawer>
    <mat-drawer-content>
        <button class="sideNavToggle" (click)="sideNav.toggle()" [class.d-none]="toggleButton">
            <mat-icon>menu</mat-icon>
        </button>
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>
