::ng-deep .ngx-timepicker {
    border: none !important;
}

::ng-deep .ngx-timepicker-control__arrow {
    height: 13px !important;
}

.mat-table {
    width: 100%;
}

.mat-column-select {
    width: 2rem;
    text-align: center;
    padding: 0 !important;
}

.mat-column-userName, .mat-column-email {
    p {
        word-break: break-all;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        display: -webkit-box;
        margin: 0;
    }
}

tr.element-row:hover {
    background: whitesmoke;
}

tr.element-row:active {
    background: #efefef;
}
