<div>
    <p mat-dialog-title class="fs-5 text-success user-select-none text-center">
        {{data.item.idThongBao && data.item.idThongBao.length ? "Cập nhật lịch thông báo" : "Thêm mới lịch thông báo"}}
    </p>
</div>
<div mat-dialog-content>
    <div [formGroup]="formControl">
        <div class="flex-row d-flex align-items-center">
            <p class="fw-bold col-3 user-select-none">Tiêu đề thông báo<span style="color: red;">(*)</span></p>
            <mat-form-field appearance="outline" class="col-9">
                <input matInput type="text" [(ngModel)]="data.item.tieuDeThongBao" formControlName="tieuDeThongBao">
                <mat-error class="user-select-none" *ngIf="f.tieuDeThongBao.hasError('required')">Chưa nhập tiêu đề thông báo</mat-error>
            </mat-form-field>
        </div>
        <div class="flex-row d-flex">
            <div class="fw-bold col-3 user-select-none">Nội dung thông báo<span style="color: red;">(*)</span></div>
            <div class="col-9">
                <ejs-richtexteditor [toolbarSettings]="tools" #formRTE formControlName="noiDungThongBao" (created)="rteCreated()"
                    [(ngModel)]="data.item.noiDungThongBao" height="20rem"></ejs-richtexteditor>
                <mat-error class="user-select-none" *ngIf="f.noiDungThongBao.hasError('required') && f.noiDungThongBao.touched">Chưa nhập nội dung thông báo</mat-error>
            </div>
        </div>
        <div class="flex-row d-flex align-items-center" style="margin-bottom: 1rem; margin-top: 1rem;">
            <div class="fw-bold col-3 user-select-none">Lên lịch thông báo<span style="color: red;">(*)</span></div>
            <mat-checkbox style="display: block;" [checked]="!data.item.coLichHen" (change)="checkGuiNgay()">Gửi ngay</mat-checkbox>
        </div>
        <div class="flex-row d-flex align-items-center" *ngIf="data.item.coLichHen">
            <p class="fw-bold col-3 user-select-none"></p>
            <mat-form-field appearance="outline" class="col-4" (click)="thoiGianHen.opened = true">
                <mat-label>Lịch thông báo</mat-label>
                <input readonly matInput [min]="minDate" [matDatepicker]="thoiGianHen" [(ngModel)]="data.item.thoiGianHen" formControlName="thoiGianHen">
                <mat-datepicker-toggle matSuffix [for]="thoiGianHen"></mat-datepicker-toggle>
                <mat-datepicker #thoiGianHen></mat-datepicker>
                <mat-error class="user-select-none" *ngIf="f.thoiGianHen.hasError('required')">Chưa nhập thời gian lên lịch</mat-error>
            </mat-form-field>
        </div>
        <div class="flex-row d-flex align-items-center" style="margin-bottom: 1rem;" *ngIf="data.item.coLichHen">
            <div class="col-3"></div>
            <div appearance="outline" class="col-4">
                <ngx-timepicker-field [format]="24" defaultTime="00:00" [controlOnly]="true" formControlName="thoiGianLenLich"></ngx-timepicker-field>
            </div>
        </div>
        <div class="flex-row d-flex align-items-center">
            <div class="fw-bold col-3 user-select-none">Gửi cho người dùng<span style="color: red;">(*)</span></div>
            <div class="col-9 user-select-none">
                <mat-checkbox formControlName="moiNguoiDung" [(ngModel)]="moiNguoiDung">Mọi người dùng</mat-checkbox>
            </div>
        </div>
        <div class="flex-row d-flex align-items-center">
            <div class="col-3"></div>
            <div class="col-9 user-select-none">
                <mat-error *ngIf="!moiNguoiDung && !selection.selected.length">Chưa chọn người dùng</mat-error>
            </div>
        </div>
        <div class="flex-row d-flex align-items-center" style="margin-bottom: 1rem; margin-top: 1rem;" *ngIf="!moiNguoiDung">
            <div class="fw-bold col-3 user-select-none">Chọn vai trò</div>
            <div class="col-9 user-select-none">
                <mat-checkbox style="display: block;" [value]="adminRole" [checked]="adminCount && adminCount === adminSelectionCount" (change)="selectRole($event)">Admin</mat-checkbox>
                <!-- <mat-checkbox style="display: block;" [value]="deliverRole" [checked]="deliverCount && deliverCount === deliverSelectionCount" (change)="selectRole($event)">Deliver</mat-checkbox> -->
                <mat-checkbox style="display: block;" [value]="customerRole" [checked]="customerCount && customerCount === customerSelectionCount" (change)="selectRole($event)">Customer</mat-checkbox>
                <mat-checkbox style="display: block;" [value]="expertRole" [checked]="expertCount && expertCount === expertSelectionCount" (change)="selectRole($event)">Expert</mat-checkbox>
            </div>
        </div>
        <div class="flex-row d-flex" *ngIf="!moiNguoiDung">
            <div class="fw-bold col-3 user-select-none">Chọn người dùng</div>
            <div class="col-9 user-select-none">
                <mat-checkbox style="display: block;" [checked]="chooseUser" (change)="chooseUser = !chooseUser;">Chọn người dùng chỉ định</mat-checkbox>
            </div>
        </div>
        <div class="flex-row d-flex align-items-center" *ngIf="!moiNguoiDung && chooseUser">
            <div class="col-3"></div>
            <div class="col-9 user-select-none">
                <mat-form-field class="col-6 user-select-none" appearance="outline" style="margin-top: 1rem;">
                    <mat-label>Tìm kiếm</mat-label>
                    <input matInput [(ngModel)]="searchString" (input)="filter()" formControlName="timKiem">
                    <mat-icon matSuffix *ngIf="searchString" (click)="clearFilter()">close</mat-icon>
                </mat-form-field>
                <table mat-table [dataSource]="listUserFilter" class="mat-elevation-z8" matSort matSortDisableClear [matSortDirection]="sortDirection" [matSortActive]="sortActive" (matSortChange)="sortData($event)">
                    <ng-container matColumnDef="select">
                        <th mat-header-cell *matHeaderCellDef>
                            <mat-checkbox (change)="$event ? masterToggle() : null"
                                        [checked]="selection.hasValue() && isAllSelected()"
                                        [indeterminate]="selection.hasValue() && !isAllSelected() && !isAllNoSelected()">
                            </mat-checkbox>
                        </th>
                        <td mat-cell *matCellDef="let element">
                            <mat-checkbox (click)="$event.stopPropagation()"
                                        (change)="$event ? selection.toggle(element.id) : null; selectUser(element)"
                                        [checked]="selection.isSelected(element.id)">
                            </mat-checkbox>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="userName">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Tên tài khoản</th>
                        <td mat-cell *matCellDef="let element">
                            <p>{{element.userName}}</p>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="email">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
                        <td mat-cell *matCellDef="let element">
                            <p>{{element.email}}</p>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true" class="user-select-none"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="element-row"
                        (click)="selection.toggle(row.id); selectUser(row)">
                    </tr>
                    <tr class="mat-row text-center" *matNoDataRow>
                        <td class="mat-cell" colspan="3">Không có dữ liệu</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<div mat-dialog-actions class="float-end">
    <button mat-raised-button color="primary" (click)="setTime()">Lưu</button>
    <button mat-raised-button mat-dialog-close>Thoát</button>
</div>
