<mat-drawer-container class="container-sidenav">
    <mat-drawer [mode]="mode" [opened]="opened" fixedInViewport="false" class="sidenav" #sideNav>
        <div class="sidenav-item">
            <a routerLink="/deliver/information">
                <button mat-button routerLinkActive="active" (click)="opened ? null : sideNav.toggle()">Đơn vị vận chuyển</button>
            </a>
        </div>
        <div class="sidenav-item">
            <a routerLink="/deliver/order-management">
                <button mat-button routerLinkActive="active" (click)="opened ? null : sideNav.toggle()">Quản lý đơn hàng</button>
            </a>
        </div>
    </mat-drawer>
    <mat-drawer-content>
        <button class="sideNavToggle" (click)="sideNav.toggle()" [class.d-none]="toggleButton">
            <mat-icon>menu</mat-icon>
        </button>
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>
