.sidenav {
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-right: rgba(131, 131, 131, 0.616) solid 2px;

    &-item {
        margin-top: 0.75rem;

        a {
            color: #000;

            button {
                font-size: 1rem;
                padding-left: 1rem;
                padding-top: 0.5rem;
                padding-bottom: 0.5rem;
                padding-right: 3rem;
                width: 100%;
                text-align: left;
            }
        }
    }
}

.active {
    background-color: rgba(192, 192, 192, 0.459);
}

.sideNavToggle {
    float: left;
    background-color: #3f51b5;

    mat-icon {
        color: white;
    }
}
