<div class="container-body" *ngIf="loaded | async">
    <div class="container-content" [formGroup]="formControl">
        <h2 class="fw-bold user-select-none">CÀI ĐẶT TÀI KHOẢN</h2>
        <div class="flex-row d-flex align-items-center container-content__block">
            <p class="col-3 text-end user-select-none">Tên đăng nhập<span style="color: red;">(*)</span></p>
            <mat-form-field appearance="outline" class="col-6 text-start container-content__block-form-field">
                <input matInput type="text" [(ngModel)]="user.userName" formControlName="userName">
                <mat-error class="user-select-none" *ngIf="f.userName.hasError('required')">Chưa nhập tên đăng nhập</mat-error>
                <mat-error class="user-select-none" *ngIf="f.userName.hasError('pattern')">Tên đăng nhập không đúng cú pháp</mat-error>
                <mat-error class="user-select-none" *ngIf="f.userName.hasError('minlength')">Tên đăng nhập quá ngắn</mat-error>
            </mat-form-field>
        </div>
        <div class="flex-row d-flex align-items-center container-content__block">
            <p class="col-3 text-end user-select-none">Email<span style="color: red;">(*)</span></p>
            <mat-form-field appearance="outline" class="col-6 text-start container-content__block-form-field">
                <input matInput type="text" [(ngModel)]="user.email" formControlName="email">
                <mat-error class="user-select-none" *ngIf="f.email.hasError('required')">Chưa nhập email</mat-error>
                <mat-error class="user-select-none" *ngIf="f.email.hasError('pattern')">Email không đúng cú pháp</mat-error>
            </mat-form-field>
        </div>
        <div *ngIf="!user.emailConfirmed then unConfirmed"></div>
        <ng-template #unConfirmed>
            <div class="flex-row d-flex align-items-center container-content__block">
                <div class="col-3"></div>
                <div class="user-select-none text-start container-content__block-form-field col-9">
                    Email của bạn chưa được xác thực, bấm vào đây để xác thực email
                </div>
            </div>
            <div class="flex-row d-flex align-items-center container-content__block">
                <div class="col-3"></div>
                <button mat-stroked-button color="primary" class="text-start container-content__block-form-field"
                    (click)="verifyEmail()">
                    Xác thực
                </button>
                <mat-progress-spinner *ngIf="verifySpinner" color="accent" mode="indeterminate" diameter="20" style="margin-left: 0.75rem;"></mat-progress-spinner>
            </div>
            <div class="flex-row d-flex align-items-center container-content__block" *ngIf="errorVerify">
                <div class="col-3"></div>
                <mat-error class="user-select-none text-start container-content__block-form-field col-9">{{errorVerify}}</mat-error>
            </div>
            <div class="flex-row d-flex align-items-center container-content__block" *ngIf="informationVerify">
                <div class="col-3"></div>
                <div class="user-select-none text-start container-content__block-form-field col-9">{{informationVerify}}</div>
            </div>
        </ng-template>
        <div class="flex-row d-flex align-items-center container-content__block">
            <div class="col-3"></div>
            <mat-checkbox class="text-start container-content__block-form-field"
                (click)="changePasswordToggle()">
                Đổi mật khẩu
            </mat-checkbox>
        </div>
        <div *ngIf="changePasswordPanel">
            <div class="flex-row d-flex align-items-center container-content__block">
                <p class="col-3 text-end user-select-none">Mật khẩu cũ<span style="color: red;">(*)</span></p>
                <mat-form-field appearance="outline" class="col-6 text-start container-content__block-form-field">
                    <input matInput [type]="oldPasswordType" [(ngModel)]="user.oldPassword" formControlName="oldPassword">
                    <mat-icon matSuffix *ngIf="user.oldPassword" (mouseenter)="oldPasswordToggle()" (mouseleave)="oldPasswordToggle()">remove_red_eye</mat-icon>
                    <mat-error class="user-select-none" *ngIf="f.oldPassword.hasError('required')">Chưa nhập mật khẩu cũ</mat-error>
                    <mat-error class="user-select-none" *ngIf="f.oldPassword.hasError('pattern')">Mật khẩu không đúng cú pháp</mat-error>
                    <mat-error class="user-select-none" *ngIf="f.oldPassword.hasError('minlength')">Mật khẩu quá ngắn</mat-error>
                </mat-form-field>
            </div>
            <div class="flex-row d-flex align-items-center container-content__block">
                <p class="col-3 text-end user-select-none">Mật khẩu mới<span style="color: red;">(*)</span></p>
                <mat-form-field appearance="outline" class="col-6 text-start container-content__block-form-field">
                    <input matInput [type]="newPasswordType" [(ngModel)]="user.newPassword" formControlName="newPassword" (change)="checkPassword()">
                    <mat-icon matSuffix *ngIf="user.newPassword" (mouseenter)="newPasswordToggle()" (mouseleave)="newPasswordToggle()">remove_red_eye</mat-icon>
                    <mat-error class="user-select-none" *ngIf="f.newPassword.hasError('required')">Chưa nhập mật khẩu mới</mat-error>
                    <mat-error class="user-select-none" *ngIf="f.newPassword.hasError('pattern')">Mật khẩu không đúng cú pháp</mat-error>
                    <mat-error class="user-select-none" *ngIf="f.newPassword.hasError('minlength')">Mật khẩu quá ngắn</mat-error>
                </mat-form-field>
            </div>
            <div class="flex-row d-flex align-items-center container-content__block">
                <p class="col-3 text-end user-select-none">Mật khẩu xác nhận<span style="color: red;">(*)</span></p>
                <mat-form-field appearance="outline" class="col-6 text-start container-content__block-form-field">
                    <input matInput [type]="reNewPasswordType" [(ngModel)]="user.reNewPassword" formControlName="reNewPassword" (change)="checkPassword()">
                    <mat-icon matSuffix *ngIf="user.reNewPassword" (mouseenter)="reNewPasswordToggle()" (mouseleave)="reNewPasswordToggle()">remove_red_eye</mat-icon>
                    <mat-error class="user-select-none" *ngIf="f.reNewPassword.hasError('required')">Chưa nhập mật khẩu xác nhận</mat-error>
                    <mat-error class="user-select-none" *ngIf="f.reNewPassword.hasError('notMatched')">Mật khẩu không khớp</mat-error>
                    <mat-error class="user-select-none" *ngIf="f.reNewPassword.hasError('pattern')">Mật khẩu không đúng cú pháp</mat-error>
                    <mat-error class="user-select-none" *ngIf="f.reNewPassword.hasError('minlength')">Mật khẩu quá ngắn</mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="flex-row d-flex align-items-center container-content__block" *ngIf="error">
            <div class="col-3"></div>
            <mat-error class="user-select-none text-start container-content__block-form-field col-9">{{error}}</mat-error>
        </div>
        <div class="flex-row d-flex align-items-center container-content__block">
            <div class="col-3"></div>
            <button mat-raised-button color="primary" class="text-start container-content__block-form-field"
                (click)="checkUserName()">
                Lưu
            </button>
            <mat-progress-spinner *ngIf="updateSpinner" color="accent" mode="indeterminate" diameter="20" style="margin-left: 0.75rem;"></mat-progress-spinner>
        </div>
    </div>
</div>
